Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

CVF-14, CVF-32: OrderState struct; separate storage mapping for 1155 cancellations so orders can be cancelled by nonce
  contracts/zero-ex/contracts/src/features/interfaces/IERC1155OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/nft_orders/ERC1155OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/nft_orders/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/storage/LibERC1155OrdersStorage.sol
  contracts/zero-ex/contracts/test/TestNFTOrderPresigner.sol
  contracts/zero-ex/test/features/erc1155_orders_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

chore: add changelog entry for asset-swapper
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: incorrect output scaling when input is less than desired amount (#401)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: UniswapV3Sampler use QuoterV2 for sells WIP
  packages/asset-swapper/contracts/src/UniswapV3Sampler.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

refactor: separate logic to remove stack too deep issue
  packages/asset-swapper/contracts/src/UniswapV3Sampler.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

refactor: clean up UniswapV3Sampler & remove old Quoter interface
  packages/asset-swapper/contracts/src/UniswapV3Sampler.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

feat: Use initializedTicksCrossed from Uniswap QuoterV2 for gas est.
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: UniswapV3Sampler for QuoterV2 buys WIP
  packages/asset-swapper/contracts/src/UniswapV3Sampler.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix: use Quoter gasUsed instead of estimating gas from pools + ticks
  packages/asset-swapper/contracts/src/UniswapV3Sampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

refactor: unify code for buys and sells while handling stack too deep
  packages/asset-swapper/contracts/src/UniswapV3Sampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

refactor: use named function instead of fat arrow
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: fallback to legacy Uniswap V3 gas estimate if we can't get gasUsed
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: use mean gas price from all sample estimating UniV3 gas schedule
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: add asset-swapper changelog entry
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: Improve Uniswap V3 gas schedule (#397)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/UniswapV3Sampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

fix: pass EP overhead to Path & use path comparison all & vip routes
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: add changelog entry for asset-swapper
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: router RFQ underutilization (#413)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Revert "feat: Improve Uniswap V3 gas schedule (#397)"
  packages/asset-swapper/contracts/src/UniswapV3Sampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

chore: Add changelog entry
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: Revert Improve Uniswap V3 gas schedule (#397) (#419)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/UniswapV3Sampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Fix a bug that validator failed to read maker balance from DB (#829)
  src/services/postgres_rfqt_firm_quote_validator.ts
Owners: none

fix: Prevent BalancerV2/BeethovenX pool explosion
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/balancer_v2_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

CHANGELOG
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Update protocol docs
  docs/additional/bounties.rst
  docs/additional/exceptional_erc20s.rst
  docs/additional/releases.rst
  docs/basics/addresses.rst
  docs/basics/allowances.rst
  docs/basics/events.rst
  docs/basics/orders.rst
  docs/conf.py
  docs/scripts/generate_addresses.py
Owners: none

Added functions
  docs/basics/functions.rst
Owners: none

fix table
  docs/additional/bounties.rst
Owners: none

eligbility section?
  docs/additional/bounties.rst
  docs/advanced/erc20_transformations.rst
Owners: none

Trader.xyz shoutout
  docs/basics/orders.rst
Owners: none

Up to
  docs/additional/bounties.rst
Owners: none

Update protocol docs (#421)
  docs/additional/bounties.rst
  docs/additional/exceptional_erc20s.rst
  docs/additional/releases.rst
  docs/advanced/erc20_transformations.rst
  docs/basics/addresses.rst
  docs/basics/allowances.rst
  docs/basics/events.rst
  docs/basics/functions.rst
  docs/basics/orders.rst
  docs/conf.py
  docs/scripts/generate_addresses.py
Owners: none

fix: 1 base unit output amount being scale down, rounding to 0 output
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: add asset-swapper changelog entry
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: round scaled output to base units before clamping
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: 1 base unit output amount being scale down, rounding to 0 output (#422)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25
