Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @dekz, @dextracker, @kyu-c

Prettier missed one /:
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersSettlement.sol
Owners: @dekz, @dextracker

keep bridge adapter the same
  contracts/zero-ex/contracts/src/transformers/bridges/OptimismBridgeAdapter.sol
Owners: @dekz, @dextracker

yarn prettier
  contracts/erc20/src/artifacts.ts
  contracts/erc20/test/artifacts.ts
  contracts/zero-ex/contracts/src/transformers/bridges/OptimismBridgeAdapter.sol
  contracts/zero-ex/test/artifacts.ts
Owners: @dekz, @dextracker

remove token endpoint and related code (#1004)
  src/handlers/swap_handlers.ts
  src/routers/swap_router.ts
Owners: none

wip: stash
  contracts/zero-ex/contracts/src/features/OtcOrdersFeature.sol
  contracts/zero-ex/contracts/test/foundry/features/OtcOrdersFeature.t.sol
  contracts/zero-ex/contracts/test/foundry/utils/TestERC20.sol
Owners: @dekz, @dextracker

Upgrade @0x/protocol-utils which had an incorrect version of `FillQuoteTransformerOrderType` (#1005)
  package.json
  yarn.lock
Owners: none

Revert "feat: rfqtv2 calldata generation (#979)" (#1007)
  package.json
  src/asset-swapper/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  src/asset-swapper/quote_consumers/multiplex_encoders.ts
  src/asset-swapper/quote_consumers/quote_consumer_utils.ts
  src/asset-swapper/utils/market_operation_utils/types.ts
  src/asset-swapper/utils/quote_report_generator.ts
  yarn.lock
Owners: none

Added cUSD as an intermediate token for Celo (#1008)
  src/asset-swapper/utils/market_operation_utils/constants.ts
Owners: none

Do not use Uniswap v2 for stETH (#1009)
  src/asset-swapper/utils/market_operation_utils/constants.ts
  src/asset-swapper/utils/market_operation_utils/sampler_operations.ts
Owners: none

Optimize `UniswapV3Sampler` by limiting the number of paths to sample from (#999)
  contracts/src/UniswapV3Sampler.sol
Owners: @dekz, @dextracker

Do not use Uniswap v3 for stETH (#1010)
  src/asset-swapper/utils/market_operation_utils/sampler_operations.ts
Owners: none

Adding Twitter button + fix minor typo (#1011)
  README.md
Owners: none

Updated SDK package. Added new entities to sg query for new pool types. Polygon supports linear pools.
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/sgPoolDataService.ts
  yarn.lock
Owners: @dekz, @dextracker, @kyu-c

Replace branch-level Circle CI cache with commit-level cache
  .circleci/config.yml
Owners: @dekz

Replace branch-level Circle CI cache with commit-level cache (#599)
  .circleci/config.yml
Owners: @dekz

feat: gasless affiliate fees (#1003)
  package.json
  src/asset-swapper/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  src/asset-swapper/types.ts
  src/services/meta_transaction_service.ts
  src/services/swap_service.ts
  src/types.ts
  src/utils/parse_utils.ts
  src/utils/service_utils.ts
  test/asset-swapper/exchange_proxy_swap_quote_consumer_test.ts
  test/service_utils_test.ts
Owners: none

feat: add logging for no native token conversion (#1013)
  src/asset-swapper/utils/market_operation_utils/index.ts
Owners: none

Update `forge-std` and fix `foundry.toml`
  contracts/zero-ex/foundry.toml
Owners: @dekz, @dextracker

Update `forge-std` and fix `foundry.toml` (#600)
  contracts/zero-ex/foundry.toml
Owners: @dekz, @dextracker

Remove Ropsten and Rinkeby addresses
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/contract-addresses/test/addresses_test.ts
Owners: @dekz, @dextracker, @kyu-c

Remove Ropsten and Rinkeby addresses (#597)
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/contract-addresses/test/addresses_test.ts
Owners: @dekz, @dextracker, @kyu-c

Updated CHANGELOGS & MD docs
  contracts/erc20/CHANGELOG.json
  contracts/erc20/CHANGELOG.md
  contracts/erc20/src/artifacts.ts
  contracts/erc20/test/artifacts.ts
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/CHANGELOG.md
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/utils/CHANGELOG.json
  contracts/utils/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  contracts/zero-ex/test/artifacts.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.md
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
Owners: @dekz, @dextracker, @kyu-c

Publish
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers/package.json
  packages/protocol-utils/package.json
Owners: @dekz, @dextracker, @kyu-c

Remove Ropsten and Rinkeby references (#1014)
  package.json
  src/app.ts
  src/asset-swapper/utils/market_operation_utils/constants.ts
  src/config.ts
  yarn.lock
Owners: none

Fix valid pool check logic in `UniswapV3Sampler` (#1015)
  contracts/src/UniswapV3Sampler.sol
Owners: @dekz, @dextracker

swap rfq and otc in fillQuoteTransformerDataEncoder to match our enum
  packages/protocol-utils/src/transformer_utils.ts
Owners: @dekz

changelog
  packages/protocol-utils/CHANGELOG.json
Owners: @dekz

fix changelog and move otcOrders field to last in fillQuoteTransformerDataEncoder
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/src/transformer_utils.ts
Owners: @dekz

prettier
  contracts/erc20/src/artifacts.ts
  contracts/erc20/test/artifacts.ts
  contracts/zero-ex/test/artifacts.ts
Owners: @dekz, @dextracker

move otcOrders array to end of fqtTransformData
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
Owners: @dekz, @dextracker

Fix: FQT otc order encoding logic (#596)
  contracts/erc20/src/artifacts.ts
  contracts/erc20/test/artifacts.ts
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/test/artifacts.ts
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/src/transformer_utils.ts
Owners: @dekz, @dextracker

Run prettier after `build` in run:publish:gha`
  package.json
Owners: none

fixing issue that broke buying native token (#1016)
  src/asset-swapper/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: none

Upgrade `@0x/contracts-gen`
  contracts/erc20/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  yarn.lock
Owners: @dekz, @dextracker

Upgrade `@0x/contracts-gen` (#602)
  contracts/erc20/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  yarn.lock
Owners: @dekz, @dextracker

Updated CHANGELOGS & MD docs
  contracts/erc20/CHANGELOG.json
  contracts/erc20/CHANGELOG.md
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/utils/CHANGELOG.json
  contracts/utils/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
Owners: @dekz, @dextracker

Publish
  contracts/erc20/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/protocol-utils/package.json
Owners: @dekz, @dextracker, @kyu-c

adding error when buyAmount would be negative, likely because of fees (#1019)
  src/services/swap_service.ts
Owners: none

chore: Use config variable to switch on/off gasless fee (#1017)
  src/config.ts
  src/utils/service_utils.ts
Owners: none

feat: Updated SDK package. Added new entities to sg query for new pool type. (#1012)
  package.json
  src/asset-swapper/utils/market_operation_utils/pools_cache/balancer_v2_swap_info_cache.ts
  src/asset-swapper/utils/market_operation_utils/pools_cache/sgPoolDataService.ts
  yarn.lock
Owners: none

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/

# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file

# https://git-scm.com/docs/gitignore#_pattern_format

packages/asset-swapper/ @dekz @dextracker @kyu-c

# Dev tools & setup

.circleci/ @dekz
packages/contract-addresses/ @dekz @dextracker @kyu-c
packages/contract-artifacts/ @dekz
packages/protocol-utils/ @dekz

# Protocol/smart contracts

contracts/ @dekz @dextracker
