Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25

`@0x/contracts-zero-ex`: More SafeMath in native orders
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Add more limit order tests
  contracts/zero-ex/test/features/limit_orders_feature_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: add limit orders feature `@0x/contracts-utils`: add `uint128` functions to `LibSafeMathV06`
  contracts/utils/CHANGELOG.json
  contracts/utils/contracts/src/v06/LibSafeMathV06.sol
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/IZeroEx.sol
  contracts/zero-ex/contracts/src/errors/LibLimitOrdersRichErrors.sol
  contracts/zero-ex/contracts/src/features/ILimitOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/LimitOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/libs/LibLimitOrder.sol
  contracts/zero-ex/contracts/src/fixins/FixinProtocolFees.sol
  contracts/zero-ex/contracts/src/migrations/FullMigration.sol
  contracts/zero-ex/contracts/src/storage/LibLimitOrdersStorage.sol
  contracts/zero-ex/contracts/src/storage/LibStorage.sol
  contracts/zero-ex/contracts/test/TestFixinProtocolFees.sol
  contracts/zero-ex/contracts/test/TestLibLimitOrder.sol
  contracts/zero-ex/contracts/test/TestLimitOrdersFeature.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/eip712_utils.ts
  contracts/zero-ex/src/migration.ts
  contracts/zero-ex/src/orders.ts
  contracts/zero-ex/src/revert_errors.ts
  contracts/zero-ex/src/signature_utils.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/limit_orders_feature_test.ts
  contracts/zero-ex/test/full_migration_test.ts
  contracts/zero-ex/test/lib_limit_orders_test.ts
  contracts/zero-ex/test/protocol_fees_test.ts
  contracts/zero-ex/test/utils/migration.ts
  contracts/zero-ex/test/utils/orders.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  docs/basics/orders.rst
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

update orders docs
  docs/basics/orders.rst
Owners: none

`@0x/contracts-zero-ex`: Fix typos
  contracts/zero-ex/test/utils/orders.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Add method selectors output to generated artifacts
  contracts/zero-ex/compiler.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Export more utils
  contracts/zero-ex/src/index.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

rebuild after rebase
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contract-addresses`: Update ganache snapshot addresses
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Address review feedback
  contracts/zero-ex/contracts/src/features/ILimitOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/LimitOrdersFeature.sol
  contracts/zero-ex/src/migration.ts
  contracts/zero-ex/src/signature_utils.ts
  contracts/zero-ex/test/features/limit_orders_feature_test.ts
  contracts/zero-ex/test/protocol_fees_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contract-addresses`: Fix changelog booboo
  packages/contract-addresses/CHANGELOG.json
Owners: @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Add `getProtocolFeeMultiplier()` and `transferProtocolFeesForPools()` to `NativeOrdersFeature`.
  contracts/zero-ex/contracts/src/features/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Add more tests to `NativeOrdersFeature`
  contracts/zero-ex/test/features/limit_orders_feature_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

update orders docs
  docs/basics/orders.rst
Owners: none

EP Native Orders (#27)
  contracts/utils/CHANGELOG.json
  contracts/utils/contracts/src/v06/LibSafeMathV06.sol
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/compiler.json
  contracts/zero-ex/contracts/src/IZeroEx.sol
  contracts/zero-ex/contracts/src/errors/LibNativeOrdersRichErrors.sol
  contracts/zero-ex/contracts/src/external/FeeCollector.sol
  contracts/zero-ex/contracts/src/features/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/libs/LibNativeOrder.sol
  contracts/zero-ex/contracts/src/fixins/FixinProtocolFees.sol
  contracts/zero-ex/contracts/src/migrations/FullMigration.sol
  contracts/zero-ex/contracts/src/storage/LibNativeOrdersStorage.sol
  contracts/zero-ex/contracts/src/storage/LibStorage.sol
  contracts/zero-ex/contracts/test/TestBridge.sol
  contracts/zero-ex/contracts/test/TestFixinProtocolFees.sol
  contracts/zero-ex/contracts/test/TestLibNativeOrder.sol
  contracts/zero-ex/contracts/test/TestNativeOrdersFeature.sol
  contracts/zero-ex/contracts/test/TestTransformerBase.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/eip712_utils.ts
  contracts/zero-ex/src/index.ts
  contracts/zero-ex/src/migration.ts
  contracts/zero-ex/src/orders.ts
  contracts/zero-ex/src/revert_errors.ts
  contracts/zero-ex/src/signature_utils.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/limit_orders_feature_test.ts
  contracts/zero-ex/test/full_migration_test.ts
  contracts/zero-ex/test/lib_limit_orders_test.ts
  contracts/zero-ex/test/protocol_fees_test.ts
  contracts/zero-ex/test/utils/migration.ts
  contracts/zero-ex/test/utils/orders.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  docs/basics/orders.rst
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

modernized the code based on latest spec
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

prettify
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Adjusted fee calculation for comparisonPrice function
  packages/asset-swapper/src/utils/market_operation_utils/comparison_price.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/comparison_price_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

use available OptimalPathRate object
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: Update AS to latest gas schedule + decimals from sampler (#422)
  package.json
  src/handlers/swap_handlers.ts
  src/services/swap_service.ts
  test/meta_transaction_test.ts
  test/price_comparison_utils_test.ts
  test/utils/mocks.ts
  yarn.lock
Owners: none

chore: Add Matcha staging smoke test instructions in PR template
  PULL_REQUEST_TEMPLATE.md
Owners: none

fix lint error in test, separate out fee calculation
  packages/asset-swapper/src/utils/market_operation_utils/comparison_price.ts
  packages/asset-swapper/test/comparison_price_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Add checkAllowance flag to LibTokenSpender.spendERC20Tokens, use the check in LiquidityProviderFeature
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/LiquidityProviderFeature.sol
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/TransformERC20Feature.sol
  contracts/zero-ex/contracts/src/features/libs/LibTokenSpender.sol
  contracts/zero-ex/contracts/test/TestLibTokenSpender.sol
  contracts/zero-ex/test/features/liquidity_provider_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add checkAllowance flag to LibTokenSpender.spendERC20Tokens (#39)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/LiquidityProviderFeature.sol
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/TransformERC20Feature.sol
  contracts/zero-ex/contracts/src/features/libs/LibTokenSpender.sol
  contracts/zero-ex/contracts/test/TestLibTokenSpender.sol
  contracts/zero-ex/test/features/liquidity_provider_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Fixed market operation utils test, added additional checks for fee schedule
  packages/asset-swapper/src/utils/market_operation_utils/comparison_price.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

removed unused dep, prettier
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Improved ComparisonPrice function (#32)
  packages/asset-swapper/src/utils/market_operation_utils/comparison_price.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/comparison_price_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: Improved comparison price function for RFQT market makers (#421)
  package.json
  yarn.lock
Owners: none

fix: [asset-swapper] disable off-chain sampling for Balancer and CREAM
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Modify Balancer off-chain test to expect only pools
  packages/asset-swapper/test/dex_sampler_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

CHANGELOG
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: [asset-swapper] disable off-chain sampling for Balancer and CREAM (#41)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/dex_sampler_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: disable balancer/cream off-chain sampling (#425)
  package.json
  yarn.lock
Owners: none

feat: [asset-swapper] fetch related tokens in Balancer query
  packages/asset-swapper/src/utils/market_operation_utils/balancer_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

protocol fee / staking integration tests
  contracts/integrations/contracts/test/TestFixinProtocolFeesIntegration.sol
  contracts/integrations/contracts/test/TestStaking.sol
  contracts/integrations/contracts/test/TestWethIntegration.sol
  contracts/integrations/package.json
  contracts/integrations/test/artifacts.ts
  contracts/integrations/test/wrappers.ts
  contracts/integrations/test/zero-ex/protocol_fees_staking_test.ts
  contracts/integrations/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

lint
  contracts/.solhint.json
  contracts/integrations/contracts/test/TestFixinProtocolFeesIntegration.sol
  contracts/integrations/contracts/test/TestStaking.sol
  contracts/integrations/contracts/test/TestWethIntegration.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

prettier
  contracts/integrations/test/zero-ex/protocol_fees_staking_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Export `GREEDY_TOKENS` list
  contracts/zero-ex/src/constants.ts
  contracts/zero-ex/src/index.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

disable `no-empty-blocks` solidity linter rule
  contracts/.solhint.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25
