Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

Added link to `Transformer Deployer` section + fixeed safety checklist in Features
  docs/advanced/erc20_transformations.rst
  docs/architecture/features.rst
Owners: none

return unoptimized alternatives in SwapQuote
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/quote_consumers/utils.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/utils/swap_quote.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

reanme function to Async
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Added link to `Transformer Deployer` section + fixeed safety checklist in Features (#61)
  docs/advanced/erc20_transformations.rst
  docs/architecture/features.rst
Owners: none

reanme function to Async (#63)
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: [asset-swapper] Add Crypto.com as a source
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Disable hop sources to avoid excess inaccuracy
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Added CryptoCom Bridge and FQT rollup
  contracts/asset-proxy/contracts/src/bridges/CryptoComBridge.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAdapterAddresses.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCryptoCom.sol
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Exclude in tests
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

update test
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Deploy CryptoCom bridge
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Update package.json
  contracts/zero-ex/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CHANGELOGs
  contracts/zero-ex/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: [asset-swapper] Add Crypto.com as a source (#43)
  contracts/asset-proxy/contracts/src/bridges/CryptoComBridge.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAdapterAddresses.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCryptoCom.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: [asset-swapper] support selling entire balance (#37)
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/test/exchange_proxy_swap_quote_consumer_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Added rough cofix sampling contracts
  contracts/utils/contracts/src/DeploymentConstants.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAdapterAddresses.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCoFiX.sol
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/contracts/src/CoFiXSampler.sol
  packages/asset-swapper/contracts/src/DeploymentConstants.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/interfaces/ICoFiX.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

use Nest Vote Factory for latest oracle
  packages/asset-swapper/contracts/src/CoFiXSampler.sol
  packages/asset-swapper/contracts/src/DeploymentConstants.sol
  packages/asset-swapper/contracts/src/interfaces/ICoFiX.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

WIP buys
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  packages/asset-swapper/contracts/src/CoFiXSampler.sol
  packages/asset-swapper/contracts/src/DeploymentConstants.sol
  packages/asset-swapper/contracts/src/interfaces/ICoFiX.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Handle the edgecase where the balances in the contract are lower then the requested maker token amount
  contracts/utils/contracts/src/DeploymentConstants.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  packages/asset-swapper/contracts/src/CoFiXSampler.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Refactor to use CoFiX Factory as entrypoint
  contracts/utils/contracts/src/DeploymentConstants.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  packages/asset-swapper/contracts/src/CoFiXSampler.sol
  packages/asset-swapper/contracts/src/DeploymentConstants.sol
  packages/asset-swapper/contracts/src/interfaces/ICoFiX.sol
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
  packages/asset-swapper/test/exchange_proxy_swap_quote_consumer_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Bump to dev-utils 4.1.0
  contracts/test-utils/package.json
  packages/asset-swapper/package.json
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

test protocol fees only on native
  packages/asset-swapper/test/quote_simulation_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

re-add after rebase
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

`@0x/contracts-zero-ex`: Govern `FeeCollector`s through a separate `FeeCollectorController` contract.
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/external/FeeCollectorController.sol
  contracts/zero-ex/contracts/src/external/LibFeeCollector.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/fixins/FixinProtocolFees.sol
  contracts/zero-ex/contracts/test/TestFeeCollectorController.sol
  contracts/zero-ex/contracts/test/TestFixinProtocolFees.sol
  contracts/zero-ex/contracts/test/TestMetaTransactionsNativeOrdersFeature.sol
  contracts/zero-ex/contracts/test/TestNativeOrdersFeature.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/migration.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/protocol_fees_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Update contracts/zero-ex/contracts/src/external/FeeCollectorController.sol
  contracts/zero-ex/contracts/src/external/FeeCollectorController.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contract-addresses`: Update ganache snapshot addresses.
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dorothy-zbornak, @mzhu25

`@0x/contracts-integrations`: Fix broken EP protocol fees test. `@0x/contracts-integrations`: Make this package private.
  contracts/integrations/contracts/test/TestFixinProtocolFeesIntegration.sol
  contracts/integrations/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Apply suggestions from code review
  contracts/zero-ex/contracts/src/external/FeeCollectorController.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

rebase
  contracts/zero-ex/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

EP: FeeCollectorController (#59)
  contracts/integrations/package.json
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/external/FeeCollectorController.sol
  contracts/zero-ex/contracts/src/external/LibFeeCollector.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/fixins/FixinProtocolFees.sol
  contracts/zero-ex/contracts/test/TestFeeCollectorController.sol
  contracts/zero-ex/contracts/test/TestFixinProtocolFees.sol
  contracts/zero-ex/contracts/test/TestMetaTransactionsNativeOrdersFeature.sol
  contracts/zero-ex/contracts/test/TestNativeOrdersFeature.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/migration.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/protocol_fees_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

refactor: dedupe
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

updated releases
  docs/additional/releases.rst
Owners: none

Return unoptimized quote in SwapQuote (#62)
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/quote_consumers/utils.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/utils/swap_quote.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

updated releases (#64)
  docs/additional/releases.rst
Owners: none

add changelog and comments to pr #62
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: [asset-swapper] replace Uniswap (V1) with Sushiswap in fee sources
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Update `compiler.json`
  contracts/zero-ex/compiler.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

update org deps and regen yarn lock
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  package.json
  packages/asset-swapper/package.json
  packages/contract-artifacts/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix `@0x/contracts-gen` being pinned (why?)
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix: use correct decimal precision for price and price comparisons (#429)
  src/services/swap_service.ts
  src/utils/price_comparison_utils.ts
  test/price_comparison_utils_test.ts
Owners: none

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25
