Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @dekz, @dextracker, @kyu-c

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/

# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file

# https://git-scm.com/docs/gitignore#_pattern_format

packages/asset-swapper/ @dekz @dextracker @kyu-c

# Dev tools & setup

.circleci/ @dekz
packages/contract-addresses/ @dekz @dextracker @kyu-c
packages/contract-artifacts/ @dekz
packages/protocol-utils/ @dekz

# Protocol/smart contracts

contracts/ @dekz @dextracker

Require `EXCLUDED_SOURCES` to be manually updated for a new chain (#907)
  src/config.ts
Owners: none

Use @0x/fast-abi instead of deprecated fast-abi
  packages/asset-swapper/package.json
  packages/asset-swapper/src/swap_quoter.ts
  yarn.lock
Owners: @dekz, @dextracker, @kyu-c

Use @0x/fast-abi instead of deprecated fast-abi (#540)
  packages/asset-swapper/package.json
  packages/asset-swapper/src/swap_quoter.ts
  yarn.lock
Owners: @dekz, @dextracker, @kyu-c

fix yarn.lock
  yarn.lock
Owners: none

Update WooFi sampler logicand addresses.json w/ new FQT's
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

drop a line in the changelog
  contracts/zero-ex/CHANGELOG.json
Owners: @dekz, @dextracker

feat: add Foundry support to contracts/zero-ex (#534)
  .circleci/config.yml
  .gitignore
  .gitmodules
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/README.md
  contracts/zero-ex/compiler.json
  contracts/zero-ex/contracts/test/foundry/ContractTest.sol
  contracts/zero-ex/foundry.toml
  contracts/zero-ex/package.json
  yarn.lock
Owners: @dekz, @dextracker

lowercase addresses
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

lowercase addresses (#542)
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

changelogs
  packages/asset-swapper/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
Owners: @dekz, @dextracker, @kyu-c

PR #
  packages/asset-swapper/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
Owners: @dekz, @dextracker, @kyu-c

PR #
  packages/asset-swapper/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
Owners: @dekz, @dextracker, @kyu-c

changelogs
  packages/asset-swapper/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
Owners: @dekz, @dextracker, @kyu-c

Move woofi tokens to constant.ts and run prettier
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @dekz, @dextracker, @kyu-c

Move woofi tokens to constant.ts and run prettier (#544)
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @dekz, @dextracker, @kyu-c

Delete RfqBlockchainUtils and remove ethers (#910)
  package.json
  src/utils/rfq_blockchain_utils.ts
  test/rfq_blockchain_utils_test.ts
  yarn.lock
Owners: none

chore: Upgrade @0x/subproviders and add missing `publicInterfaceContracts` [TKR-484] (#917)
  package.json
  src/artifacts.ts
  src/services/meta_transaction_service.ts
  src/wrappers.ts
  tsconfig.json
  yarn.lock
Owners: none

Updated CHANGELOGS & MD docs
  contracts/erc20/CHANGELOG.json
  contracts/erc20/CHANGELOG.md
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/CHANGELOG.md
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/utils/CHANGELOG.json
  contracts/utils/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.md
  contracts/zero-ex/compiler.json
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.md
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
Owners: @dekz, @dextracker, @kyu-c

Publish
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers/package.json
  packages/protocol-utils/package.json
Owners: @dekz, @dextracker, @kyu-c

Fix Polygon and Ganache FillQuoteTransformer addresses
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

Fix Polygon and Ganache FillQuoteTransformer addresses (#547)
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

Updated CHANGELOGS & MD docs
  contracts/erc20/CHANGELOG.json
  contracts/erc20/CHANGELOG.md
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/CHANGELOG.md
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/utils/CHANGELOG.json
  contracts/utils/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  contracts/zero-ex/test/artifacts.ts
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.md
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
Owners: @dekz, @dextracker, @kyu-c

Publish
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers/package.json
  packages/protocol-utils/package.json
Owners: @dekz, @dextracker, @kyu-c

Upgrade 0x dependencies for WOOFi (#919)
  package.json
  yarn.lock
Owners: none

Remove `CacheClient` and redis (#914)
  docker-compose-test.yml
  docker-compose.yml
  package.json
  src/config.ts
  src/constants.ts
  src/utils/cache_client.ts
  test/docker-compose.yml
  test/utils/deployment.ts
  yarn.lock
Owners: none

Remove outdated references to `exchange` contract in `asset-swapper`
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @dekz, @dextracker, @kyu-c

Delete unused addresses in addresses.json and update index.ts
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
Owners: @dekz, @dextracker, @kyu-c

Update contract wrappers
  packages/contract-wrappers/src/contract_wrappers.ts
  packages/contract-wrappers/src/contract_wrappers_config_schema.ts
Owners: none

Update CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.json
Owners: @dekz, @dextracker, @kyu-c

chore: Remove unused addresses in addresses.json [TKR-519] (#548)
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/contract_wrappers.ts
  packages/contract-wrappers/src/contract_wrappers_config_schema.ts
Owners: @dekz, @dextracker, @kyu-c

Install test dev dependencies and configure circleci
  .circleci/config.yml
  packages/contract-addresses/package.json
  packages/contract-addresses/test/addresses_test.ts
  packages/contract-addresses/tsconfig.json
  yarn.lock
Owners: @dekz, @dextracker, @kyu-c

Add lowercase check and transformer validity check
  packages/contract-addresses/package.json
  packages/contract-addresses/test/addresses_test.ts
Owners: @dekz, @dextracker, @kyu-c

Implement `isValidDeployedAddress` to replace `findTransformerNonce` of `@0x/protocol-utils` (circular dependency)
  packages/contract-addresses/package.json
  packages/contract-addresses/test/addresses_test.ts
  yarn.lock
Owners: @dekz, @dextracker, @kyu-c

chore: Add checks for `addresses.json` [TKR-519] (#549)
  .circleci/config.yml
  packages/contract-addresses/package.json
  packages/contract-addresses/test/addresses_test.ts
  packages/contract-addresses/tsconfig.json
  yarn.lock
Owners: @dekz, @dextracker, @kyu-c

offboard cream
  packages/asset-swapper/package.json
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/cream_pools_cache.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/pools_cache_test.ts
  yarn.lock
Owners: @dekz, @dextracker, @kyu-c

changelog
  packages/asset-swapper/CHANGELOG.json
Owners: @dekz, @dextracker, @kyu-c

remove BalancerFillData (unused)
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
Owners: @dekz, @dextracker, @kyu-c

Offboard Cream (#546)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/package.json
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/cream_pools_cache.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/pools_cache_test.ts
  yarn.lock
Owners: @dekz, @dextracker, @kyu-c

feat: Do not build images on Drone (#920)
  .dockerignore
  .github/workflows/docker.yml
Owners: none

feat: Do not deploy from unmerged branches (#922)
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
  .github/workflows/pr_check.yml
Owners: none
