Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @dekz, @dextracker, @kyu-c

fix: Bump deps to include arbitrum + arbitrum-rinkeby chain IDs (#939)
  package.json
  src/asset-swapper/utils/market_operation_utils/bridge_source_utils.ts
  src/asset-swapper/utils/market_operation_utils/constants.ts
  src/config.ts
  yarn.lock
Owners: none

Simplify SamplerMetrics (#937)
  src/asset-swapper/index.ts
  src/asset-swapper/types.ts
  src/asset-swapper/utils/market_operation_utils/index.ts
  src/asset-swapper/utils/market_operation_utils/path_optimizer.ts
  src/asset-swapper/utils/market_operation_utils/types.ts
  src/services/swap_service.ts
  src/utils/sampler_metrics.ts
Owners: none

Log sampler buy gas usage (#938)
  src/asset-swapper/utils/market_operation_utils/index.ts
  src/utils/sampler_metrics.ts
Owners: none

Delete unused addresses in addresses.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
Owners: @dekz, @dextracker, @kyu-c

Update contract wrappers
  packages/contract-wrappers/src/contract_wrappers.ts
  packages/contract-wrappers/src/contract_wrappers_config_schema.ts
Owners: none

Update CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.json
Owners: @dekz, @dextracker, @kyu-c

chore: Cleanup contract addresses [TKR-530] (#564)
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/contract_wrappers.ts
  packages/contract-wrappers/src/contract_wrappers_config_schema.ts
Owners: @dekz, @dextracker, @kyu-c

chore: Replace tslint with eslint [TKR-529] (#940)
  .eslintrc.json
  package.json
  src/asset-swapper/swap_quoter.ts
  src/asset-swapper/utils/irfq_client.ts
  src/asset-swapper/utils/market_operation_utils/bridge_source_utils.ts
  src/asset-swapper/utils/market_operation_utils/fills.ts
  src/asset-swapper/utils/market_operation_utils/path.ts
  src/asset-swapper/utils/market_operation_utils/pools_cache/pair_swaps_cache.ts
  src/asset-swapper/utils/market_operation_utils/sampler.ts
  src/asset-swapper/utils/protocol_fee_utils.ts
  src/config.ts
  src/types.ts
  src/utils/provider_utils.ts
  src/utils/utils.ts
  test/asset-swapper/contracts/native_order_sampler_test.ts
  test/asset-swapper/quote_report_generator_test.ts
  test/swap_test.ts
  test/utils/deployment.ts
  tslint.json
  yarn.lock
Owners: @dekz, @dextracker

Disable `Balancer` temporarily (#942)
  src/config.ts
Owners: none

added initial foundry transformERC20 tests
  contracts/zero-ex/contracts/test/foundry/BasicSwap.sol
  contracts/zero-ex/contracts/test/foundry/utils/DeployZeroEx.sol
  contracts/zero-ex/contracts/test/foundry/utils/ForkUtils.sol
  contracts/zero-ex/contracts/test/foundry/utils/TestUtils.sol
  contracts/zero-ex/contracts/test/foundry/utils/WETH_6_5.sol
  contracts/zero-ex/foundry.toml
  contracts/zero-ex/package.json
Owners: @dekz, @dextracker

added foundry tests into CircleCI flow
  contracts/zero-ex/package.json
Owners: @dekz, @dextracker

add verbosity for failing tests in CI
  .circleci/config.yml
  contracts/zero-ex/package.json
Owners: @dekz, @dextracker

feat: Foundry, added some more deployments (#558)
  contracts/erc20/contracts/src/v06/WETH9V06.sol
  contracts/erc20/package.json
  contracts/erc20/test/artifacts.ts
  contracts/erc20/test/wrappers.ts
  contracts/erc20/tsconfig.json
  contracts/zero-ex/contracts/test/foundry/BasicSwap.sol
  contracts/zero-ex/contracts/test/foundry/utils/DeployZeroEx.sol
Owners: @dekz, @dextracker

revert wrong CI commands
  contracts/zero-ex/package.json
Owners: @dekz, @dextracker

chore: Fix `eslint` errors and add `eslint` to `yarn lint`[TKR-529] (#944)
  package.json
  src/asset-swapper/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  src/asset-swapper/utils/alt_mm_implementation_utils.ts
  src/asset-swapper/utils/market_operation_utils/index.ts
  src/asset-swapper/utils/market_operation_utils/orders.ts
  src/asset-swapper/utils/market_operation_utils/sampler_operations.ts
  src/asset-swapper/utils/market_operation_utils/types.ts
  src/asset-swapper/utils/quote_requestor.ts
  src/asset-swapper/utils/rfq_maker_blacklist.ts
  src/config.ts
  src/rpc_subprovider.ts
  src/runners/rfq_maker_balance_cache_runner.ts
  src/services/websocket_service.ts
  src/utils/slippage_model_manager.ts
  test/constants.ts
  test/utils/quote_comparison_utils_test.ts
Owners: none

Delete obsolete configuration (#921)
  .drone.yml
Owners: none

Missing configuration (#945)
  .github/workflows/deploy.yml
Owners: none

feat: set makerUri lookup by signature for RfqClient (#946)
  src/asset-swapper/utils/market_operation_utils/index.ts
  src/asset-swapper/utils/quote_requestor.ts
Owners: none

prereq code for otc orders in asset-swapper
  packages/protocol-utils/src/transformer_utils.ts
Owners: @dekz

chore: add a temporary log on useRfqClient (#948)
  src/services/swap_service.ts
Owners: none

chore: revert 25809c224bf63ff1f3b56ae076c3db19c16b3b26 (#949)
  src/services/swap_service.ts
Owners: none

Add a temp workaround for `yarn dev*` (#950)
  package.json
Owners: none

Upgrade prettier
  package.json
  yarn.lock
Owners: none

Run prettier
  .prettierignore
  contracts/test-utils/src/mocha_blockchain.ts
  contracts/test-utils/src/number_utils.ts
  contracts/test-utils/src/order_utils.ts
  contracts/test-utils/test/mocha_blockchain.ts
  contracts/test-utils/test/order_hash_test.ts
  contracts/utils/test/lib_bytes.ts
  contracts/zero-ex/test/features/native_orders_feature_test.ts
  contracts/zero-ex/test/features/otc_orders_test.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/utils/orders.ts
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/protocol-utils/src/orders.ts
Owners: @dekz, @dextracker, @kyu-c

format error
  packages/contract-wrappers/src/types.ts
Owners: none

Test
  contracts/zero-ex/contracts/src/IZeroEx.sol
Owners: @dekz, @dextracker

WIP
  .circleci/config.yml
Owners: @dekz

WIP
  .circleci/config.yml
Owners: @dekz

Invalid working_directory
  .circleci/config.yml
Owners: @dekz

Fix prettier
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
Owners: @dekz, @dextracker, @kyu-c

Invalid working_directory (#568)
  .circleci/config.yml
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
Owners: @dekz, @dextracker, @kyu-c

update changelog
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  packages/protocol-utils/CHANGELOG.json
Owners: @dekz, @dextracker

add pr to changelog
  packages/protocol-utils/CHANGELOG.json
Owners: @dekz

prereq code for otc orders in asset-swapper (#565)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/src/transformer_utils.ts
Owners: @dekz, @dextracker

added otc order array to createTranformData
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
Owners: @dekz, @dextracker

changelog
  contracts/zero-ex/CHANGELOG.json
Owners: @dekz, @dextracker

fix linting
  packages/protocol-utils/src/transformer_utils.ts
Owners: @dekz

added otc order array to createTranformData (#569)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @dekz, @dextracker

chore: Offboard Part 5 (#952)
  src/asset-swapper/noop_samplers/GeistSampler.ts
  src/asset-swapper/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  src/asset-swapper/utils/market_operation_utils/bridge_source_utils.ts
  src/asset-swapper/utils/market_operation_utils/constants.ts
  src/asset-swapper/utils/market_operation_utils/geist_utils.ts
  src/asset-swapper/utils/market_operation_utils/orders.ts
  src/asset-swapper/utils/market_operation_utils/sampler_operations.ts
  src/asset-swapper/utils/market_operation_utils/types.ts
  src/config.ts
Owners: none

Bump up the MetaTxn max gas price to 2**48 = 281474 gwei
  src/services/meta_transaction_service.ts
Owners: none

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/

# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file

# https://git-scm.com/docs/gitignore#_pattern_format

packages/asset-swapper/ @dekz @dextracker @kyu-c

# Dev tools & setup

.circleci/ @dekz
packages/contract-addresses/ @dekz @dextracker @kyu-c
packages/contract-artifacts/ @dekz
packages/protocol-utils/ @dekz

# Protocol/smart contracts

contracts/ @dekz @dextracker
