Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

version bump
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Sushi router celo fix (#376)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

added new packages for celo deployment (#793)
  package.json
  yarn.lock
Owners: none

Add IERC721OrdersFeature to IZeroEx
  contracts/zero-ex/contracts/src/IZeroEx.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Use SafeMath where necessary
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

add rich errors for ERC721OrdersFeature
  contracts/zero-ex/contracts/src/errors/LibERC721OrdersRichErrors.sol
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/fixins/FixinCommon.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Cancel using just the order nonce
  contracts/zero-ex/contracts/src/errors/LibERC721OrdersRichErrors.sol
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Implement matching functions
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

left/right orders -> sell/buy orders
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add missing @return comments
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Implement batchBuyERC721s
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add presign support for ERC721 orders
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/libs/LibSignature.sol
  contracts/zero-ex/contracts/src/storage/LibERC721OrdersStorage.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add comments
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/libs/LibERC721Order.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add taker callback
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/vendor/IERC721OrderCallback.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Assembly optimizations in LibERC721Order
  contracts/zero-ex/contracts/src/features/libs/LibERC721Order.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

TestMintableERC721Token
  contracts/zero-ex/contracts/test/tokens/TestMintableERC721Token.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add ERC721Orders TS class
  packages/protocol-utils/src/eip712_utils.ts
  packages/protocol-utils/src/erc721_orders.ts
  packages/protocol-utils/src/index.ts
  packages/protocol-utils/src/signature_utils.ts
Owners: @dorothy-zbornak, @mzhu25

create zero-ex/contracts/test/integration/ and tokens/ directories
  contracts/zero-ex/contracts/test/TestFillQuoteTransformerBridge.sol
  contracts/zero-ex/contracts/test/TestFillQuoteTransformerExchange.sol
  contracts/zero-ex/contracts/test/TestFillQuoteTransformerHost.sol
  contracts/zero-ex/contracts/test/TestMintTokenERC20Transformer.sol
  contracts/zero-ex/contracts/test/TestWethTransformerHost.sol
  contracts/zero-ex/contracts/test/integration/TestCurve.sol
  contracts/zero-ex/contracts/test/integration/TestLiquidityProvider.sol
  contracts/zero-ex/contracts/test/integration/TestMooniswap.sol
  contracts/zero-ex/contracts/test/integration/TestUniswapV2Factory.sol
  contracts/zero-ex/contracts/test/integration/TestUniswapV2Pool.sol
  contracts/zero-ex/contracts/test/integration/TestUniswapV3Factory.sol
  contracts/zero-ex/contracts/test/integration/TestUniswapV3Pool.sol
  contracts/zero-ex/contracts/test/tokens/TestMintableERC20Token.sol
  contracts/zero-ex/contracts/test/tokens/TestTokenSpenderERC20Token.sol
  contracts/zero-ex/contracts/test/tokens/TestWeth.sol
  contracts/zero-ex/test/artifacts.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

tmp
  contracts/zero-ex/contracts/test/TestERC721OrderPresigner.sol
  contracts/zero-ex/contracts/test/TestFeeRecipient.sol
  contracts/zero-ex/contracts/test/TestPropertyValidator.sol
  contracts/zero-ex/contracts/test/tokens/TestMintableERC721Token.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/erc721_orders_test.ts
  contracts/zero-ex/test/utils/erc721_orders.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/protocol-utils/src/erc721_orders.ts
  packages/protocol-utils/src/revert-errors/erc721_orders.ts
  packages/protocol-utils/src/revert-errors/index.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

feat: UniswapV3 on Polygon
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/UniswapV3Sampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

feat: UniswapV3 on Polygon (#382)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/UniswapV3Sampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

fix: PR number in CHANGELOG
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: Beethovenx graphql endpoint
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: Beethovenx graphql endpoint (#383)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: UniswapV3 on Polygon (#794)
  package.json
  yarn.lock
Owners: none

remove clipper test
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

rebase and remove WIP Clipper new weth router test
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

restore from clipper test
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

add uniswapV3 on optimism
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

modify token addresses and add EP-related addresses on optimism
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

prettier
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/contract-addresses/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

modify CHANGLOG.json
  packages/asset-swapper/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

convert addresses to lowercase
  packages/contract-addresses/addresses.json
Owners: @dorothy-zbornak, @mzhu25

remove testnet addresses
  packages/contract-addresses/addresses.json
Owners: @dorothy-zbornak, @mzhu25

feat/optimism [TKR-280] (#385)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  contracts/erc20/CHANGELOG.json
  contracts/erc20/CHANGELOG.md
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/CHANGELOG.md
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/utils/CHANGELOG.json
  contracts/utils/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.md
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.md
  packages/migrations/CHANGELOG.json
  packages/migrations/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25
