Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @dekz, @dextracker, @kyu-c

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/

# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file

# https://git-scm.com/docs/gitignore#_pattern_format

packages/asset-swapper/ @dekz @dextracker @kyu-c

# Dev tools & setup

.circleci/ @dekz
packages/contract-addresses/ @dekz @dextracker @kyu-c
packages/contract-artifacts/ @dekz
packages/protocol-utils/ @dekz

# Protocol/smart contracts

contracts/ @dekz @dextracker

Fix Balancer V1 bug (#955)
  src/asset-swapper/utils/market_operation_utils/orders.ts
  src/config.ts
Owners: none

refactor: only use RfqClient not QuoteRequestor (#954)
  src/app.ts
  src/asset-swapper/utils/market_operation_utils/index.ts
  src/services/swap_service.ts
  test/asset-swapper/market_operation_utils_test.ts
Owners: none

change weth from OPWeth to ARBWeth
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

udpate changelog
  packages/contract-addresses/CHANGELOG.json
Owners: @dekz, @dextracker, @kyu-c

change weth from OPWeth to ARBWeth (#571)
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

Updated CHANGELOGS & MD docs
  contracts/erc20/CHANGELOG.json
  contracts/erc20/CHANGELOG.md
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/CHANGELOG.md
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/utils/CHANGELOG.json
  contracts/utils/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.md
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
Owners: @dekz, @dextracker, @kyu-c

Publish
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers/package.json
  packages/protocol-utils/package.json
Owners: @dekz, @dextracker, @kyu-c

refactor: cut unused parts of QuoteRequestor (#956)
  src/asset-swapper/constants.ts
  src/asset-swapper/swap_quoter.ts
  src/asset-swapper/types.ts
  src/asset-swapper/utils/market_operation_utils/index.ts
  src/asset-swapper/utils/quote_requestor.ts
  src/config.ts
  src/services/swap_service.ts
  src/utils/metrics_service.ts
  test/asset-swapper/market_operation_utils_test.ts
  test/asset-swapper/quote_requestor_test.ts
Owners: none

added new fqt with new bridge adapter for Arbitrum
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

changelog
  packages/contract-addresses/CHANGELOG.json
Owners: @dekz, @dextracker, @kyu-c

changelog add pr
  packages/contract-addresses/CHANGELOG.json
Owners: @dekz, @dextracker, @kyu-c

Fix/new arbitrum bridge adapter (#572)
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

Updated CHANGELOGS & MD docs
  contracts/erc20/CHANGELOG.json
  contracts/erc20/CHANGELOG.md
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/CHANGELOG.md
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/utils/CHANGELOG.json
  contracts/utils/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.md
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
Owners: @dekz, @dextracker, @kyu-c

Publish
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers/package.json
  packages/protocol-utils/package.json
Owners: @dekz, @dextracker, @kyu-c

new fqt for arbitrum
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

add pr to changelog
  packages/contract-addresses/CHANGELOG.json
Owners: @dekz, @dextracker, @kyu-c

fix merge conflicts
  packages/contract-addresses/CHANGELOG.json
Owners: @dekz, @dextracker, @kyu-c

chore: Delete some dead code in `asset-swapper` [TKR-534] (#958)
  src/asset-swapper/constants.ts
  src/asset-swapper/index.ts
  src/asset-swapper/types.ts
  src/config.ts
  src/services/swap_service.ts
Owners: none

Set eslint --max-warnings instead of --quiet (#959)
  package.json
Owners: none

nwe fqt address and changelog
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

add pr
  packages/contract-addresses/CHANGELOG.json
Owners: @dekz, @dextracker, @kyu-c

nwe fqt address and changelog (#574)
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

Updated CHANGELOGS & MD docs
  contracts/erc20/CHANGELOG.json
  contracts/erc20/CHANGELOG.md
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/CHANGELOG.md
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/utils/CHANGELOG.json
  contracts/utils/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.md
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
Owners: @dekz, @dextracker, @kyu-c

Publish
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers/package.json
  packages/protocol-utils/package.json
Owners: @dekz, @dextracker, @kyu-c

Initialize eslint and remove tslint
  contracts/erc20/.eslintrc.json
  contracts/erc20/package.json
  contracts/erc20/tslint.json
  yarn.lock
Owners: @dekz, @dextracker

evm 101
  contracts/zero-ex/contracts/test/foundry/protocol-academy/8-evm/Counter.t.sol
  contracts/zero-ex/contracts/test/foundry/protocol-academy/8-evm/Hash.t.sol
  contracts/zero-ex/contracts/test/foundry/protocol-academy/8-evm/Memory.sol
Owners: @dekz, @dextracker

update package.json
  contracts/erc20/.eslintrc.json
  contracts/erc20/package.json
  yarn.lock
Owners: @dekz, @dextracker

feat: Add Foundry support [TKR-533] (#961)
  .gitignore
  .gitmodules
  README.md
  compiler.json
  contracts/foundry.toml
Owners: @dekz, @dextracker

feat: Arbitrum FQT Updates (#960)
  package.json
  src/asset-swapper/utils/market_operation_utils/constants.ts
  src/asset-swapper/utils/market_operation_utils/orders.ts
  src/asset-swapper/utils/market_operation_utils/sampler_operations.ts
  src/asset-swapper/utils/market_operation_utils/types.ts
  yarn.lock
Owners: none

Added Call.t.sol
  contracts/zero-ex/contracts/test/foundry/protocol-academy/8-evm/Call.t.sol
  contracts/zero-ex/contracts/test/foundry/protocol-academy/8-evm/Memory.t.sol
Owners: @dekz, @dextracker

No data on api usage by different integrators (#953)
  src/handlers/swap_handlers.ts
Owners: none

fix: modify gmx sampler to prevent insufficient buy and sell (#966)
  contracts/src/GMXSampler.sol
  src/asset-swapper/utils/market_operation_utils/constants.ts
Owners: @dekz, @dextracker

Initialize eslint and remove tslint
  packages/protocol-utils/.eslintrc.json
  packages/protocol-utils/package.json
  packages/protocol-utils/tslint.json
  yarn.lock
Owners: @dekz

Inconsistent naming (#967)
  .github/workflows/deploy.yml
Owners: none

fix lerna lint error
  contracts/erc20/package.json
Owners: @dekz, @dextracker

feat: Update Saddle pools (Ethereum, Optimism) [TKR-543] (#964)
  src/asset-swapper/utils/market_operation_utils/bridge_source_utils.ts
  src/asset-swapper/utils/market_operation_utils/constants.ts
  src/asset-swapper/utils/market_operation_utils/types.ts
Owners: none

run yarn prettier
  packages/protocol-utils/.eslintrc.json
  yarn.lock
Owners: @dekz

add new fqt for optimism with balancerv2
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

changelog
  packages/contract-addresses/CHANGELOG.json
Owners: @dekz, @dextracker, @kyu-c

feat: add new fqt for optimism with balancerv2 (#577)
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c
