Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

fix bugs
  packages/asset-swapper/contracts/src/KyberDmmSampler.sol
  packages/asset-swapper/src/network/source_sampler.ts
  packages/asset-swapper/src/utils/protocol_fee_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

rebase with jetswap
  packages/asset-swapper/src/network/samplers/uniswap_v2.ts
  packages/asset-swapper/src/network/sassy_sampler.ts
  packages/asset-swapper/src/network/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/asset-swapper`: Improve performance.
  packages/asset-swapper/contracts/src/BancorSampler.sol
  packages/asset-swapper/src/network/chain.ts
  packages/asset-swapper/src/network/utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/path.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

`@0x/asset-swapper`: add missing shibaswap bits
  packages/asset-swapper/src/network/samplers/uniswap_v2.ts
  packages/asset-swapper/src/network/sassy_sampler.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/asset-swapper`: Merge LP registry configs
  packages/asset-swapper/src/network/samplers/liquidity_provider.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

rebase and add new integrations
  packages/asset-swapper/contracts/src/BancorSampler.sol
  packages/asset-swapper/src/network/samplers/curve.ts
  packages/asset-swapper/src/network/sassy_sampler.ts
  packages/asset-swapper/src/network/tokens.ts
  packages/asset-swapper/src/network/types.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

`@0x/asset-swapper`: add ACryptoS integration
  packages/asset-swapper/src/network/chain.ts
  packages/asset-swapper/src/network/samplers/curve.ts
  packages/asset-swapper/src/network/samplers/kyber_dmm.ts
  packages/asset-swapper/src/network/samplers/uniswap_v2.ts
  packages/asset-swapper/src/network/sassy_sampler.ts
  packages/asset-swapper/src/network/tokens.ts
  packages/asset-swapper/src/network/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/asset-swapper`: rebase and misc cleanup
  packages/asset-swapper/src/network/samplers/curve.ts
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Add takerToken=ETH support to OtcOrdersFeature
  contracts/zero-ex/contracts/src/errors/LibNativeOrdersRichErrors.sol
  contracts/zero-ex/contracts/src/features/OtcOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IOtcOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersSettlement.sol
  contracts/zero-ex/test/features/otc_orders_test.ts
  packages/protocol-utils/src/revert-errors/native_orders.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

refactor: clean up router debugging code
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

WIP
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  packages/asset-swapper/contracts/src/FirebirdSampler.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix: lint
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: lint (#289)
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Add batchFillTakerSignedOtcOrders
  contracts/zero-ex/contracts/src/features/OtcOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IOtcOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexUniswapV2.sol
  contracts/zero-ex/test/features/otc_orders_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  contracts/integrations/package.json
  packages/asset-swapper/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Add support for OTC to Multiplex
  contracts/zero-ex/contracts/src/features/OtcOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IMultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexOtc.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/multiplex_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

feat: AS bump: ACryptoS (#695)
  package.json
  yarn.lock
Owners: none

`@0x/asset-swapper`: Fix bugs found under load
  packages/asset-swapper/compiler.json
  packages/asset-swapper/contracts/src/BancorSampler.sol
  packages/asset-swapper/contracts/src/CallDispatcher.sol
  packages/asset-swapper/contracts/src/TwoHopSampler.sol
  packages/asset-swapper/contracts/src/uniswapv3/UniswapV3BuySampler.sol
  packages/asset-swapper/contracts/src/uniswapv3/UniswapV3SamplerCommon.sol
  packages/asset-swapper/contracts/src/uniswapv3/UniswapV3SellSampler.sol
  packages/asset-swapper/src/network/chain.ts
  packages/asset-swapper/src/network/native_order_utils.ts
  packages/asset-swapper/src/network/network_utils.ts
  packages/asset-swapper/src/network/samplers/uniswap_v3.ts
  packages/asset-swapper/src/network/sassy_sampler.ts
  packages/asset-swapper/src/network/source_sampler.ts
  packages/asset-swapper/src/network/two_hop_sampler.ts
  packages/asset-swapper/src/network/types.ts
  packages/asset-swapper/src/network/utils.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

rebase
  packages/asset-swapper/contracts/src/BancorSampler.sol
  packages/asset-swapper/src/network/samplers/curve.ts
  packages/asset-swapper/src/network/sassy_sampler.ts
  packages/asset-swapper/src/network/source_sampler.ts
  packages/asset-swapper/src/network/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/tslint.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Address PR feedback
  contracts/zero-ex/contracts/src/features/OtcOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IOtcOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexOtc.sol
  contracts/zero-ex/test/features/otc_orders_test.ts
  contracts/zero-ex/test/utils/orders.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

rebase
  packages/asset-swapper/contracts/src/BancorSampler.sol
  packages/asset-swapper/contracts/src/CallDispatcher.sol
  packages/asset-swapper/src/network/chain.ts
  packages/asset-swapper/src/network/samplers/curve.ts
  packages/asset-swapper/src/network/sassy_sampler.ts
  packages/asset-swapper/src/network/source_sampler.ts
  packages/asset-swapper/src/network/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/tslint.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Send integrator IDs for /swap/rfq/registry (#696)
  src/config.ts
  src/handlers/swap_handlers.ts
  test/config_test.ts
  test/test_env
Owners: none

`@0x/asset-swapper`: More refactor fixes
  packages/asset-swapper/src/network/native_order_utils.ts
  packages/asset-swapper/src/network/network_utils.ts
  packages/asset-swapper/src/network/sassy_sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/asset-swapper`: Fix revert string filtering bug
  packages/asset-swapper/src/network/chain.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: allow unknown integrators to set skipValidation (#697)
  src/handlers/swap_handlers.ts
Owners: none

feat: AaveV2 deposit/withdrawal integration WIP
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAaveV2.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/contracts/src/AaveV2Sampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: add basic Aave Reserves cache with data from subgraphs WIP
  packages/asset-swapper/src/utils/market_operation_utils/aave_reserves_cache.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: hook up Aave Reserves integration
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeProtocols.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Add MixinFirebird and minor tweaks
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeProtocols.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinFirebird.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/contracts/src/BancorSampler.sol
  packages/asset-swapper/contracts/src/FirebirdSampler.sol
  packages/asset-swapper/contracts/src/SmoothySampler.sol
  packages/asset-swapper/contracts/src/interfaces/IFirebird.sol
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Update CHANGELOG
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: new chain id
  .gitignore
  packages/contract-addresses/lib/addresses.json
  packages/contract-addresses/lib/src/index.d.ts
  packages/contract-addresses/lib/src/index.d.ts.map
  packages/contract-addresses/lib/src/index.js
  packages/contract-addresses/lib/src/index.js.map
Owners: @dorothy-zbornak, @mzhu25

feat: restore token metadata
  packages/token-metadata/CHANGELOG.json
  packages/token-metadata/CHANGELOG.md
  packages/token-metadata/README.md
  packages/token-metadata/package.json
  packages/token-metadata/src/index.ts
  packages/token-metadata/src/token_metadata.ts
  packages/token-metadata/src/utils.ts
  packages/token-metadata/tsconfig.json
  packages/token-metadata/tslint.json
Owners: none

fix: code
  packages/token-metadata/src/utils.ts
Owners: none

feat: lib
  packages/token-metadata/lib/src/index.d.ts
  packages/token-metadata/lib/src/index.d.ts.map
  packages/token-metadata/lib/src/index.js
  packages/token-metadata/lib/src/index.js.map
  packages/token-metadata/lib/src/token_metadata.d.ts
  packages/token-metadata/lib/src/token_metadata.d.ts.map
  packages/token-metadata/lib/src/token_metadata.js
  packages/token-metadata/lib/src/token_metadata.js.map
  packages/token-metadata/lib/src/utils.d.ts
  packages/token-metadata/lib/src/utils.d.ts.map
  packages/token-metadata/lib/src/utils.js
  packages/token-metadata/lib/src/utils.js.map
  packages/token-metadata/package.json
  yarn.lock
Owners: none

feat: export
  packages/token-metadata/lib/src/index.d.ts
  packages/token-metadata/lib/src/index.d.ts.map
  packages/token-metadata/lib/src/index.js
  packages/token-metadata/lib/src/index.js.map
  packages/token-metadata/src/index.ts
Owners: none

feat: update
  packages/token-metadata/package.json
  yarn.lock
Owners: none

chore: ignore lib
  .gitignore
Owners: none

feat: chapel
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: gitpkg public
  packages/contract-addresses/lib/addresses.json
  packages/contract-addresses/lib/src/index.d.ts
  packages/contract-addresses/lib/src/index.d.ts.map
  packages/contract-addresses/lib/src/index.js
  packages/contract-addresses/lib/src/index.js.map
  packages/contract-addresses/package.json
Owners: @dorothy-zbornak, @mzhu25

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25
