Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @dekz, @dextracker, @kyu-c

Revert "feat: add new fqt for optimism with balancerv2 (#577)"
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

run eslint fix
  packages/protocol-utils/package.json
  packages/protocol-utils/src/nft_orders.ts
  packages/protocol-utils/src/orders.ts
  packages/protocol-utils/src/transformer_utils.ts
  yarn.lock
Owners: @dekz

add balancerV2/batch to optimismBridgeAdapter
  contracts/zero-ex/contracts/src/transformers/bridges/OptimismBridgeAdapter.sol
Owners: @dekz, @dextracker

changelog
  packages/contract-addresses/CHANGELOG.json
Owners: @dekz, @dextracker, @kyu-c

add todo for contracts/erc20
  contracts/erc20/package.json
  packages/protocol-utils/package.json
  packages/protocol-utils/src/transformer_utils.ts
Owners: @dekz, @dextracker

Updated CHANGELOGS & MD docs
  contracts/erc20/CHANGELOG.json
  contracts/erc20/CHANGELOG.md
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/CHANGELOG.md
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/utils/CHANGELOG.json
  contracts/utils/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.md
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
Owners: @dekz, @dextracker, @kyu-c

Publish
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers/package.json
  packages/protocol-utils/package.json
Owners: @dekz, @dextracker, @kyu-c

adding Nerve Mixin to Arbitrum Bridge Adapter
  contracts/zero-ex/contracts/src/transformers/bridges/ArbitrumBridgeAdapter.sol
Owners: @dekz, @dextracker

refactor bridgeAdapter to include currently deployed changes
  contracts/zero-ex/contracts/src/transformers/bridges/ArbitrumBridgeAdapter.sol
Owners: @dekz, @dextracker

remove duplicate DODOV2
  contracts/zero-ex/contracts/src/transformers/bridges/ArbitrumBridgeAdapter.sol
Owners: @dekz, @dextracker

add quiet to eslint fix
  packages/protocol-utils/package.json
Owners: @dekz

wip: add matching to OtcOrdersFeature
  contracts/zero-ex/contracts/src/features/OtcOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IOtcOrdersFeature.sol
  contracts/zero-ex/contracts/test/foundry/features/OtcOrdersFeature.t.sol
Owners: @dekz, @dextracker

forge install: openzeppelin-contracts
  .gitmodules
Owners: none

Add quote report to metatransaction service (#968)
  src/handlers/meta_transaction_handlers.ts
  src/schemas/meta_transaction_quote_request_schema.json
  src/services/meta_transaction_service.ts
  src/types.ts
Owners: none

Fix up meta transaction service (#969)
  src/handlers/meta_transaction_handlers.ts
  src/services/meta_transaction_service.ts
  src/types.ts
Owners: none

fix: Curve V2 on Arbitrum [TKR-560] (#973)
  src/asset-swapper/utils/market_operation_utils/bridge_source_utils.ts
  src/asset-swapper/utils/market_operation_utils/constants.ts
Owners: none

Disable Synapse on Arbitrum (#974)
  src/asset-swapper/utils/market_operation_utils/constants.ts
Owners: none

feat: update gas schedule for arbitrum sources (#972)
  src/asset-swapper/utils/market_operation_utils/constants.ts
  src/asset-swapper/utils/market_operation_utils/orders.ts
  src/asset-swapper/utils/market_operation_utils/sampler_operations.ts
  src/asset-swapper/utils/market_operation_utils/types.ts
  test/asset-swapper/dex_sampler_test.ts
Owners: none

Rename integration-test script and update .prettierignore (#975)
  .prettierignore
  package.json
Owners: none

chore: Update rollback script
  contracts/zero-ex/scripts/rollback.ts
Owners: @dekz, @dextracker

feat: Replacing WBTC.e with BTC.b for WOOFi on Avalanche [TKR-541] (#963)
  src/asset-swapper/utils/market_operation_utils/constants.ts
Owners: none

remvoing DODO V1 from Arbitrum Bridge Adapter
  contracts/zero-ex/contracts/src/transformers/bridges/ArbitrumBridgeAdapter.sol
Owners: @dekz, @dextracker

updating imports
  contracts/zero-ex/contracts/src/transformers/bridges/ArbitrumBridgeAdapter.sol
Owners: @dekz, @dextracker

fixing CI: ganache tests
  packages/protocol-utils/src/transformer_utils.ts
Owners: @dekz

Invalid caching configuration
  .circleci/config.yml
Owners: @dekz

Invalid caching configuration
  .circleci/config.yml
Owners: @dekz

Adding Nerve Mixin to Arbitrum Bridge Adapter [TKR-554] (#579)
  .circleci/config.yml
  contracts/zero-ex/contracts/src/transformers/bridges/ArbitrumBridgeAdapter.sol
  packages/protocol-utils/src/transformer_utils.ts
Owners: @dekz, @dextracker

remove tslint from package.json in contract-wrappers
  packages/contract-wrappers/package.json
Owners: none

add todo comment
  packages/contract-wrappers/package.json
Owners: none

upped gas significantly for all sources until kyu's gas calculations are in effect (#977)
  src/asset-swapper/utils/market_operation_utils/constants.ts
Owners: none

fix bug in package.json
  packages/contract-wrappers/package.json
  packages/protocol-utils/package.json
Owners: @dekz

feat: Add L1 calldata gas cost for Arbitrum (#976)
  src/handlers/swap_handlers.ts
  src/utils/l2_gas_utils.ts
  src/utils/zero_ex_gas_api_utils.ts
  test/utils/l2_gas_utils_test.ts
Owners: none

feat: Revert source specific Arbitrum gas adjustment changes (#978)
  src/asset-swapper/utils/market_operation_utils/constants.ts
  src/asset-swapper/utils/market_operation_utils/orders.ts
  src/asset-swapper/utils/market_operation_utils/sampler_operations.ts
  src/asset-swapper/utils/market_operation_utils/types.ts
  test/asset-swapper/dex_sampler_test.ts
Owners: none

feat: min slippage validation (#970)
  src/config.ts
  src/constants.ts
  src/errors.ts
  src/handlers/meta_transaction_handlers.ts
  test/rfqt_test.ts
Owners: none

add multihop to arbitrum and goerli (#981)
  src/asset-swapper/utils/market_operation_utils/constants.ts
Owners: none

add new fqt address containing nerve
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

undo changes to contract-wrappers
  packages/contract-wrappers/package.json
Owners: none

changelog
  packages/contract-addresses/CHANGELOG.json
Owners: @dekz, @dextracker, @kyu-c

feat: add new fqt address containing nerve mixin (#581)
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

Updated CHANGELOGS & MD docs
  contracts/erc20/CHANGELOG.json
  contracts/erc20/CHANGELOG.md
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/CHANGELOG.md
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/utils/CHANGELOG.json
  contracts/utils/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.md
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
Owners: @dekz, @dextracker, @kyu-c

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/

# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file

# https://git-scm.com/docs/gitignore#_pattern_format

packages/asset-swapper/ @dekz @dextracker @kyu-c

# Dev tools & setup

.circleci/ @dekz
packages/contract-addresses/ @dekz @dextracker @kyu-c
packages/contract-artifacts/ @dekz
packages/protocol-utils/ @dekz

# Protocol/smart contracts

contracts/ @dekz @dextracker
