Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @dekz, @dextracker, @kyu-c

Added some more deployments
  contracts/erc20/contracts/src/v06/WETH9.sol
  contracts/zero-ex/contracts/test/foundry/BasicSwap.sol
  contracts/zero-ex/contracts/test/foundry/utils/DeployZeroEx.sol
Owners: @dekz, @dextracker

Sushi
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @dekz, @dextracker, @kyu-c

Rename WETH9 to WETH9V06
  contracts/erc20/contracts/src/v06/WETH9V06.sol
  contracts/zero-ex/contracts/test/foundry/utils/DeployZeroEx.sol
Owners: @dekz, @dextracker

Move `asset-swapper` `test` code (#934)
  package.json
  test/asset-swapper/comparison_price_test.ts
  test/asset-swapper/contracts/balance_checker_test.ts
  test/asset-swapper/contracts/bridge_adapter_test.ts
  test/asset-swapper/contracts/bridge_sampler_mainnet_test.ts
  test/asset-swapper/contracts/erc20_bridge_sampler_test.ts
  test/asset-swapper/contracts/native_order_sampler_test.ts
  test/asset-swapper/dex_sampler_test.ts
  test/asset-swapper/exchange_proxy_swap_quote_consumer_test.ts
  test/asset-swapper/global_hooks.ts
  test/asset-swapper/market_operation_utils_test.ts
  test/asset-swapper/pools_cache_test.ts
  test/asset-swapper/protocol_fee_utils_test.ts
  test/asset-swapper/quote_report_generator_test.ts
  test/asset-swapper/quote_requestor_test.ts
  test/asset-swapper/quote_simulation_test.ts
  test/asset-swapper/rfq_maker_blacklist_test.ts
  test/asset-swapper/token_adjacency_graph_test.ts
  test/asset-swapper/utils/chai_setup.ts
  test/asset-swapper/utils/mock_sampler_contract.ts
  test/asset-swapper/utils/swap_quote.ts
  test/asset-swapper/utils/test_helpers.ts
  test/asset-swapper/utils/utils.ts
  test/asset-swapper/utils/web3_wrapper.ts
  yarn.lock
Owners: @dekz, @dextracker

Add asset-swapper deprecation notice in README.md
  packages/asset-swapper/README.md
Owners: @dekz, @dextracker, @kyu-c

Remove asset-swapper references from the top-level README
  README.md
  packages/asset-swapper/README.md
Owners: @dekz, @dextracker, @kyu-c

Remove asset-swapper from circleci config
  .circleci/config.yml
Owners: @dekz

Set asset-swapper private to prevent it from being published
  packages/asset-swapper/package.json
Owners: @dekz, @dextracker, @kyu-c

Remove asset-swapper from `nonContractPackages`
  package.json
Owners: none

Set to 0.6.x
  contracts/erc20/contracts/src/v06/WETH9V06.sol
  contracts/erc20/package.json
  contracts/erc20/test/artifacts.ts
  contracts/erc20/test/wrappers.ts
  contracts/erc20/tsconfig.json
Owners: @dekz, @dextracker

Disable asset-swapper build and test scripts
  packages/asset-swapper/package.json
Owners: @dekz, @dextracker, @kyu-c

chore: Deprecate `asset-swapper` [TKR-484] (#559)
  .circleci/config.yml
  README.md
  package.json
  packages/asset-swapper/README.md
  packages/asset-swapper/package.json
Owners: @dekz, @dextracker, @kyu-c

Fix asset-swapper deprecation notice
  packages/asset-swapper/README.md
Owners: @dekz, @dextracker, @kyu-c

Fix asset-swapper deprecation notice (#561)
  packages/asset-swapper/README.md
Owners: @dekz, @dextracker, @kyu-c

Add fmt config in foundry.toml
  contracts/zero-ex/foundry.toml
Owners: @dekz, @dextracker

Move comments in-between an assignment operator in NativeOrdersSettlement.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersSettlement.sol
Owners: @dekz, @dextracker

chore: Remove various dead code [TKR-534] (#936)
  src/asset-swapper/swap_quoter.ts
  src/asset-swapper/utils/market_operation_utils/constants.ts
  src/asset-swapper/utils/market_operation_utils/index.ts
  src/asset-swapper/utils/market_operation_utils/orders.ts
  src/asset-swapper/utils/market_operation_utils/pools_cache/balancer_v2_swap_info_cache.ts
  src/asset-swapper/utils/market_operation_utils/types.ts
  src/asset-swapper/utils/utils.ts
  test/asset-swapper/global_hooks.ts
  test/asset-swapper/market_operation_utils_test.ts
Owners: none

fix typo
  contracts/zero-ex/contracts/test/foundry/utils/DeployZeroEx.sol
Owners: @dekz, @dextracker

Re-usable cache
  .circleci/config.yml
Owners: @dekz

Skip job run if no changes applied
  .circleci/config.yml
Owners: @dekz

Skip tests if no changes applied
  .circleci/config.yml
Owners: @dekz

Skip tests if no changes applied
  .circleci/config.yml
Owners: @dekz

Remove SignatureType definition from protocol-utils
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/src/orders.ts
  packages/protocol-utils/src/signature_utils.ts
Owners: @dekz

CircleCI candies 🍬 (#550)
  .circleci/config.yml
Owners: @dekz

changelog
  packages/contract-addresses/CHANGELOG.json
Owners: @dekz, @dextracker, @kyu-c

Arbitrum support
  contracts/zero-ex/contracts/src/transformers/bridges/ArbitrumBridgeAdapter.sol
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
Owners: @dekz, @dextracker, @kyu-c

remove timestamp from changelog
  packages/contract-addresses/CHANGELOG.json
Owners: @dekz, @dextracker, @kyu-c

add new addresses
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

fix typo in brige adapter
  contracts/zero-ex/contracts/src/transformers/bridges/ArbitrumBridgeAdapter.sol
Owners: @dekz, @dextracker

Fix build error
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @dekz, @dextracker, @kyu-c

fix typo in bridge adapter
  contracts/zero-ex/contracts/src/transformers/bridges/ArbitrumBridgeAdapter.sol
Owners: @dekz, @dextracker

adjust DodoV2 arguments
  contracts/zero-ex/contracts/src/transformers/bridges/ArbitrumBridgeAdapter.sol
Owners: @dekz, @dextracker

Arbitrum support (#560)
  contracts/zero-ex/contracts/src/transformers/bridges/ArbitrumBridgeAdapter.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
Owners: @dekz, @dextracker, @kyu-c

update FQT address on Arbitrum
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

Updated CHANGELOGS & MD docs
  contracts/erc20/CHANGELOG.json
  contracts/erc20/CHANGELOG.md
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/CHANGELOG.md
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/utils/CHANGELOG.json
  contracts/utils/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.md
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
Owners: @dekz, @dextracker, @kyu-c

Publish
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers/package.json
  packages/protocol-utils/package.json
Owners: @dekz, @dextracker, @kyu-c

changelog update
  packages/contract-addresses/CHANGELOG.json
Owners: @dekz, @dextracker, @kyu-c

Arbitrum-rinkeby support in AS + contracts-addresses (#552)
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
Owners: @dekz, @dextracker, @kyu-c

Updated CHANGELOGS & MD docs
  contracts/erc20/CHANGELOG.json
  contracts/erc20/CHANGELOG.md
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/CHANGELOG.md
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/utils/CHANGELOG.json
  contracts/utils/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.md
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
Owners: @dekz, @dextracker, @kyu-c

Publish
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers/package.json
  packages/protocol-utils/package.json
Owners: @dekz, @dextracker, @kyu-c

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/

# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file

# https://git-scm.com/docs/gitignore#_pattern_format

packages/asset-swapper/ @dekz @dextracker @kyu-c

# Dev tools & setup

.circleci/ @dekz
packages/contract-addresses/ @dekz @dextracker @kyu-c
packages/contract-artifacts/ @dekz
packages/protocol-utils/ @dekz

# Protocol/smart contracts

contracts/ @dekz @dextracker
