Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @dekz, @dextracker, @kyu-c

Update Polygon FillQuoteTransformer to support Solidly (and its forks)
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

Update Polygon FillQuoteTransformer to support Solidly (and its forks) (#616)
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

Remove chain comment in `BRIDGE_ENCODERS` (#1067)
  src/asset-swapper/utils/market_operation_utils/orders.ts
Owners: none

Delete `affiliate_fee_utils.ts` and `rfq_maker_blacklist.ts` (#1066)
  src/asset-swapper/utils/affiliate_fee_utils.ts
  src/asset-swapper/utils/rfq_maker_blacklist.ts
  test/asset-swapper/rfq_maker_blacklist_test.ts
Owners: none

Updated CHANGELOGS & MD docs
  contracts/erc20/CHANGELOG.json
  contracts/erc20/CHANGELOG.md
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/CHANGELOG.md
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/utils/CHANGELOG.json
  contracts/utils/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.md
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
Owners: @dekz, @dextracker, @kyu-c

Publish
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers/package.json
  packages/protocol-utils/package.json
Owners: @dekz, @dextracker, @kyu-c

Upgrade `@contract-addresses` (#1068)
  package.json
  yarn.lock
Owners: none

Restore invalid two hop `DexSample` filtering logic (#1070)
  src/asset-swapper/utils/market_operation_utils/path_optimizer.ts
Owners: none

Clean up `MultiBridge` vestiges (#1069)
  compiler.json
  contracts/src/interfaces/IMultiBridge.sol
  package.json
  src/asset-swapper/types.ts
  src/asset-swapper/utils/market_operation_utils/constants.ts
  src/asset-swapper/utils/market_operation_utils/orders.ts
  src/asset-swapper/utils/market_operation_utils/types.ts
  src/config.ts
  test/artifacts.ts
  test/utils/mocks.ts
  test/wrappers.ts
  tsconfig.json
Owners: @dekz, @dextracker

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/

# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file

# https://git-scm.com/docs/gitignore#_pattern_format

packages/asset-swapper/ @dekz @dextracker @kyu-c

# Dev tools & setup

.circleci/ @dekz
packages/contract-addresses/ @dekz @dextracker @kyu-c
packages/contract-artifacts/ @dekz
packages/protocol-utils/ @dekz

# Protocol/smart contracts

contracts/ @dekz @dextracker
