Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @dekz, @dextracker, @kyu-c

Skip flaky BalancerV2PoolsCache test (#1046)
  test/asset-swapper/pools_cache_test.ts
Owners: none

fix: Migrate transformers to smart contract compatible `unsafeTransformerTransfer` [TKR-587] (#594)
  .prettierignore
  contracts/zero-ex/contracts/src/transformers/AffiliateFeeTransformer.sol
  contracts/zero-ex/contracts/src/transformers/LibERC20Transformer.sol
  contracts/zero-ex/contracts/src/transformers/PayTakerTransformer.sol
  contracts/zero-ex/contracts/src/transformers/PositiveSlippageFeeTransformer.sol
Owners: @dekz, @dextracker

Update features.rst
  docs/architecture/features.rst
Owners: none

Update features.rst
  docs/architecture/features.rst
Owners: none

added new RFQTV2 compliant fqt
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

update changelog
  packages/contract-addresses/CHANGELOG.json
Owners: @dekz, @dextracker, @kyu-c

added new RFQTV2 compliant fqt (#611)
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

chore: ycrv, bLUSD, rsr curve pools (#1050)
  src/asset-swapper/utils/market_operation_utils/constants.ts
Owners: none

Updated CHANGELOGS & MD docs
  contracts/erc20/CHANGELOG.json
  contracts/erc20/CHANGELOG.md
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/CHANGELOG.md
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/utils/CHANGELOG.json
  contracts/utils/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.md
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
Owners: @dekz, @dextracker, @kyu-c

Publish
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers/package.json
  packages/protocol-utils/package.json
Owners: @dekz, @dextracker, @kyu-c

Rename VelodromeMixin to SolidlyMixin and add Solidly support to PolygonBridgeAdapter
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/compiler.json
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeProtocols.sol
  contracts/zero-ex/contracts/src/transformers/bridges/OptimismBridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/PolygonBridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinSolidly.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/src/transformer_utils.ts
Owners: @dekz, @dextracker

chore: Refactor `path_optimizer.ts` - part 0 [TKR-623] (#1045)
  src/asset-swapper/utils/market_operation_utils/constants.ts
  src/asset-swapper/utils/market_operation_utils/index.ts
  src/asset-swapper/utils/market_operation_utils/path_optimizer.ts
Owners: none

chore: Refactor `SignedNativeOrder` related types [TKR-623] (#1047)
  src/asset-swapper/types.ts
  src/utils/quote_comparison_utils.ts
  test/asset-swapper/dex_sampler_test.ts
  test/asset-swapper/market_operation_utils_test.ts
  test/utils/quote_comparison_utils_test.ts
Owners: none

adding AAVE V3 to selected Bridge Adapters
  contracts/zero-ex/contracts/src/transformers/bridges/ArbitrumBridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/AvalancheBridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeProtocols.sol
  contracts/zero-ex/contracts/src/transformers/bridges/FantomBridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/OptimismBridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/PolygonBridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAaveV3.sol
Owners: @dekz, @dextracker

Rename VelodromeMixin to SolidlyMixin and add Solidly support to PolygonBridgeAdapter (#612)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/compiler.json
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeProtocols.sol
  contracts/zero-ex/contracts/src/transformers/bridges/OptimismBridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/PolygonBridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinSolidly.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/src/transformer_utils.ts
Owners: @dekz, @dextracker

Update fee-related transformer addresses
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

prettier fix
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAaveV3.sol
Owners: @dekz, @dextracker

Update fee-related transformer addresses (#615)
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

Updated CHANGELOGS & MD docs
  contracts/erc20/CHANGELOG.json
  contracts/erc20/CHANGELOG.md
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/CHANGELOG.md
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/utils/CHANGELOG.json
  contracts/utils/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  contracts/zero-ex/test/artifacts.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.md
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
Owners: @dekz, @dextracker, @kyu-c

Publish
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers/package.json
  packages/protocol-utils/package.json
Owners: @dekz, @dextracker, @kyu-c

Upgrade `@0x/contract-addresses` (#1053)
  package.json
  yarn.lock
Owners: none

chore: Refactor `path_optimizer.ts` - part 1 [TKR-623] (#1048)
  src/asset-swapper/utils/market_operation_utils/path_optimizer.ts
Owners: none

Clean up `GenerateOptimizedOrdersOpts` and a few function parameters (#1049)
  src/asset-swapper/swap_quoter.ts
  src/asset-swapper/utils/market_operation_utils/index.ts
  src/asset-swapper/utils/market_operation_utils/multihop_utils.ts
  src/asset-swapper/utils/market_operation_utils/orders.ts
  src/asset-swapper/utils/market_operation_utils/rate_utils.ts
  src/asset-swapper/utils/market_operation_utils/types.ts
Owners: none

Fix some eslint warnings (#1054)
  package.json
  src/asset-swapper/globals.d.ts
  src/asset-swapper/quote_consumers/swap_quote_consumer.ts
  src/asset-swapper/swap_quoter.ts
  src/asset-swapper/utils/assert.ts
  src/asset-swapper/utils/market_operation_utils/comparison_price.ts
  src/asset-swapper/utils/token_adjacency_graph.ts
  src/config.ts
  src/utils/quote_report_utils.ts
  src/utils/utils.ts
  test/asset-swapper/market_operation_utils_test.ts
  test/asset-swapper/utils/mock_sampler_contract.ts
  test/swap_test.ts
Owners: none

Fix max-line-length linter errors
  contracts/erc20/contracts/src/UnlimitedAllowanceERC20Token.sol
  contracts/erc20/contracts/test/DummyMultipleReturnERC20Token.sol
  contracts/utils/contracts/src/DeploymentConstants.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersSettlement.sol
  contracts/zero-ex/contracts/src/storage/LibERC1155OrdersStorage.sol
  contracts/zero-ex/contracts/src/storage/LibERC721OrdersStorage.sol
  contracts/zero-ex/contracts/src/storage/LibMetaTransactionsStorage.sol
  contracts/zero-ex/contracts/src/storage/LibNativeOrdersStorage.sol
  contracts/zero-ex/contracts/src/storage/LibOtcOrdersStorage.sol
  contracts/zero-ex/contracts/src/storage/LibOwnableStorage.sol
  contracts/zero-ex/contracts/src/storage/LibProxyStorage.sol
  contracts/zero-ex/contracts/src/storage/LibReentrancyGuardStorage.sol
  contracts/zero-ex/contracts/src/storage/LibSimpleFunctionRegistryStorage.sol
  contracts/zero-ex/contracts/src/storage/LibStorage.sol
  contracts/zero-ex/contracts/src/storage/LibTransformERC20Storage.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinBalancerV2.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinGMX.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinKyberDmm.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinUniswapV2.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinWOOFi.sol
  contracts/zero-ex/contracts/src/vendor/IUniswapV3Pool.sol
Owners: @dekz, @dextracker

Add solhint and basic configuration
  .solhint.json
  .solhintignore
  package.json
  yarn.lock
Owners: none

Add global lint command to run both ts and solidity linter
  package.json
Owners: none

Turn off compiler version errors
  .solhint.json
Owners: none

Fix linting and prettier issues in contracts
  .solhint.json
  .solhintignore
  contracts/utils/contracts/src/DeploymentConstants.sol
  contracts/zero-ex/contracts/src/IZeroEx.sol
  contracts/zero-ex/contracts/src/errors/LibCommonRichErrors.sol
  contracts/zero-ex/contracts/src/errors/LibLiquidityProviderRichErrors.sol
  contracts/zero-ex/contracts/src/errors/LibMetaTransactionsRichErrors.sol
  contracts/zero-ex/contracts/src/errors/LibNFTOrdersRichErrors.sol
  contracts/zero-ex/contracts/src/errors/LibNativeOrdersRichErrors.sol
  contracts/zero-ex/contracts/src/errors/LibOwnableRichErrors.sol
  contracts/zero-ex/contracts/src/errors/LibProxyRichErrors.sol
  contracts/zero-ex/contracts/src/errors/LibSimpleFunctionRegistryRichErrors.sol
  contracts/zero-ex/contracts/src/errors/LibTransformERC20RichErrors.sol
  contracts/zero-ex/contracts/src/errors/LibWalletRichErrors.sol
  contracts/zero-ex/contracts/src/features/BatchFillNativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IFeature.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersCancellation.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersInfo.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersProtocolFees.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersSettlement.sol
  contracts/zero-ex/contracts/src/migrations/FullMigration.sol
  contracts/zero-ex/contracts/src/storage/LibNativeOrdersStorage.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinBalancerV2.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinGMX.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinSynthetix.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinWOOFi.sol
  contracts/zero-ex/contracts/test/TestFixinProtocolFees.sol
  contracts/zero-ex/contracts/test/TestNativeOrdersFeature.sol
Owners: @dekz, @dextracker

Add solhint-plugin-prettier to run prettier via solhint
  .solhint.json
  package.json
  yarn.lock
Owners: none

fix: Re-included skipped tests [TKR-651] (#1055)
  package.json
  src/asset-swapper/utils/protocol_fee_utils.ts
  src/db_connection.ts
Owners: none

Skip `ran getOrdersAsync test cases` (#1057)
  test/orderbook_service_test.ts
Owners: none

chore: Fix ~50 `eslint` warnings [TKR-650] (#1058)
  package.json
  src/asset-swapper/utils/market_operation_utils/identity_fill_adjustor.ts
  src/asset-swapper/utils/market_operation_utils/multihop_utils.ts
  src/asset-swapper/utils/market_operation_utils/sampler.ts
  src/services/swap_service.ts
  src/services/websocket_service.ts
  src/utils/rfq_dyanmic_blacklist.ts
  src/utils/s3_client.ts
  src/utils/schema_utils.ts
  src/utils/service_utils.ts
  src/utils/slippage_model_fill_adjustor.ts
  src/utils/slippage_model_manager.ts
  src/utils/subprovider_adapter.ts
  src/utils/utils.ts
  test/asset-swapper/contracts/balance_checker_test.ts
  test/asset-swapper/contracts/native_order_sampler_test.ts
  test/asset-swapper/market_operation_utils_test.ts
Owners: @dekz, @dextracker

Remove `prices` endpoint (#1059)
  src/handlers/swap_handlers.ts
  src/routers/swap_router.ts
  src/services/swap_service.ts
  src/types.ts
Owners: none

Upgrade `@0x/protocol-utils` and `@0x/contract-wrappers` (#1060)
  package.json
  src/asset-swapper/utils/market_operation_utils/orders.ts
  yarn.lock
Owners: none

temporarily disable ironbank (#1061)
  src/asset-swapper/utils/market_operation_utils/constants.ts
Owners: none

Suppress all existing eslint warnings (#1062)
  package.json
  src/asset-swapper/swap_quoter.ts
  src/asset-swapper/types.ts
  src/asset-swapper/utils/alt_mm_implementation_utils.ts
  src/asset-swapper/utils/market_operation_utils/fills.ts
  src/asset-swapper/utils/market_operation_utils/index.ts
  src/asset-swapper/utils/market_operation_utils/pools_cache/balancer_v2_pools_cache.ts
  src/asset-swapper/utils/market_operation_utils/pools_cache/pools_cache.ts
  src/asset-swapper/utils/market_operation_utils/rate_utils.ts
  src/asset-swapper/utils/market_operation_utils/sampler_contract_operation.ts
  src/asset-swapper/utils/market_operation_utils/sampler_operations.ts
  src/asset-swapper/utils/protocol_fee_utils.ts
  src/asset-swapper/utils/quote_report_generator.ts
  src/asset-swapper/utils/quote_simulation.ts
  src/config.ts
  src/handlers/sra_handlers.ts
  src/handlers/swap_handlers.ts
  src/middleware/error_handling.ts
  src/rpc_subprovider.ts
  src/runners/rfq_maker_balance_cache_runner.ts
  src/services/postgres_rfqt_firm_quote_validator.ts
  src/services/swap_service.ts
  src/types.ts
  src/utils/address_utils.ts
  src/utils/pairs_manager.ts
  src/utils/price_comparison_utils.ts
  src/utils/result_cache.ts
  src/utils/rfq_client.ts
  test/asset-swapper/contracts/bridge_sampler_mainnet_test.ts
  test/asset-swapper/exchange_proxy_swap_quote_consumer_test.ts
  test/asset-swapper/quote_simulation_test.ts
  test/asset-swapper/utils/test_helpers.ts
  test/config_test.ts
  test/orderbook_service_test.ts
  test/price_comparison_utils_test.ts
  test/rfq_maker_balance_cache_test.ts
  test/sra_test.ts
  test/utils/http_utils.ts
Owners: @dekz, @dextracker

Adding L2 optimizations for Arbitrum and Optimism
  contracts/zero-ex/contracts/src/transformers/bridges/ArbitrumBridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/AvalancheBridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/FantomBridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/OptimismBridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/PolygonBridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAaveV3.sol
Owners: @dekz, @dextracker

chore: Generalize two hop routing logic [TKR-623] (#1063)
  src/asset-swapper/utils/market_operation_utils/fills.ts
  src/asset-swapper/utils/market_operation_utils/index.ts
  src/asset-swapper/utils/market_operation_utils/multihop_utils.ts
  src/asset-swapper/utils/market_operation_utils/orders.ts
  src/asset-swapper/utils/market_operation_utils/path.ts
  src/asset-swapper/utils/market_operation_utils/path_optimizer.ts
  src/asset-swapper/utils/market_operation_utils/rate_utils.ts
  src/asset-swapper/utils/market_operation_utils/types.ts
  test/asset-swapper/utils/market_operations_utils/path_optimizer_test.ts
Owners: none

Remove `inputAmount` from FillAdjustor::adjustFills (#1065)
  src/asset-swapper/utils/market_operation_utils/identity_fill_adjustor.ts
  src/asset-swapper/utils/market_operation_utils/path_optimizer.ts
  src/asset-swapper/utils/market_operation_utils/types.ts
  src/utils/slippage_model_fill_adjustor.ts
Owners: none

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/

# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file

# https://git-scm.com/docs/gitignore#_pattern_format

packages/asset-swapper/ @dekz @dextracker @kyu-c

# Dev tools & setup

.circleci/ @dekz
packages/contract-addresses/ @dekz @dextracker @kyu-c
packages/contract-artifacts/ @dekz
packages/protocol-utils/ @dekz

# Protocol/smart contracts

contracts/ @dekz @dextracker
