Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

`@0x/contracts-zero-ex`: Fixing FQT tests...
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeSource.sol
  contracts/zero-ex/contracts/src/transformers/bridges/IBridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinZeroExBridge.sol
  contracts/zero-ex/contracts/src/vendor/v3/IExchange.sol
  contracts/zero-ex/contracts/src/vendor/v3/IGasToken.sol
  contracts/zero-ex/contracts/src/vendor/v3/LibOrderHash.sol
  contracts/zero-ex/contracts/test/TestFillQuoteTransformerBridge.sol
  contracts/zero-ex/contracts/test/TestFillQuoteTransformerExchange.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Tweak FQT `@0x/contracts-zero-ex`: Drop `ERC20BridgeTransfer` event and add `PartialQuoteFill` event.
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeSource.sol
  contracts/zero-ex/contracts/src/transformers/bridges/IBridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinBalancer.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinBancor.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCoFiX.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCryptoCom.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCurve.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinDodo.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinKyber.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinMStable.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinMooniswap.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinOasis.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinShell.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinSushiswap.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinUniswap.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinUniswapV2.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinZeroExBridge.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-utils`: Add `LibSafeMathV06.downcastToUint128()`
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: rename FQT bridge event
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/IBridgeAdapter.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/migrations`: Update `BridgeAdapter` deployment
  packages/migrations/CHANGELOG.json
  packages/migrations/src/migration.ts
Owners: @dorothy-zbornak, @mzhu25

`@0x/protocol-utils`: Address review comments
  packages/protocol-utils/src/transformer_utils.ts
Owners: @dorothy-zbornak, @mzhu25

`@0x/migrations`: Update migrations
  packages/migrations/src/migration.ts
Owners: @dorothy-zbornak, @mzhu25

v4 FillQuoteTransformer (#104)
  contracts/integrations/test/exchange-proxy/mtx_test.ts
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeSource.sol
  contracts/zero-ex/contracts/src/transformers/bridges/IBridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAdapterAddresses.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinBalancer.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinBancor.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCoFiX.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCryptoCom.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCurve.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinDodo.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinKyber.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinMStable.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinMooniswap.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinOasis.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinShell.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinSushiswap.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinUniswap.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinUniswapV2.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinZeroExBridge.sol
  contracts/zero-ex/contracts/src/vendor/v3/IExchange.sol
  contracts/zero-ex/contracts/src/vendor/v3/IGasToken.sol
  contracts/zero-ex/contracts/src/vendor/v3/LibOrderHash.sol
  contracts/zero-ex/contracts/test/TestFillQuoteTransformerBridge.sol
  contracts/zero-ex/contracts/test/TestFillQuoteTransformerExchange.sol
  contracts/zero-ex/contracts/test/TestLiquidityProvider.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/migrations/CHANGELOG.json
  packages/migrations/src/migration.ts
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/src/signature_utils.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

refactor sampler operations with
  packages/asset-swapper/contracts/test/TestERC20BridgeSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/sampler_contract_operation.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

chore: Security updates to dependencies (#459)
  package.json
  yarn.lock
Owners: none

Panettone cleanup (#109)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/IZeroEx.sol
  contracts/zero-ex/contracts/src/features/IMetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/features/ISignatureValidatorFeature.sol
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/features/SignatureValidatorFeature.sol
  contracts/zero-ex/contracts/src/features/TransformERC20Feature.sol
  contracts/zero-ex/contracts/src/migrations/FullMigration.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/src/migration.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/signature_validator_test.ts
  contracts/zero-ex/test/full_migration_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Updated docs for Panettone release + v4 audit + v4 bounty
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/tsconfig.json
  docs/additional/audits.rst
  docs/additional/bounties.rst
  docs/additional/emergency.rst
  docs/additional/releases.rst
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Updated docs for Panettone release + v4 audit + v4 bounty (#112)
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/tsconfig.json
  docs/additional/audits.rst
  docs/additional/bounties.rst
  docs/additional/emergency.rst
  docs/additional/releases.rst
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Added Mooniswap v2.1
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: Kyber reserve discovery using getTradingReserves (#111)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/KyberSampler.sol
  packages/asset-swapper/contracts/src/interfaces/IKyberNetwork.sol
  packages/asset-swapper/contracts/test/TestERC20BridgeSampler.sol
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/kyber_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_contract_operation.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/contracts/bridge_sampler_mainnet_test.ts
  packages/asset-swapper/test/contracts/erc20_bridge_sampler_test.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/quote_report_generator_test.ts
  packages/asset-swapper/test/utils/mock_sampler_contract.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

Publish
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
  packages/protocol-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: Kyber reserves and Mooni 2.1 (#462)
  package.json
  yarn.lock
Owners: none

chore: Change allowance target to 0xdef1 (#463)
  src/services/swap_service.ts
  test/swap_test.ts
Owners: none

fix: Upgrade quote server and Asset Swapper types (and specify protocol ve… (#108)
  packages/asset-swapper/package.json
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

v0.0.0
  package.json
Owners: none

refactor quote_requestor
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

WIP v4/asset-swapper: Clean up SwapQuoter and remove @0x/orderbook
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/assert.ts
  packages/asset-swapper/src/utils/calculate_liquidity.ts
  packages/asset-swapper/test/swap_quoter_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: [DO NOT MERGE] Rfq registry (#464)
  .env_example
  src/config.ts
  src/handlers/swap_handlers.ts
  src/routers/swap_router.ts
  test/test_env
  yarn.lock
Owners: none

Start replacing SignedOrder everywhere
  packages/asset-swapper/package.json
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/assert.ts
  packages/asset-swapper/src/utils/fillable_amounts_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/src/utils/utils.ts
  packages/asset-swapper/test/exchange_proxy_swap_quote_consumer_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Add test for getLimitOrderRelevantState
  contracts/zero-ex/test/features/native_orders_feature_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Finish the senten
  contracts/zero-ex/test/features/native_orders_feature_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

wip: new order type
  packages/order-utils/src/order_calculation_utils.ts
Owners: @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Swallow reverts in `batchGetLimit/RfqRelevantStates()`.
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/test/features/native_orders_feature_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Fix typos
  contracts/zero-ex/contracts/src/features/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Fix misleading RFQ typehash comment in `LibNativeOrder.sol`
  contracts/zero-ex/contracts/src/features/libs/LibNativeOrder.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

[asset-swapper]: Curve open pools (ESD, BAC, DSD...)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

wip
  packages/asset-swapper/package.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/quote_consumers/utils.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/affiliate_fee_utils.ts
  packages/asset-swapper/src/utils/assert.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/multihop_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/order_prune_utils.ts
  packages/asset-swapper/src/utils/order_state_utils.ts
  packages/asset-swapper/src/utils/quote_report_generator.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
  packages/asset-swapper/src/utils/sorting_utils.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/src/utils/swap_quote_consumer_utils.ts
  packages/asset-swapper/src/utils/utils.ts
  packages/asset-swapper/test/exchange_proxy_swap_quote_consumer_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/order_prune_utils_test.ts
  packages/asset-swapper/test/order_state_utils_test.ts
  packages/order-utils/src/order_calculation_utils.ts
  packages/protocol-utils/src/orders.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

EP: Swallow reverts in `batchGetLimit/RfqRelevantStates()` (#117)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/libs/LibNativeOrder.sol
  contracts/zero-ex/test/features/native_orders_feature_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/migrations`: Update dockerfile to override networkId and chainId in ganache-cli
  packages/migrations/CHANGELOG.json
  packages/migrations/Dockerfile
Owners: @dorothy-zbornak, @mzhu25

`@0x/migrations`: Update dockerfile to override networkId and chainId in ganache-cli (#118)
  packages/migrations/CHANGELOG.json
  packages/migrations/Dockerfile
Owners: @dorothy-zbornak, @mzhu25

remove order-utils from most places
  packages/asset-swapper/package.json
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
  packages/asset-swapper/src/utils/sorting_utils.ts
  packages/asset-swapper/src/utils/utils.ts
  packages/asset-swapper/test/calculate_liquidity_test.ts
  packages/asset-swapper/test/comparison_price_test.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/fillable_amounts_utils_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/quote_report_generator_test.ts
  packages/asset-swapper/test/quote_requestor_test.ts
  packages/asset-swapper/test/quote_simulation_test.ts
  packages/asset-swapper/test/sorting_utils_test.ts
  packages/asset-swapper/test/utils/test_order_factory.ts
  packages/asset-swapper/test/utils/test_orders.ts
  packages/asset-swapper/test/utils_test.ts
  packages/order-utils/src/index.ts
  packages/order-utils/src/order_factory.ts
  packages/order-utils/tsconfig.json
  packages/protocol-utils/src/orders.ts
  packages/protocol-utils/src/salt.ts
  packages/protocol-utils/tsconfig.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

hack: Play around with VerboseX types
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/path.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

More hacks
  packages/asset-swapper/src/quote_consumers/utils.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/assert.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_report_generator.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Fix up the bridgeData encodings
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCryptoCom.sol
  packages/asset-swapper/contracts/src/UniswapV2Sampler.sol
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/quote_consumers/swap_quote_consumer.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_report_generator.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

docs: add `big-pantsuit-energy` release
  docs/additional/releases.rst
Owners: none

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25
