Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25

Add presign support for ERC721 orders
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/libs/LibSignature.sol
  contracts/zero-ex/contracts/src/storage/LibERC721OrdersStorage.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add taker callback
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/vendor/IERC721OrderCallback.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Bump package versions and regenerate contract wrappers
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  package.json
  packages/asset-swapper/package.json
  packages/contract-artifacts/package.json
  packages/contract-wrappers/package.json
  packages/contract-wrappers/src/generated-wrappers/broker.ts
  packages/contract-wrappers/src/generated-wrappers/coordinator.ts
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
  packages/contract-wrappers/src/generated-wrappers/erc20_token.ts
  packages/contract-wrappers/src/generated-wrappers/erc721_token.ts
  packages/contract-wrappers/src/generated-wrappers/exchange.ts
  packages/contract-wrappers/src/generated-wrappers/forwarder.ts
  packages/contract-wrappers/src/generated-wrappers/gods_unchained_validator.ts
  packages/contract-wrappers/src/generated-wrappers/i_asset_data.ts
  packages/contract-wrappers/src/generated-wrappers/i_liquidity_provider.ts
  packages/contract-wrappers/src/generated-wrappers/i_transform_erc20.ts
  packages/contract-wrappers/src/generated-wrappers/i_zero_ex.ts
  packages/contract-wrappers/src/generated-wrappers/maximum_gas_price.ts
  packages/contract-wrappers/src/generated-wrappers/staking.ts
  packages/contract-wrappers/src/generated-wrappers/staking_proxy.ts
  packages/contract-wrappers/src/generated-wrappers/weth9.ts
  packages/migrations/package.json
  packages/protocol-utils/package.json
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Add ERC165Feature
  contracts/zero-ex/contracts/src/IZeroEx.sol
  contracts/zero-ex/contracts/src/features/ERC165Feature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC165Feature.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

feat: Additional Curve pools
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fixed synapse pools
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

reverted avax nETHLP, still not working, ran prettier and lint
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fixed conflicts
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Revert "fix: revert pair automation (#814)" (#815)
  migrations/1638230050100-CreateRfqMakerPairsTable.ts
  migrations/1639527388617-PopulateRfqMakerPairsTable.ts
  migrations/1641933207280-CreateRfqMakerPairsUpdateTimeHashView.ts
  src/app.ts
  src/config.ts
  src/entities/RfqMakerPairs.ts
  src/entities/RfqMakerPairsUpdateTimeHash.ts
  src/entities/index.ts
  src/ormconfig.ts
  src/schemas/index.ts
  src/schemas/rfq_maker_config.json
  src/schemas/rfq_maker_config_list.json
  src/services/swap_service.ts
  src/utils/config_manager.ts
  src/utils/pair_utils.ts
  src/utils/pairs_manager.ts
  src/utils/rfq_maker_db_utils.ts
  test/quote_validator_test.ts
  test/rate_limiter_test.ts
  test/rfq_maker_balance_cache_test.ts
  test/rfqm_db_test.ts
  test/rfqm_test.ts
  test/utils/db_connection.ts
  test/utils/deployment.ts
  test/utils/rfq_blocked_address_utils_test.ts
Owners: none

chore: Use global sample values for reduced payloads
  packages/asset-swapper/contracts/src/BalancerSampler.sol
  packages/asset-swapper/contracts/src/BalancerV2Sampler.sol
  packages/asset-swapper/contracts/src/BancorSampler.sol
  packages/asset-swapper/contracts/src/CompoundSampler.sol
  packages/asset-swapper/contracts/src/CurveSampler.sol
  packages/asset-swapper/contracts/src/DODOSampler.sol
  packages/asset-swapper/contracts/src/DODOV2Sampler.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/KyberDmmSampler.sol
  packages/asset-swapper/contracts/src/KyberSampler.sol
  packages/asset-swapper/contracts/src/MStableSampler.sol
  packages/asset-swapper/contracts/src/MooniswapSampler.sol
  packages/asset-swapper/contracts/src/SamplerBase.sol
  packages/asset-swapper/contracts/src/ShellSampler.sol
  packages/asset-swapper/contracts/src/SmoothySampler.sol
  packages/asset-swapper/contracts/src/UniswapSampler.sol
  packages/asset-swapper/contracts/src/UniswapV2Sampler.sol
  packages/asset-swapper/contracts/src/UniswapV3Sampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fixed accidental token change on firebirdoneswap
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

remove accidental token address change
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

removed references to "SYN" , lowercase addresses
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fixed token ordering for synapse pools
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

added initial support for celo
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: Curve added ETH/CRV pool
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: Add ability to capture sampler metrics (#374)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/UtilitySampler.sol
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

Revert "chore: Curve added ETH/CRV pool"
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/protocol-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Updated CHANGELOGS & MD docs
  contracts/erc20/CHANGELOG.json
  contracts/erc20/CHANGELOG.md
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/CHANGELOG.md
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/utils/CHANGELOG.json
  contracts/utils/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.md
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.md
  packages/migrations/CHANGELOG.json
  packages/migrations/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

chore: Curve added ETH/CRV pool (#378)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: deploy interest tokens (#321)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeProtocols.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAaveV2.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCompound.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/CompoundSampler.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/noop_samplers/AaveV2Sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/aave_reserves_cache.ts
  packages/asset-swapper/src/utils/market_operation_utils/compound_ctoken_cache.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_no_operation.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/src/transformer_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Sushi router celo fix (#376)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: UniswapV3 on Polygon (#382)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/UniswapV3Sampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

fix: PR number in CHANGELOG
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: Beethovenx graphql endpoint (#383)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  contracts/erc20/CHANGELOG.json
  contracts/erc20/CHANGELOG.md
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/CHANGELOG.md
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/utils/CHANGELOG.json
  contracts/utils/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.md
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.md
  packages/migrations/CHANGELOG.json
  packages/migrations/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat/optimism [TKR-280] (#385)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: Udate neon-router and use router estimated output amount (#354)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/protocol-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: Capture Routing timing metrics (#388)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fixes axios object dumping in logs (#345)
  packages/asset-swapper/src/utils/alt_mm_implementation_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25
