Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

`@0x/protocol-utils`: Add the `MetaTransaction` class for EP mtxs + refactors
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/src/constants.ts
  packages/protocol-utils/src/eip712_utils.ts
  packages/protocol-utils/src/index.ts
  packages/protocol-utils/src/mtx.ts
  packages/protocol-utils/src/orders.ts
Owners: @dorothy-zbornak, @mzhu25

update changelogs
  contracts/zero-ex/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/protocol-utils`: Add mtx tests
  packages/protocol-utils/test/mtx_test.ts
Owners: @dorothy-zbornak, @mzhu25

`@0x/protocol-utils`: Rename `mtx.ts` to `meta_transactions.ts` and misc review feedback
  packages/protocol-utils/src/index.ts
  packages/protocol-utils/src/meta_transactions.ts
  packages/protocol-utils/src/orders.ts
  packages/protocol-utils/test/meta_transactions_test.ts
Owners: @dorothy-zbornak, @mzhu25

Add mtx tooling to `@0x/protocol-utils` (#90)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/package.json
  contracts/zero-ex/test/features/meta_transactions_test.ts
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/src/constants.ts
  packages/protocol-utils/src/eip712_utils.ts
  packages/protocol-utils/src/index.ts
  packages/protocol-utils/src/meta_transactions.ts
  packages/protocol-utils/src/orders.ts
  packages/protocol-utils/test/meta_transactions_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
  packages/migrations/CHANGELOG.json
  packages/migrations/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Publish
  contracts/integrations/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-wrappers-test/package.json
  packages/migrations/package.json
  packages/protocol-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Add MixinBancor for BridgeAdapter
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAdapterAddresses.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinBancor.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinZeroExBridge.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Use 0.6 call value syntax
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinBancor.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Update changelog
  contracts/zero-ex/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contract-addresses`: Deploy new FQT
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dorothy-zbornak, @mzhu25

feat: Rollup CoFiX
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAdapterAddresses.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCoFiX.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

feat: Rollup CoFiX (#92)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAdapterAddresses.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCoFiX.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contract-addreses`: update FQT addresses
  packages/contract-addresses/addresses.json
Owners: @dorothy-zbornak, @mzhu25

Only use subgraph query result to populate function history
  contracts/zero-ex/scripts/rollback.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Fix rollback for functions with no rollback history
  contracts/zero-ex/scripts/rollback.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Only use subgraph query result to populate function history (#93)
  contracts/zero-ex/scripts/rollback.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Emergency docs
  docs/additional/emergency.rst
  docs/index.rst
Owners: none

Emergency docs (#94)
  docs/additional/emergency.rst
  docs/index.rst
Owners: none

fix: Make the gas price adjustment for RFQT fast +20% (#448)
  src/services/swap_service.ts
Owners: none

Bancor FQT rollup (#91)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAdapterAddresses.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinBancor.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCoFiX.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinZeroExBridge.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Publish
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
  packages/protocol-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: created at to signed orders migration, 0x/contract-addresses bump (#449)
  migrations/1608130412812-AddCreatedAtToSignedOrders.ts
  package.json
  yarn.lock
Owners: none

fix: add createdAt to SignedOrders table (#447)
  src/entities/PersistentSignedOrderEntity.ts
  src/entities/SignedOrderEntity.ts
  test/orderbook_service_test.ts
  test/sra_test.ts
Owners: none

Update staking.md
  docs/tokenomics/staking.md
Owners: none

fix: CryptoCom rollup
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCryptoCom.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix: CryptoCom rollup (#98)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCryptoCom.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contract-addresses`: Redeploy FQT
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dorothy-zbornak, @mzhu25

`@0x/contract-addresses`: Redeploy FQT (#99)
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dorothy-zbornak, @mzhu25

Publish
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
  packages/protocol-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: Update packages with CryptoCom fix (#450)
  package.json
  yarn.lock
Owners: none

feat: [asset-swapper] Added Mooniswap V2 factory address
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/MooniswapSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

feat: [asset-swapper] Added Mooniswap V2 factory address (#100)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/MooniswapSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  contracts/integrations/package.json
  packages/asset-swapper/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: Mooniswap V2 (#451)
  package.json
  src/token_metadatas_for_networks.ts
  yarn.lock
Owners: none

chore: [asset-swapper] Update Shells to new version
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: adding UST, BBTC, OBTC, aDAI, aUSDC, aUSDT, sEUR, EURS, sETH pools
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: comment seth curve pool
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: prettify, remove seth pool
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25
