Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25

feat: asset-swapper Fake Taker contract (#151)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/FakeTaker.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/artifacts.ts
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/wrappers.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

feat: DODO V2
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeSource.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinDodoV2.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/DODOV2Sampler.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/kyber_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
  packages/protocol-utils/package.json
  packages/protocol-utils/src/transformer_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Fix typo
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

extra logging for debugging
  packages/asset-swapper/src/utils/alt_mm_implementation_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fixed existingOrder size
  packages/asset-swapper/src/utils/alt_mm_implementation_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

get rid of only flag on test, get rid of extra logging
  packages/asset-swapper/src/utils/alt_mm_implementation_utils.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

prettier
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: Linkswap
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeSource.sol
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: Re-add WBTC in default hop tokens
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat/alt RFQ MM implementation (#139)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/alt_mm_implementation_utils.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
  packages/asset-swapper/test/utils/test_helpers.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: Add alternative RFQ market maker implementation (#484)
  .env_example
  package.json
  src/config.ts
  src/services/swap_service.ts
  src/utils/alt_mm_utils.ts
  test/test_env
  yarn.lock
Owners: none

feat: Linkswap (#153)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeSource.sol
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: intermediate hops WBTC (#154)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Update review changes
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/DODOV2Sampler.sol
  packages/protocol-utils/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

`@0x/contracts-zero-ex`: refund ETH with no gas limit in FQT `@0x/contract-addresses`: Deploy FQT
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Update packages/contract-addresses/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

add exchange proxy overhead penalty to comparison price
  packages/asset-swapper/src/utils/market_operation_utils/comparison_price.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/test/comparison_price_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

prettier
  packages/asset-swapper/src/utils/market_operation_utils/comparison_price.ts
  packages/asset-swapper/test/comparison_price_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

add exchange proxy overhead penalty to comparison price (#156)
  packages/asset-swapper/src/utils/market_operation_utils/comparison_price.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/test/comparison_price_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

FQT deploy + no gas limit ETH refund (#155)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix: FQT in migrations
  packages/migrations/CHANGELOG.json
  packages/migrations/src/migration.ts
Owners: @dorothy-zbornak, @mzhu25

feat: DODO V2, Linkswap (#152)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeSource.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinDodoV2.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/DODOV2Sampler.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/kyber_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/package.json
  packages/protocol-utils/src/transformer_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: rename ethToTakerAssetRate to takerAssetPriceForOneEth
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: Positive Slippage Fee
  contracts/zero-ex/contracts/src/transformers/PositiveSlippageFeeTransformer.sol
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/index.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/transformers/positive_slippage_fee_transformer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/exchange_proxy_swap_quote_consumer_test.ts
  packages/asset-swapper/test/utils/swap_quote.ts
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/migrations/src/migration.ts
  packages/order-utils/src/index.ts
  packages/order-utils/src/transformer_utils.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

rebased off development
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/multihop_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: export AffiliateFeeType
  packages/asset-swapper/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: rename takerAssetPriceForOneEth to takerAssetsPerEth
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/comparison_price.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/path.ts
  packages/asset-swapper/src/utils/market_operation_utils/rate_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/comparison_price_test.ts
  packages/asset-swapper/test/exchange_proxy_swap_quote_consumer_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Add a gasOverhead for non-deterministic operations
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/test/transformers/positive_slippage_fee_transformer_test.ts
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/test/exchange_proxy_swap_quote_consumer_test.ts
  packages/asset-swapper/test/utils/swap_quote.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

CHANGELOGs
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/PositiveSlippageFeeTransformer.sol
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/comparison_price.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/multihop_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/comparison_price_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

rename outputTokens to outputAmount
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/path.ts
  packages/asset-swapper/src/utils/market_operation_utils/rate_utils.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Confirm transformer addresses on Mainnet and Ropsten
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dorothy-zbornak, @mzhu25

fix: FQT in migrations (#157)
  packages/migrations/CHANGELOG.json
  packages/migrations/src/migration.ts
Owners: @dorothy-zbornak, @mzhu25

fix import
  packages/asset-swapper/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: opt-in positive slippage fee for integrators (#101)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/PositiveSlippageFeeTransformer.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/index.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/transformers/positive_slippage_fee_transformer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/comparison_price.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/multihop_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/path.ts
  packages/asset-swapper/src/utils/market_operation_utils/rate_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/comparison_price_test.ts
  packages/asset-swapper/test/exchange_proxy_swap_quote_consumer_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/utils/swap_quote.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/migrations/src/migration.ts
  packages/order-utils/src/index.ts
  packages/order-utils/src/transformer_utils.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Fix contract merge conflict
  contracts/zero-ex/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Publish
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-artifacts/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
  packages/protocol-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: Opt-in positive slippage for integrators (#483)
  package.json
  src/constants.ts
  src/errors.ts
  src/handlers/meta_transaction_handlers.ts
  src/handlers/swap_handlers.ts
  src/services/swap_service.ts
  src/types.ts
  src/utils/parse_utils.ts
  src/utils/service_utils.ts
  test/service_utils_test.ts
  test/swap_test.ts
  test/utils/mocks.ts
  yarn.lock
Owners: none

improve logging for alt rfq request
  packages/asset-swapper/src/utils/alt_mm_implementation_utils.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

clean up unsuccessful status code logic
  packages/asset-swapper/src/utils/alt_mm_implementation_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Fix quote requestor tests
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25
