Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

Rollback CLI tools (#79)
  contracts/zero-ex/.npmignore
  contracts/zero-ex/package.json
  contracts/zero-ex/scripts/rollback.ts
  contracts/zero-ex/tsconfig.json
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

working unit tests
  contracts/staking/contracts/src/goverence/GoverancePower.sol
  contracts/staking/contracts/src/goverence/GovernorAlpha.sol
  contracts/staking/contracts/src/goverence/Timelock.sol
  contracts/staking/contracts/src/immutable/MixinDeploymentConstants.sol
  contracts/staking/contracts/src/interfaces/IOnchainGov.sol
  contracts/staking/contracts/src/stake/MixinStake.sol
  contracts/staking/contracts/src/sys/MixinParams.sol
  contracts/staking/contracts/test/TestCumulativeRewardTracking.sol
  contracts/staking/contracts/test/TestMixinCumulativeRewards.sol
  contracts/staking/contracts/test/TestMixinScheduler.sol
  contracts/staking/contracts/test/TestMixinStake.sol
  contracts/staking/contracts/test/TestStaking.sol
  contracts/staking/contracts/test/TestStorageLayoutAndConstants.sol
  contracts/staking/test/stake_test.ts
  contracts/staking/test/unit_tests/authorizable.ts
  contracts/staking/test/unit_tests/mixin_cumulative_rewards_test.ts
  contracts/staking/test/unit_tests/mixin_scheduler_test.ts
  contracts/staking/test/unit_tests/stake_test.ts
  contracts/staking/test/utils/api_wrapper.ts
  contracts/staking/test/utils/cumulative_reward_tracking_simulation.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

build fix
  contracts/integrations/test/framework/deployment_manager.ts
  contracts/staking/package.json
  contracts/staking/src/artifacts.ts
  contracts/staking/src/index.ts
  contracts/staking/src/wrappers.ts
  contracts/staking/tsconfig.json
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

lint fixes
  contracts/integrations/test/framework/deployment_manager.ts
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

3 hop etc
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

hack in some intermediate token metadata info
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_report_generator.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: createdAt to PersistentOrders table (#443)
  README.md
  migrations/1607361624530-AddTimestampToPersistentSignedOrders.ts
  package.json
  src/entities/PersistentSignedOrderEntity.ts
  src/services/orderbook_service.ts
  src/types.ts
  src/utils/order_utils.ts
  test/orderbook_service_test.ts
Owners: none

changelog + ganache snapshot update
  contracts/staking/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

exit with code 1 if there is an error in main function (#445)
  src/runners/rfq_maker_balance_cache_runner.ts
  yarn.lock
Owners: none

`@0x/contracts-zero-ex`: Address audit feedback (1/2)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/external/FeeCollector.sol
  contracts/zero-ex/contracts/src/features/UniswapFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Cap the ETH transfer amount to a liquidity provider to `msg.value`
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/LiquidityProviderFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Bump feature contract versions
  contracts/zero-ex/contracts/src/features/LiquidityProviderFeature.sol
  contracts/zero-ex/contracts/src/features/UniswapFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Always transfer msg.value to the liqudity provider in LiquiidityProviderFeature
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/LiquidityProviderFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Update FQT to support v4 orders
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/IBridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAdapterAddresses.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinBalancer.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCryptoCom.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCurve.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinDodo.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinKyber.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinMStable.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinMooniswap.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinOasis.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinShell.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinSushiswap.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinUniswap.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinUniswapV2.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinZeroExBridge.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Added signed rfq- and limit order types
  packages/protocol-utils/src/orders.ts
Owners: @dorothy-zbornak, @mzhu25

Remove backwards-compatibility from MixinZeroExBridge and LiquidityProviderSandbox
  contracts/zero-ex/contracts/src/external/LiquidityProviderSandbox.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinZeroExBridge.sol
  contracts/zero-ex/test/features/liquidity_provider_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

added SRA schema for V4 orders
  docs/basics/orders.rst
Owners: none

address comments
  docs/basics/orders.rst
Owners: none

fix: added SRA schema for V4 orders (#86)
  docs/basics/orders.rst
Owners: none

docs and comment fixes
  contracts/staking/contracts/src/goverence/GoverancePower.sol
  contracts/staking/contracts/src/stake/MixinStake.sol
  docs/_static/staking/gov_scheme.png
  docs/index.rst
  docs/tokenomics/governance.rst
  docs/tokenomics/protocol_governance.rst
  docs/tokenomics/staking.md
  docs/tokenomics/treasury_governance.md
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

updates market side liquidity with the appropriate firm and indicative quotes for reporting
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

linting and fixing
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

linting and fixing
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: Fix quote report (#87)
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Update CHANGELOG
  contracts/zero-ex/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Remove PLP backwards-compatibility (#85)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/external/LiquidityProviderSandbox.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinZeroExBridge.sol
  contracts/zero-ex/test/features/liquidity_provider_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

EP: Address audit feedback (#82)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/external/FeeCollector.sol
  contracts/zero-ex/contracts/src/external/LiquidityProviderSandbox.sol
  contracts/zero-ex/contracts/src/features/LiquidityProviderFeature.sol
  contracts/zero-ex/contracts/src/features/UniswapFeature.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinZeroExBridge.sol
  contracts/zero-ex/test/features/liquidity_provider_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Rework Bancor to only use paths and sample best path
  contracts/asset-proxy/contracts/src/bridges/BancorBridge.sol
  contracts/asset-proxy/contracts/src/bridges/KyberBridge.sol
  packages/asset-swapper/contracts/src/BancorSampler.sol
  packages/asset-swapper/contracts/src/DeploymentConstants.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/interfaces/IBancor.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/bancor_service.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/bancor_service_test.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/utils/mock_bancor_service.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Deployed address
  contracts/asset-proxy/test/bancor_bridge.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Clean up and pin bancor sdk
  packages/asset-swapper/contracts/src/BancorSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

CHANGELOGs
  contracts/asset-proxy/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: [asset-swapper] Rework Bancor to only use paths and sample best path (#88)
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/bridges/BancorBridge.sol
  contracts/asset-proxy/contracts/src/bridges/KyberBridge.sol
  contracts/asset-proxy/test/bancor_bridge.ts
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/BancorSampler.sol
  packages/asset-swapper/contracts/src/DeploymentConstants.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/interfaces/IBancor.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/bancor_service.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/bancor_service_test.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/utils/mock_bancor_service.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Updated CHANGELOGS & MD docs
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/CHANGELOG.md
  contracts/broker/CHANGELOG.json
  contracts/broker/CHANGELOG.md
  contracts/coordinator/CHANGELOG.json
  contracts/coordinator/CHANGELOG.md
  contracts/dev-utils/CHANGELOG.json
  contracts/dev-utils/CHANGELOG.md
  contracts/exchange-forwarder/CHANGELOG.json
  contracts/exchange-forwarder/CHANGELOG.md
  contracts/exchange/CHANGELOG.json
  contracts/exchange/CHANGELOG.md
  contracts/extensions/CHANGELOG.json
  contracts/extensions/CHANGELOG.md
  contracts/multisig/CHANGELOG.json
  contracts/multisig/CHANGELOG.md
  contracts/staking/CHANGELOG.json
  contracts/staking/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
  packages/migrations/CHANGELOG.json
  packages/migrations/CHANGELOG.md
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Publish
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-wrappers-test/package.json
  packages/migrations/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Disable Bancor Service for non-mainnet
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/dex_sampler_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Fix import
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Fix mocked tests
  packages/asset-swapper/test/dex_sampler_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Disable Bancor Service for non-mainnet (#89)
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/dex_sampler_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: Bancor enabled always (#446)
  package.json
  src/handlers/swap_handlers.ts
  src/services/swap_service.ts
  yarn.lock
Owners: none

`@0x/contracts-zero-ex`: Use the `MetaTransaction` class from `@0x/protocol-utils` in tests.
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/package.json
  contracts/zero-ex/test/features/meta_transactions_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25
