Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @dekz, @mzhu25, @dextracker, @kh-chang

wip feat: add support for RFQt v2 in asset swapper
  packages/asset-swapper/src/utils/irfq_client.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @dekz, @mzhu25, @dextracker, @kh-chang

Add WooFI interface for sampling
  packages/asset-swapper/contracts/src/interfaces/IWooFI.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @dekz, @mzhu25, @dextracker, @kh-chang

Add Solidly on Fantom
  contracts/zero-ex/contracts/src/transformers/bridges/FantomBridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinSpiritV2.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/SolidlySampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
  packages/protocol-utils/src/transformer_utils.ts
Owners: @dekz, @mzhu25, @dextracker, @kh-chang

Update BridgeProtocols.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeProtocols.sol
Owners: @dekz, @mzhu25, @dextracker

Wrap balancer fetch top pool with try and catch
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/balancer_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/balancer_v2_utils.ts
Owners: @dekz, @mzhu25, @dextracker, @kh-chang

Update CHANGELOG.json
  packages/asset-swapper/CHANGELOG.json
Owners: @dekz, @mzhu25, @dextracker, @kh-chang

Wrap balancer fetch top pools with try and catch [TKR-481] (#515)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/balancer_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/balancer_v2_utils.ts
Owners: @dekz, @mzhu25, @dextracker, @kh-chang

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @dekz, @mzhu25, @dextracker, @kh-chang

Publish
  packages/asset-swapper/package.json
Owners: @dekz, @mzhu25, @dextracker, @kh-chang

feat: Enable slippage protection by default (#883)
  package.json
  src/constants.ts
  yarn.lock
Owners: none

add new fqt and support for otc orders in asset-swapper exchange proxy swap qutoe consumer
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/quote_consumers/quote_consumer_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @dekz, @mzhu25, @dextracker, @kh-chang

added otc orders to quote report generator
  packages/asset-swapper/src/utils/quote_report_generator.ts
Owners: @dekz, @mzhu25, @dextracker, @kh-chang

Simplify token adjacency graph in constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @dekz, @mzhu25, @dextracker, @kh-chang

Replace old TokenAdjacencyGraph with new implementation
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/multihop_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/token_adjacency_graph.ts
  packages/asset-swapper/src/utils/token_adjacency_graph_builder.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/token_adjacency_graph_test.ts
Owners: @dekz, @mzhu25, @dextracker, @kh-chang

Fix lint error
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @dekz, @mzhu25, @dextracker, @kh-chang

Add a new TokenAdjacencyGraph implementation
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/token_adjacency_graph.ts
  packages/asset-swapper/test/token_adjacency_graph_test.ts
Owners: @dekz, @mzhu25, @dextracker, @kh-chang

added fill logic for otcOrders in AS, as well as MultiplexBatchFill for otc
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/quote_consumers/multiplex_encoders.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @dekz, @mzhu25, @dextracker, @kh-chang

trying to fix tests
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/quote_consumers/quote_consumer_utils.ts
  packages/asset-swapper/src/utils/quote_report_generator.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @dekz, @mzhu25, @dextracker, @kh-chang

changelog version bumps
  packages/asset-swapper/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.json
Owners: @dekz, @mzhu25, @dextracker, @kh-chang

fix rfq/otc encoding logic
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: @dekz, @mzhu25, @dextracker, @kh-chang

Update CHANGELOG.json
  packages/asset-swapper/CHANGELOG.json
Owners: @dekz, @mzhu25, @dextracker, @kh-chang

Refactor `TokenAdjacency` and `TokenAdjacencyBuilder` [TKR-324] (#517)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/multihop_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/token_adjacency_graph.ts
  packages/asset-swapper/src/utils/token_adjacency_graph_builder.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/token_adjacency_graph_test.ts
Owners: @dekz, @mzhu25, @dextracker, @kh-chang

Fix typos in GMX sampling logic
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @dekz, @mzhu25, @dextracker, @kh-chang

Enable deployments for Goerli and Mumbai (#886)
  .github/workflows/deploy.yml
Owners: none

WooFi Sampler
  packages/asset-swapper/contracts/src/WooPPSampler.sol
Owners: @dekz, @mzhu25, @dextracker

Remove unused dependencies
  packages/asset-swapper/package.json
Owners: @dekz, @mzhu25, @dextracker, @kh-chang

Remove unused devDependencies
  packages/asset-swapper/package.json
  yarn.lock
Owners: @dekz, @mzhu25, @dextracker, @kh-chang

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/

# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file

# https://git-scm.com/docs/gitignore#_pattern_format

packages/asset-swapper/ @dekz @mzhu25 @dextracker @kh-chang

# Dev tools & setup

.circleci/ @dekz @mzhu25
packages/contract-addresses/ @dekz @mzhu25 @dextracker @kh-chang
packages/contract-artifacts/ @dekz @mzhu25
packages/protocol-utils/ @dekz @mzhu25

# Protocol/smart contracts

contracts/ @dekz @mzhu25 @dextracker
