Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

feat: ok
  packages/token-metadata/lib/src/index.d.ts
  packages/token-metadata/lib/src/index.d.ts.map
  packages/token-metadata/lib/src/index.js
  packages/token-metadata/lib/src/index.js.map
  packages/token-metadata/lib/src/token_metadata.d.ts
  packages/token-metadata/lib/src/token_metadata.d.ts.map
  packages/token-metadata/lib/src/token_metadata.js
  packages/token-metadata/lib/src/token_metadata.js.map
  packages/token-metadata/lib/src/utils.d.ts
  packages/token-metadata/lib/src/utils.d.ts.map
  packages/token-metadata/lib/src/utils.js
  packages/token-metadata/lib/src/utils.js.map
  packages/token-metadata/package.json
Owners: none

feat: update
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: set allowance before trade & use ERC20 token interface
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAaveV2.sol
  packages/asset-swapper/contracts/src/AaveV2Sampler.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

feat: revert token metadata
  packages/token-metadata/.gitignore
  packages/token-metadata/CHANGELOG.json
  packages/token-metadata/CHANGELOG.md
  packages/token-metadata/README.md
  packages/token-metadata/lib/index.d.ts
  packages/token-metadata/lib/index.d.ts.map
  packages/token-metadata/lib/index.js
  packages/token-metadata/lib/token_metadata.d.ts
  packages/token-metadata/lib/token_metadata.d.ts.map
  packages/token-metadata/lib/token_metadata.js
  packages/token-metadata/lib/tsconfig.tsbuildinfo
  packages/token-metadata/lib/utils.d.ts
  packages/token-metadata/lib/utils.d.ts.map
  packages/token-metadata/lib/utils.js
  packages/token-metadata/package.json
  packages/token-metadata/src/index.ts
  packages/token-metadata/src/token_metadata.ts
  packages/token-metadata/src/utils.ts
  packages/token-metadata/tsconfig.json
  packages/token-metadata/tslint.json
  yarn.lock
Owners: none

feat: update json
  packages/contract-addresses/addresses.json
Owners: @dorothy-zbornak, @mzhu25

feat: chapel
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: ok
  packages/contract-addresses/addresses.json
Owners: @dorothy-zbornak, @mzhu25

feat: chapel sources
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: balancer
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: chapel
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: balancer
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/balancer_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: ok
  packages/asset-swapper/test/pools_cache_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

MixinFirebird.sol: Change type of path array from IERC20TokenV06[] to address[]
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinFirebird.sol
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Remove whitespace
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinFirebird.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

refactor: pass aToken to mixin to avoid lookup
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAaveV2.sol
  packages/asset-swapper/contracts/src/AaveV2Sampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Fix parameter order of sampleBuysFromFirebird function call
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/asset-swapper`: Add more gas limits to sources. Disable Oasis.
  packages/asset-swapper/contracts/src/CallDispatcher.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/TwoHopSampler.sol
  packages/asset-swapper/src/network/chain.ts
  packages/asset-swapper/src/network/native_order_utils.ts
  packages/asset-swapper/src/network/network_utils.ts
  packages/asset-swapper/src/network/samplers/balancer.ts
  packages/asset-swapper/src/network/samplers/balancer_v2.ts
  packages/asset-swapper/src/network/samplers/bancor.ts
  packages/asset-swapper/src/network/samplers/curve.ts
  packages/asset-swapper/src/network/samplers/dodo_v1.ts
  packages/asset-swapper/src/network/samplers/dodo_v2.ts
  packages/asset-swapper/src/network/samplers/kyber.ts
  packages/asset-swapper/src/network/samplers/kyber_dmm.ts
  packages/asset-swapper/src/network/samplers/lido.ts
  packages/asset-swapper/src/network/samplers/liquidity_provider.ts
  packages/asset-swapper/src/network/samplers/maker_psm.ts
  packages/asset-swapper/src/network/samplers/mooniswap.ts
  packages/asset-swapper/src/network/samplers/mstable.ts
  packages/asset-swapper/src/network/samplers/oasis.ts
  packages/asset-swapper/src/network/samplers/shell.ts
  packages/asset-swapper/src/network/samplers/smoothy.ts
  packages/asset-swapper/src/network/samplers/uniswap_v1.ts
  packages/asset-swapper/src/network/samplers/uniswap_v2.ts
  packages/asset-swapper/src/network/sassy_sampler.ts
  packages/asset-swapper/src/network/source_sampler.ts
  packages/asset-swapper/src/network/two_hop_sampler.ts
  packages/asset-swapper/src/network/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

`@0x/asset-swapper`: rate limiting more amenable to alchemy
  packages/asset-swapper/src/network/chain.ts
  packages/asset-swapper/src/network/fast_abi.ts
  packages/asset-swapper/src/network/sassy_sampler.ts
  packages/asset-swapper/src/network/source_sampler.ts
  packages/asset-swapper/src/network/two_hop_sampler.ts
  packages/asset-swapper/src/network/utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/src/utils/utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/asset-swapper`: last commit before going 1cpq
  packages/asset-swapper/src/network/chain.ts
  packages/asset-swapper/src/network/native_order_utils.ts
  packages/asset-swapper/src/network/network_utils.ts
  packages/asset-swapper/src/network/sassy_sampler.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: Enable Prometheus metrics on RPC subprovider (#699)
  src/rpc_subprovider.ts
Owners: none

fix variable naming
  src/rpc_subprovider.ts
Owners: none

change prometheus to histogram with buckets spaced by 0.25s
  src/rpc_subprovider.ts
Owners: none

Publish
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: Use k8s ingress buckets
  src/rpc_subprovider.ts
Owners: none

[0xApi] chore: Prometheus logging histogram 0.25s error estimation
  src/constants.ts
  src/handlers/swap_handlers.ts
  src/rpc_subprovider.ts
Owners: none

Publish (#296)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  contracts/integrations/package.json
  packages/asset-swapper/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: fill amounts rounding error (#702)
  package.json
  yarn.lock
Owners: none

Add proposal 1 and test
  contracts/treasury/src/proposals.ts
  contracts/treasury/test/proposal_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

update changelog
  contracts/treasury/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

refactor: clean up rfqm service (#704)
  src/services/rfqm_service.ts
Owners: none

Adds "MetricsProxy" that allows us to proxy Prometheus metrics across to the API
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: Clipper
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeProtocols.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinClipper.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/src/transformer_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

added more metric
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Add proposal 1 and test (#298)
  contracts/treasury/CHANGELOG.json
  contracts/treasury/src/proposals.ts
  contracts/treasury/test/proposal_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

feat: Curve tricrypto2
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: Curve tricrypto2 (#302)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Scope down the token list search space for Clipper
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinClipper.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

update deployed addresses
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dorothy-zbornak, @mzhu25

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25
