Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

fix: duplicate SOURCE_FLAGS index (#266)
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/path.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/comparison_price_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  contracts/integrations/package.json
  packages/asset-swapper/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: AS update: FirebirdOneSwap, ApeSwap, intermediate tokens update (#660)
  package.json
  src/config.ts
  yarn.lock
Owners: none

Rebased off development
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinLido.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/KyberSampler.sol
  packages/asset-swapper/contracts/src/LidoSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Fix test which should be gas price adjusted
  packages/asset-swapper/test/comparison_price_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

CHANGELOGs
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinKyber.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinUniswap.sol
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Fix buys exit early
  packages/asset-swapper/contracts/src/SwapRevertSampler.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix: add a Content-Type header for submit endpoint requests (#664)
  src/utils/quote_server_client.ts
Owners: none

feat: Scaffold RFQm health check endpoint (#663)
  src/handlers/rfqm_handlers.ts
  src/routers/rfqm_router.ts
  src/services/rfqm_service.ts
  src/utils/rfqm_health_check.ts
  test/rfqm_test.ts
  test/services/rfqm_service_test.ts
  test/test_env
Owners: none

Add useSelfBalance and recipient to _fillRfqOrder
  contracts/zero-ex/contracts/src/features/BatchFillNativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexRfq.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersSettlement.sol
  contracts/zero-ex/contracts/test/TestMetaTransactionsNativeOrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add useSelfBalance and recipient to _transformERC20
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/features/TransformERC20Feature.sol
  contracts/zero-ex/contracts/src/features/interfaces/ITransformERC20Feature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexLiquidityProvider.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexRfq.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexTransformERC20.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Unit tests
  contracts/test-utils/src/log_utils.ts
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
  contracts/zero-ex/contracts/test/TestLiquidityProvider.sol
  contracts/zero-ex/contracts/test/TestMintableERC20Token.sol
  contracts/zero-ex/contracts/test/TestUniswapV2Factory.sol
  contracts/zero-ex/contracts/test/TestUniswapV2Pool.sol
  contracts/zero-ex/contracts/test/TestWeth.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/liquidity_provider_test.ts
  contracts/zero-ex/test/features/meta_transactions_test.ts
  contracts/zero-ex/test/features/multiplex_test.ts
  contracts/zero-ex/test/features/transform_erc20_test.ts
  contracts/zero-ex/test/full_migration_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/protocol-utils/src/multiplex_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Expose onlySelf variant in UniswapV3Feature for Multiplex
  contracts/zero-ex/contracts/src/features/UniswapV3Feature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IUniswapV3Feature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexUniswapV3.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Use caps for immutables
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexLiquidityProvider.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

lint
  contracts/zero-ex/test/features/multiplex_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add support for multihop nested within batch sell
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add support for proportional fill amounts in batchSell
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Refactor Multiplex into multiple files
  contracts/zero-ex/contracts/src/features/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IMultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexLiquidityProvider.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexRfq.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexTransformERC20.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexUniswapV2.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Comments and renaming
  contracts/zero-ex/contracts/src/features/interfaces/IMultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/ITransformERC20Feature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexLiquidityProvider.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexRfq.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexTransformERC20.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexUniswapV2.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexUniswapV3.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersSettlement.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Address nits
  contracts/zero-ex/contracts/src/features/UniswapV3Feature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IUniswapV3Feature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexUniswapV3.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Pull UniswapV3 into separate file
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexUniswapV3.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Rename taker -> recipient in TransformContext and SettleOrderInfo
  contracts/zero-ex/contracts/src/features/TransformERC20Feature.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersSettlement.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/transformers/IERC20Transformer.sol
  contracts/zero-ex/contracts/src/transformers/LogMetadataTransformer.sol
  contracts/zero-ex/contracts/src/transformers/PayTakerTransformer.sol
  contracts/zero-ex/contracts/test/TestFillQuoteTransformerHost.sol
  contracts/zero-ex/contracts/test/TestMintTokenERC20Transformer.sol
  contracts/zero-ex/contracts/test/TestWethTransformerHost.sol
  contracts/zero-ex/test/transformers/affiliate_fee_transformer_test.ts
  contracts/zero-ex/test/transformers/pay_taker_transformer_test.ts
  contracts/zero-ex/test/transformers/positive_slippage_fee_transformer_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Swallow reverts for LiquidityProvider and UniswapV2 batch sells
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexLiquidityProvider.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexUniswapV2.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

chore: update 0x deps (#659)
  package.json
  src/schemas/sra_orders_query_schema.json
  src/utils/quote_server_client.ts
  src/utils/schema_utils.ts
  test/sra_test.ts
  yarn.lock
Owners: none

Fix outdated error message (#666)
  src/runners/http_rfqm_service_runner.ts
  src/runners/rfqm_worker_runner.ts
Owners: none

feat: Create RFQm queue checks (#665)
  src/utils/rfqm_health_check.ts
  test/utils/rfqm_health_check_test.ts
Owners: none

feat: Balancer V2 Polygon
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/balancer_v2_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/pools_cache_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: Balancer V2 Polygon (#267)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/balancer_v2_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/pools_cache_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  contracts/integrations/package.json
  packages/asset-swapper/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: Balancer V2 Polygon (#668)
  package.json
  yarn.lock
Owners: none

feat: Create rfqm worker heartbeat report (#667)
  migrations/1624695890253-CreateRfqmWorkerHeartbeatTable.ts
  src/entities/RfqmWorkerHeartbeatEntity.ts
  src/entities/index.ts
  src/ormconfig.ts
  src/runners/rfqm_worker_runner.ts
  src/services/rfqm_service.ts
  src/utils/rfq_blockchain_utils.ts
  src/utils/rfqm_db_utils.ts
  src/utils/rfqm_worker_balance_utils.ts
Owners: none

Add rfqm maintence mode to config (#669)
  .env_example
  src/config.ts
Owners: none

fix: Added new metrics (#670)
  src/services/rfqm_service.ts
Owners: none

feat: return a liquidityAvailable flag on rfqm /price and /quote endpoints (#671)
  src/handlers/rfqm_handlers.ts
  test/rfqm_test.ts
Owners: none

fix: data requirements for accurate price comparisons (#661)
  src/handlers/swap_handlers.ts
  src/services/meta_transaction_service.ts
  src/services/swap_service.ts
  src/types.ts
  src/utils/price_comparison_utils.ts
  test/price_comparison_utils_test.ts
Owners: none

fix: KyberDMM all pools, Polygon KyberDMM
  packages/asset-swapper/contracts/src/KyberDmmSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Whitelist PLP as a source for Polygon
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

changelog
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25
