Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25

Fix ABI encoding error with two hop buys due to applying slippage to uint(-1) values (#410)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: slippage inconsistency when recalculated in exchange proxy quote consumer (#412)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/test/exchange_proxy_swap_quote_consumer_test.ts
  packages/asset-swapper/test/utils/swap_quote.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

arbitrum asset swapper
  contracts/zero-ex/generated-artifacts-zeroEx.zip
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

arbitrum setup
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

rebased dev->arbitrum
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

arbitrum pls work
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

big test exploration
  packages/asset-swapper/contracts/src/UniswapV2Sampler.sol
  packages/asset-swapper/contracts/test/CurveSamplerTest.sol
  packages/asset-swapper/contracts/test/TestBase.sol
  packages/asset-swapper/contracts/test/UniswapV2SamplerTest.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

added arbitrum protocol contracts and updated chainId, bumped changelog
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

arbitrum please stop
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

arb addresses
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
Owners: @dorothy-zbornak, @mzhu25

updated changelog
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fixed uniswapv3 config
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

CVF-94: Fix comment (Step 7 -> Step 5)
  contracts/zero-ex/contracts/src/features/nft_orders/ERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CVF-89: Perform token mismatch checks before stateful operations
  contracts/zero-ex/contracts/src/features/nft_orders/ERC721OrdersFeature.sol
  contracts/zero-ex/test/features/erc721_orders_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CVF-72: Move ETH assertions outside of loop in _payFees
  contracts/zero-ex/contracts/src/features/nft_orders/NFTOrders.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CVF-71: Update confusing comment about rounding in _payFees
  contracts/zero-ex/contracts/src/features/nft_orders/NFTOrders.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CVF-93: Add inline comments for _payFees parameters in matchERC721Orders
  contracts/zero-ex/contracts/src/features/nft_orders/ERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CVF-25: Update unclear comment (canonical hash -> EIP-712 hash)
  contracts/zero-ex/contracts/src/features/interfaces/IERC1155OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/nft_orders/ERC1155OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CVF-17: use internal call if revertIfIncomplete is true
  contracts/zero-ex/contracts/src/features/nft_orders/ERC1155OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CVF-74: Move property validation loop to else branch
  contracts/zero-ex/contracts/src/features/nft_orders/NFTOrders.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CVF-86: Enable taker callbacks for batchBuyERC721s
  contracts/zero-ex/contracts/src/features/interfaces/IERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/nft_orders/ERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CVF-99: Update unclear comment (canonical hash -> EIP-712 hash)
  contracts/zero-ex/contracts/src/features/interfaces/IERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/nft_orders/ERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CVF-23: merge if statements
  contracts/zero-ex/contracts/src/features/nft_orders/ERC1155OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CVF-87: use internal call if revertIfIncomplete is true
  contracts/zero-ex/contracts/src/features/nft_orders/ERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CVF-47, CVF-50, CVF-57: calculate properties.length once; hash propertyStructHashArray in-place using assembly
  contracts/zero-ex/contracts/src/features/libs/LibNFTOrder.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CVF-21: avoid duplicate SLOAD
  contracts/zero-ex/contracts/src/features/nft_orders/ERC1155OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CVF-16: Enable taker callbacks for batchBuyERC1155s
  contracts/zero-ex/contracts/src/features/interfaces/IERC1155OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/nft_orders/ERC1155OrdersFeature.sol
  contracts/zero-ex/test/features/erc1155_orders_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CVF-31: Document keys of orderState mapping
  contracts/zero-ex/contracts/src/storage/LibERC1155OrdersStorage.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CVF-24: Reorder status checks to be consistent with ERC721OrdersFeature
  contracts/zero-ex/contracts/src/features/nft_orders/ERC1155OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CVF-90, CVF-91: Defer ERC20 token mismatch check
  contracts/zero-ex/contracts/src/features/nft_orders/ERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CVF-56: More descriptive names for assembly variables
  contracts/zero-ex/contracts/src/features/libs/LibNFTOrder.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CVF-45: DRY up fees/properties hashing
  contracts/zero-ex/contracts/src/features/libs/LibNFTOrder.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CVF-98: Use binary & operator instead of mod
  contracts/zero-ex/contracts/src/features/nft_orders/ERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CVF-82: Update inaccurate comment
  contracts/zero-ex/contracts/src/features/nft_orders/ERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CVF-65, CVF-66, CVF-67: Copy params.ethAvailable into local variable; check that ethSpent does not exceed ethAvailable; remove ethAvailable < erc20FillAmount check
  contracts/zero-ex/contracts/src/errors/LibNFTOrdersRichErrors.sol
  contracts/zero-ex/contracts/src/features/nft_orders/ERC1155OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/nft_orders/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/nft_orders/NFTOrders.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CVF-52, CVF-55, CVF-59: calculate fees.length once; hash feeStructHashArray in-place using assembly
  contracts/zero-ex/contracts/src/features/libs/LibNFTOrder.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25
