Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @dekz, @dextracker, @kyu-c

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/

# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file

# https://git-scm.com/docs/gitignore#_pattern_format

packages/asset-swapper/ @dekz @dextracker @kyu-c

# Dev tools & setup

.circleci/ @dekz
packages/contract-addresses/ @dekz @dextracker @kyu-c
packages/contract-artifacts/ @dekz
packages/protocol-utils/ @dekz

# Protocol/smart contracts

contracts/ @dekz @dextracker

Publish
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers/package.json
  packages/protocol-utils/package.json
Owners: @dekz, @dextracker, @kyu-c

feat: enabling Saddle on Arbitrum [TKR-554] (#982)
  package.json
  src/asset-swapper/utils/market_operation_utils/constants.ts
  yarn.lock
Owners: none

feat: enabling Synapse on Arbitrum [TKR-558] (#983)
  src/asset-swapper/utils/market_operation_utils/constants.ts
Owners: none

initialize eslint and remove tslint
  packages/protocol-utils/.eslintrc.json
  packages/protocol-utils/package.json
  packages/protocol-utils/tslint.json
  yarn.lock
Owners: @dekz

Add missing Arbitrum `ZeroExGovernor` address
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

replace tslint with eslint + add eslintrc config
  packages/contract-wrappers/.eslintrc
  packages/contract-wrappers/package.json
  yarn.lock
Owners: none

few more missing packages for eslint
  packages/contract-wrappers/package.json
  yarn.lock
Owners: none

exclude. now eslint is running (but there are errors)
  packages/contract-wrappers/.eslintrc
Owners: none

change some packages + eslintrc
  packages/protocol-utils/.eslintrc.json
  packages/protocol-utils/package.json
  yarn.lock
Owners: @dekz

run eslint fix
  packages/protocol-utils/src/nft_orders.ts
  packages/protocol-utils/src/orders.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @dekz

correct excludes fixes all the linter issues
  packages/contract-wrappers/.eslintrc
  packages/contract-wrappers/package.json
Owners: none

Add missing Arbitrum `ZeroExGovernor` address (#583)
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

run prettier
  packages/protocol-utils/.eslintrc.json
  packages/protocol-utils/src/transformer_utils.ts
Owners: @dekz

changelog
  packages/protocol-utils/CHANGELOG.json
Owners: @dekz

update package.json
  packages/protocol-utils/package.json
Owners: @dekz

changelog update+prettier
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/package.json
Owners: @dekz

[protocol-utils] tslint->eslint (#582)
  packages/protocol-utils/.eslintrc.json
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/package.json
  packages/protocol-utils/src/nft_orders.ts
  packages/protocol-utils/src/orders.ts
  packages/protocol-utils/src/transformer_utils.ts
  packages/protocol-utils/tslint.json
  yarn.lock
Owners: @dekz

purge tslint comments
  packages/protocol-utils/src/nft_orders.ts
  packages/protocol-utils/src/revert-errors/native_orders.ts
  packages/protocol-utils/src/revert-errors/nft_orders.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @dekz

purge tslint comments (#585)
  packages/protocol-utils/src/nft_orders.ts
  packages/protocol-utils/src/revert-errors/native_orders.ts
  packages/protocol-utils/src/revert-errors/nft_orders.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @dekz

remove tslint/initialize eslint
  contracts/erc20/.eslintrc.json
  contracts/erc20/package.json
  contracts/erc20/tslint.json
Owners: @dekz, @dextracker

changelog and small change in package.json
  contracts/erc20/CHANGELOG.json
  contracts/erc20/package.json
Owners: @dekz, @dextracker

no need for max warnings
  packages/contract-wrappers/package.json
Owners: none

chore: add ESLint to package contract wrappers (#584)
  packages/contract-wrappers/.eslintrc
  packages/contract-wrappers/package.json
  yarn.lock
Owners: none

run yarn prettier
  packages/protocol-utils/.eslintrc.json
Owners: @dekz

fix lerna lint error
  contracts/erc20/package.json
Owners: @dekz, @dextracker

run eslint fix
  packages/protocol-utils/src/transformer_utils.ts
  yarn.lock
Owners: @dekz

add todo for contracts/erc20
  contracts/erc20/package.json
  packages/protocol-utils/src/transformer_utils.ts
Owners: @dekz, @dextracker

add todo comment
  packages/contract-wrappers/package.json
Owners: none

fix bug in package.json
  packages/contract-wrappers/package.json
Owners: none

Add gaslessSwapAmm option to quote report (#984)
  src/asset-swapper/utils/quote_report_generator.ts
  src/services/meta_transaction_service.ts
  src/utils/quote_report_utils.ts
Owners: none

Remove logQuoteReport (#985)
  src/handlers/swap_handlers.ts
  src/services/meta_transaction_service.ts
  src/utils/quote_report_utils.ts
Owners: none

feat: enabling additional Arbitrum Curve pools [TKR-566] (#986)
  src/asset-swapper/utils/market_operation_utils/constants.ts
Owners: none

replace tslint with eslint
  contracts/zero-ex/package.json
  yarn.lock
Owners: @dekz, @dextracker

config file
  contracts/zero-ex/.eslintrc
Owners: @dekz, @dextracker

fix linting errors
  contracts/zero-ex/scripts/rollback.ts
  contracts/zero-ex/test/features/multiplex_test.ts
  contracts/zero-ex/test/utils/orders.ts
Owners: @dekz, @dextracker

replace TSLint with ESLint in contracts-utils
  contracts/utils/.eslintrc
  contracts/utils/package.json
  yarn.lock
Owners: @dekz, @dextracker

also contracts/treasury
  contracts/treasury/.eslintrc
  contracts/treasury/package.json
Owners: @dekz, @dextracker

also do test-utils
  contracts/test-utils/.eslintrc
  contracts/test-utils/package.json
Owners: @dekz, @dextracker

yarn fix
  contracts/test-utils/src/number_utils.ts
  contracts/test-utils/src/web3_wrapper.ts
Owners: @dekz, @dextracker

fix stuff yarn fix could not fix
  contracts/test-utils/src/assertions.ts
  contracts/test-utils/src/lang_utils.ts
  contracts/test-utils/test/mocha_blockchain.ts
Owners: @dekz, @dextracker
