Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: Celo Update certain tokens since Optics v2 (#390)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: don't create fills for 0 output samples and negative adjusted rate orders (#387)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: Enable Curve ETH/CVX (#394)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

added initial support for celo
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Update source filters
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Update source filters
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

update to internal SAMPLE_VALUES
  packages/asset-swapper/contracts/src/BalancerSampler.sol
  packages/asset-swapper/contracts/src/BalancerV2Sampler.sol
  packages/asset-swapper/contracts/src/BancorSampler.sol
  packages/asset-swapper/contracts/src/CompoundSampler.sol
  packages/asset-swapper/contracts/src/CurveSampler.sol
  packages/asset-swapper/contracts/src/DODOSampler.sol
  packages/asset-swapper/contracts/src/DODOV2Sampler.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/KyberDmmSampler.sol
  packages/asset-swapper/contracts/src/KyberSampler.sol
  packages/asset-swapper/contracts/src/LidoSampler.sol
  packages/asset-swapper/contracts/src/LiquidityProviderSampler.sol
  packages/asset-swapper/contracts/src/MStableSampler.sol
  packages/asset-swapper/contracts/src/MakerPSMSampler.sol
  packages/asset-swapper/contracts/src/MooniswapSampler.sol
  packages/asset-swapper/contracts/src/SamplerBase.sol
  packages/asset-swapper/contracts/src/ShellSampler.sol
  packages/asset-swapper/contracts/src/SmoothySampler.sol
  packages/asset-swapper/contracts/src/UniswapSampler.sol
  packages/asset-swapper/contracts/src/UniswapV2Sampler.sol
  packages/asset-swapper/contracts/src/UniswapV3Sampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Move some old functions to internal, fix MultiHop
  packages/asset-swapper/contracts/src/BalancerSampler.sol
  packages/asset-swapper/contracts/src/BalancerV2Sampler.sol
  packages/asset-swapper/contracts/src/BancorSampler.sol
  packages/asset-swapper/contracts/src/CompoundSampler.sol
  packages/asset-swapper/contracts/src/KyberDmmSampler.sol
  packages/asset-swapper/contracts/src/LidoSampler.sol
  packages/asset-swapper/contracts/src/MakerPSMSampler.sol
  packages/asset-swapper/contracts/src/SamplerBase.sol
  packages/asset-swapper/contracts/src/TwoHopSampler.sol
  packages/asset-swapper/contracts/src/UniswapSampler.sol
  packages/asset-swapper/contracts/src/UniswapV2Sampler.sol
  packages/asset-swapper/contracts/src/UniswapV3Sampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Update for buys
  packages/asset-swapper/contracts/src/BalancerSampler.sol
  packages/asset-swapper/contracts/src/BalancerV2Sampler.sol
  packages/asset-swapper/contracts/src/BancorSampler.sol
  packages/asset-swapper/contracts/src/CompoundSampler.sol
  packages/asset-swapper/contracts/src/CurveSampler.sol
  packages/asset-swapper/contracts/src/DODOSampler.sol
  packages/asset-swapper/contracts/src/DODOV2Sampler.sol
  packages/asset-swapper/contracts/src/KyberDmmSampler.sol
  packages/asset-swapper/contracts/src/KyberSampler.sol
  packages/asset-swapper/contracts/src/LidoSampler.sol
  packages/asset-swapper/contracts/src/LiquidityProviderSampler.sol
  packages/asset-swapper/contracts/src/MStableSampler.sol
  packages/asset-swapper/contracts/src/MakerPSMSampler.sol
  packages/asset-swapper/contracts/src/MooniswapSampler.sol
  packages/asset-swapper/contracts/src/ShellSampler.sol
  packages/asset-swapper/contracts/src/SmoothySampler.sol
  packages/asset-swapper/contracts/src/TwoHopSampler.sol
  packages/asset-swapper/contracts/src/UniswapSampler.sol
  packages/asset-swapper/contracts/src/UniswapV2Sampler.sol
  packages/asset-swapper/contracts/src/UniswapV3Sampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

prettier/lint
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Feat/synapse (#400)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: Use MIM on Fantom as an intermediary asset
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: Use MIM on Fantom as an intermediary asset (#405)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Bump asset swapper fast-abi dep
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Update yarn.lock
  yarn.lock
Owners: none

bump fast-abi
  packages/asset-swapper/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Feat/synapse (#400)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

add atricrypto3 pool on polygon
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: Additional Curve pools
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

add more curve pools
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: Use MIM on Fantom as an intermediary asset (#405)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: Additional Curve pools
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

more pools
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: avoid creating a PairsManager for layer2 chains (#816)
  src/app.ts
Owners: none
