Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25

Added metrics service to balance cache runner (#441)
  src/runners/rfq_maker_balance_cache_runner.ts
Owners: none

feat: hot-pants migration (#442)
  docker-compose.yml
  package.json
  yarn.lock
Owners: none

Add naive selector collision test
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/test/features/selector_collision_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add naive selector collision test (#74)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/test/features/selector_collision_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fixed some typos and links in docs
  docs/basics/functions.rst
  docs/basics/orders.rst
Owners: none

Updated releases
  docs/additional/releases.rst
Owners: none

Updated Releases + Fix Links (#77)
  docs/additional/releases.rst
  docs/basics/functions.rst
  docs/basics/orders.rst
Owners: none

Updated addresses and transformer nonces after hot-pants
  docs/advanced/erc20_transformations.rst
  docs/architecture/transformers.rst
  docs/basics/addresses.rst
Owners: none

Updated addresses and transformer nonces after hot-pants (#78)
  docs/advanced/erc20_transformations.rst
  docs/architecture/transformers.rst
  docs/basics/addresses.rst
Owners: none

regen yarn lock
  yarn.lock
Owners: none

`@0x/contracts-integrations`: Fix borken test
  contracts/integrations/package.json
  contracts/integrations/test/exchange-proxy/mtx_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

@0x/protocol-types`: Delete this package.
  packages/protocol-types/.npmignore
  packages/protocol-types/CHANGELOG.json
  packages/protocol-types/CHANGELOG.md
  packages/protocol-types/README.md
  packages/protocol-types/docs/reference.mdx
  packages/protocol-types/package.json
  packages/protocol-types/src/index.ts
  packages/protocol-types/src/v3.ts
  packages/protocol-types/tsconfig.json
  packages/protocol-types/tslint.json
  packages/protocol-types/typedoc-tsconfig.json
Owners: @dorothy-zbornak, @mzhu25

@0x/contracts-zero-ex`: Switch to using `@0x/protocol-utils` in most places
  contracts/zero-ex/package.json
  contracts/zero-ex/src/eip712_utils.ts
  contracts/zero-ex/src/index.ts
  contracts/zero-ex/src/orders.ts
  contracts/zero-ex/src/revert_errors.ts
  contracts/zero-ex/src/signature_utils.ts
  contracts/zero-ex/test/features/meta_transactions_test.ts
  contracts/zero-ex/test/features/native_orders_feature_test.ts
  contracts/zero-ex/test/features/transform_erc20_test.ts
  contracts/zero-ex/test/lib_signature_test.ts
  contracts/zero-ex/test/transformers/affiliate_fee_transformer_test.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/transformers/pay_taker_transformer_test.ts
  contracts/zero-ex/test/transformers/weth_transformer_test.ts
  contracts/zero-ex/test/utils/orders.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Unpin `@0x/protocol-utils` dep.
  contracts/zero-ex/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

add new packages
  packages/protocol-types/.npmignore
  packages/protocol-types/CHANGELOG.json
  packages/protocol-types/CHANGELOG.md
  packages/protocol-types/README.md
  packages/protocol-types/docs/reference.mdx
  packages/protocol-types/package.json
  packages/protocol-types/src/index.ts
  packages/protocol-types/src/v3.ts
  packages/protocol-types/tsconfig.json
  packages/protocol-types/tslint.json
  packages/protocol-types/typedoc-tsconfig.json
  packages/protocol-utils/.npmignore
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
  packages/protocol-utils/README.md
  packages/protocol-utils/docs/.gitkeep
  packages/protocol-utils/package.json
  packages/protocol-utils/src/eip712_utils.ts
  packages/protocol-utils/src/index.ts
  packages/protocol-utils/src/orders.ts
  packages/protocol-utils/src/revert-errors/index.ts
  packages/protocol-utils/src/revert-errors/inherited.ts
  packages/protocol-utils/src/revert-errors/native_orders.ts
  packages/protocol-utils/src/revert-errors/signatures.ts
  packages/protocol-utils/src/signature_utils.ts
  packages/protocol-utils/test/dummy_test.ts
  packages/protocol-utils/tsconfig.json
  packages/protocol-utils/tslint.json
  packages/protocol-utils/typedoc-tsconfig.json
Owners: @dorothy-zbornak, @mzhu25

`@0x/protocol-utils`: Update with latest code from `@0x/contracs-zero-ex` + misc stuff
  packages/protocol-utils/package.json
  packages/protocol-utils/src/constants.ts
  packages/protocol-utils/src/index.ts
  packages/protocol-utils/src/orders.ts
  packages/protocol-utils/src/revert-errors/signatures.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @dorothy-zbornak, @mzhu25

update changelogs
  contracts/zero-ex/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/protocol-utils`: add tests
  packages/protocol-utils/package.json
  packages/protocol-utils/test/dummy_test.ts
  packages/protocol-utils/test/eip712_utils_test.ts
  packages/protocol-utils/test/signature_utils_test.ts
Owners: @dorothy-zbornak, @mzhu25

`@0x/protocol-utils`: Update readme.
  packages/protocol-utils/README.md
Owners: @dorothy-zbornak, @mzhu25

`@0x/protocol-utils`: Update deps
  packages/protocol-utils/package.json
Owners: @dorothy-zbornak, @mzhu25

update deps
  packages/protocol-utils/package.json
  yarn.lock
Owners: @dorothy-zbornak, @mzhu25

`@0x/protocol-utils`: More tests
  packages/protocol-utils/test/orders_test.ts
Owners: @dorothy-zbornak, @mzhu25

run prettier
  packages/protocol-utils/README.md
Owners: @dorothy-zbornak, @mzhu25

`@0x/contract-artifacts`: Regenerate artifacts
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/Broker.json
  packages/contract-artifacts/artifacts/Coordinator.json
  packages/contract-artifacts/artifacts/CoordinatorRegistry.json
  packages/contract-artifacts/artifacts/DevUtils.json
  packages/contract-artifacts/artifacts/DummyERC20Token.json
  packages/contract-artifacts/artifacts/DummyERC721Token.json
  packages/contract-artifacts/artifacts/ERC1155Mintable.json
  packages/contract-artifacts/artifacts/ERC1155Proxy.json
  packages/contract-artifacts/artifacts/ERC20BridgeProxy.json
  packages/contract-artifacts/artifacts/ERC20Proxy.json
  packages/contract-artifacts/artifacts/ERC20Token.json
  packages/contract-artifacts/artifacts/ERC721Proxy.json
  packages/contract-artifacts/artifacts/ERC721Token.json
  packages/contract-artifacts/artifacts/Exchange.json
  packages/contract-artifacts/artifacts/Forwarder.json
  packages/contract-artifacts/artifacts/GodsUnchainedValidator.json
  packages/contract-artifacts/artifacts/IWallet.json
  packages/contract-artifacts/artifacts/IZeroEx.json
  packages/contract-artifacts/artifacts/MultiAssetProxy.json
  packages/contract-artifacts/artifacts/Staking.json
  packages/contract-artifacts/artifacts/StakingProxy.json
  packages/contract-artifacts/artifacts/StaticCallProxy.json
  packages/contract-artifacts/artifacts/WETH9.json
  packages/contract-artifacts/artifacts/ZRXToken.json
  packages/contract-artifacts/artifacts/ZrxVault.json
Owners: @dorothy-zbornak, @mzhu25

`@0x/contract-wrappers`: Regenerate wrappers
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/generated-wrappers/coordinator.ts
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
  packages/contract-wrappers/src/generated-wrappers/i_zero_ex.ts
Owners: @dorothy-zbornak, @mzhu25

`@0x/protocol-utils`: Update changelog
  packages/protocol-utils/CHANGELOG.json
Owners: @dorothy-zbornak, @mzhu25

`@0x/contract-wrappers`: Export stuff for doc gen
  packages/contract-wrappers/src/index.ts
Owners: @dorothy-zbornak, @mzhu25

feat: add savings to price comps (#439)
  package.json
  src/handlers/meta_transaction_handlers.ts
  src/handlers/swap_handlers.ts
  src/services/meta_transaction_service.ts
  src/services/swap_service.ts
  src/types.ts
  src/utils/price_comparison_utils.ts
  test/price_comparison_utils_test.ts
  test/utils/mocks.ts
  yarn.lock
Owners: none

`@0x/protocol-utils`: Use `Web3Wrapper.signTypedDataV4Async()` for MM compatibility.
  packages/protocol-utils/src/signature_utils.ts
Owners: @dorothy-zbornak, @mzhu25

add manual deploy action
  .github/workflows/deploy.yml
Owners: none

fix syntax for manual prod deploy
  .github/workflows/deploy.yml
Owners: none

upgrade org deps
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
  packages/protocol-utils/package.json
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Publish
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-artifacts/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
  packages/protocol-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: Support selling entire balance (#436)
  .gitignore
  src/handlers/swap_handlers.ts
  src/services/meta_transaction_service.ts
  src/services/swap_service.ts
  src/types.ts
Owners: none

Rollback CLI tools
  contracts/zero-ex/package.json
  contracts/zero-ex/src/rollback.ts
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Refactor
  contracts/zero-ex/src/rollback.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Address PR feedback
  contracts/zero-ex/.npmignore
  contracts/zero-ex/package.json
  contracts/zero-ex/scripts/rollback.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Sort deployment history
  contracts/zero-ex/scripts/rollback.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Rollback specific deployment
  contracts/zero-ex/scripts/rollback.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Split calldata
  contracts/zero-ex/scripts/rollback.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25
