Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25

fix the format
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

changlog
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

lowercase address
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: add curve pools (#409)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: WorstCaseQuoteInfo buy encoding
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

CHANGELOG
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: worstCaseQuoteInfo calculating buys incorrectly [TKR-296] (#402)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: Estimate the price impact from fee source data (#818)
  package.json
  src/handlers/swap_handlers.ts
  src/services/meta_transaction_service.ts
  src/services/swap_service.ts
  src/types.ts
  yarn.lock
Owners: none

Update tests
  packages/asset-swapper/test/contracts/bridge_sampler_mainnet_test.ts
  packages/asset-swapper/test/contracts/erc20_bridge_sampler_test.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/utils/mock_sampler_contract.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Fix ABI encoding error with two hop buys due to applying slippage to uint(-1) values
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Fix ABI encoding error with two hop buys due to applying slippage to uint(-1) values (#410)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

setting up asset swapper
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

foundry test
  packages/asset-swapper/.gitignore
  packages/asset-swapper/contracts/src/ApproximateBuys.sol
  packages/asset-swapper/contracts/src/CompoundSampler.sol
  packages/asset-swapper/contracts/src/LibBytes.sol
  packages/asset-swapper/contracts/src/LibSafeMath.sol
  packages/asset-swapper/contracts/src/LiquidityProviderSampler.sol
  packages/asset-swapper/contracts/src/MakerPSMSampler.sol
  packages/asset-swapper/contracts/src/NativeOrderSampler.sol
  packages/asset-swapper/contracts/src/SamplerUtils.sol
  packages/asset-swapper/contracts/src/TwoHopSampler.sol
  packages/asset-swapper/contracts/src/UniswapV3Sampler.sol
  packages/asset-swapper/contracts/src/UtilitySampler.sol
  packages/asset-swapper/contracts/src/interfaces/IERC20TokenV06.sol
  packages/asset-swapper/contracts/src/interfaces/ILiquidityProvider.sol
  packages/asset-swapper/contracts/src/test/TestBase.sol
  packages/asset-swapper/contracts/src/test/UniswapV2Sampler.t.sol
  packages/asset-swapper/contracts/test/DummyLiquidityProvider.sol
  packages/asset-swapper/contracts/test/TestERC20BridgeSampler.sol
  packages/asset-swapper/contracts/test/TestNativeOrderSampler.sol
  packages/asset-swapper/foundry.toml
  packages/asset-swapper/package.json
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

update deps (#823)
  package.json
  yarn.lock
Owners: none

move foundry.toml
  packages/asset-swapper/contracts/foundry.toml
  packages/asset-swapper/contracts/test/TestBase.sol
  packages/asset-swapper/contracts/test/UniswapV2Sampler.t.sol
  packages/asset-swapper/foundry.toml
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Allow tests to be skipped
  packages/asset-swapper/contracts/test/TestBase.sol
  packages/asset-swapper/contracts/test/UniswapV2Sampler.t.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

munge to work with sol-compiler and contracts-gen
  packages/asset-swapper/contracts/test/DSTest.sol
  packages/asset-swapper/contracts/test/DummyLiquidityProvider.sol
  packages/asset-swapper/contracts/test/TestBase.sol
  packages/asset-swapper/contracts/test/TestERC20BridgeSampler.sol
  packages/asset-swapper/contracts/test/TestNativeOrderSampler.sol
  packages/asset-swapper/contracts/test/UniswapV2SamplerTest.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Example Curve Sampler
  packages/asset-swapper/contracts/test/CurveSamplerTest.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fixed mobius celo pools
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

measure gas used
  packages/asset-swapper/contracts/test/CurveSamplerTest.sol
  packages/asset-swapper/contracts/test/DSTest.sol
  packages/asset-swapper/contracts/test/TestBase.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Update for buys
  packages/asset-swapper/contracts/src/BalancerSampler.sol
  packages/asset-swapper/contracts/src/BalancerV2Sampler.sol
  packages/asset-swapper/contracts/src/BancorSampler.sol
  packages/asset-swapper/contracts/src/CompoundSampler.sol
  packages/asset-swapper/contracts/src/CurveSampler.sol
  packages/asset-swapper/contracts/src/DODOSampler.sol
  packages/asset-swapper/contracts/src/DODOV2Sampler.sol
  packages/asset-swapper/contracts/src/KyberDmmSampler.sol
  packages/asset-swapper/contracts/src/KyberSampler.sol
  packages/asset-swapper/contracts/src/LidoSampler.sol
  packages/asset-swapper/contracts/src/LiquidityProviderSampler.sol
  packages/asset-swapper/contracts/src/MStableSampler.sol
  packages/asset-swapper/contracts/src/MakerPSMSampler.sol
  packages/asset-swapper/contracts/src/MooniswapSampler.sol
  packages/asset-swapper/contracts/src/ShellSampler.sol
  packages/asset-swapper/contracts/src/SmoothySampler.sol
  packages/asset-swapper/contracts/src/TwoHopSampler.sol
  packages/asset-swapper/contracts/src/UniswapSampler.sol
  packages/asset-swapper/contracts/src/UniswapV2Sampler.sol
  packages/asset-swapper/contracts/src/UniswapV3Sampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

chore: Use global sample values for reduced payloads
  packages/asset-swapper/contracts/src/BalancerSampler.sol
  packages/asset-swapper/contracts/src/BalancerV2Sampler.sol
  packages/asset-swapper/contracts/src/BancorSampler.sol
  packages/asset-swapper/contracts/src/CompoundSampler.sol
  packages/asset-swapper/contracts/src/CurveSampler.sol
  packages/asset-swapper/contracts/src/DODOSampler.sol
  packages/asset-swapper/contracts/src/DODOV2Sampler.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/KyberDmmSampler.sol
  packages/asset-swapper/contracts/src/KyberSampler.sol
  packages/asset-swapper/contracts/src/MStableSampler.sol
  packages/asset-swapper/contracts/src/MooniswapSampler.sol
  packages/asset-swapper/contracts/src/SamplerBase.sol
  packages/asset-swapper/contracts/src/ShellSampler.sol
  packages/asset-swapper/contracts/src/SmoothySampler.sol
  packages/asset-swapper/contracts/src/UniswapSampler.sol
  packages/asset-swapper/contracts/src/UniswapV2Sampler.sol
  packages/asset-swapper/contracts/src/UniswapV3Sampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

update to internal SAMPLE_VALUES
  packages/asset-swapper/contracts/src/BalancerSampler.sol
  packages/asset-swapper/contracts/src/BalancerV2Sampler.sol
  packages/asset-swapper/contracts/src/BancorSampler.sol
  packages/asset-swapper/contracts/src/CompoundSampler.sol
  packages/asset-swapper/contracts/src/CurveSampler.sol
  packages/asset-swapper/contracts/src/DODOSampler.sol
  packages/asset-swapper/contracts/src/DODOV2Sampler.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/KyberDmmSampler.sol
  packages/asset-swapper/contracts/src/KyberSampler.sol
  packages/asset-swapper/contracts/src/LidoSampler.sol
  packages/asset-swapper/contracts/src/LiquidityProviderSampler.sol
  packages/asset-swapper/contracts/src/MStableSampler.sol
  packages/asset-swapper/contracts/src/MakerPSMSampler.sol
  packages/asset-swapper/contracts/src/MooniswapSampler.sol
  packages/asset-swapper/contracts/src/SamplerBase.sol
  packages/asset-swapper/contracts/src/ShellSampler.sol
  packages/asset-swapper/contracts/src/SmoothySampler.sol
  packages/asset-swapper/contracts/src/UniswapSampler.sol
  packages/asset-swapper/contracts/src/UniswapV2Sampler.sol
  packages/asset-swapper/contracts/src/UniswapV3Sampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Move some old functions to internal, fix MultiHop
  packages/asset-swapper/contracts/src/BalancerSampler.sol
  packages/asset-swapper/contracts/src/BalancerV2Sampler.sol
  packages/asset-swapper/contracts/src/BancorSampler.sol
  packages/asset-swapper/contracts/src/CompoundSampler.sol
  packages/asset-swapper/contracts/src/KyberDmmSampler.sol
  packages/asset-swapper/contracts/src/LidoSampler.sol
  packages/asset-swapper/contracts/src/MakerPSMSampler.sol
  packages/asset-swapper/contracts/src/SamplerBase.sol
  packages/asset-swapper/contracts/src/TwoHopSampler.sol
  packages/asset-swapper/contracts/src/UniswapSampler.sol
  packages/asset-swapper/contracts/src/UniswapV2Sampler.sol
  packages/asset-swapper/contracts/src/UniswapV3Sampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Update tests
  packages/asset-swapper/test/contracts/bridge_sampler_mainnet_test.ts
  packages/asset-swapper/test/contracts/erc20_bridge_sampler_test.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/utils/mock_sampler_contract.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: Pass slippage down rather than recalculate due to accuracy
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/test/exchange_proxy_swap_quote_consumer_test.ts
  packages/asset-swapper/test/utils/swap_quote.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: Pass slippage down rather than recalculate due to accuracy
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/test/exchange_proxy_swap_quote_consumer_test.ts
  packages/asset-swapper/test/utils/swap_quote.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

CHANGELOG
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: slippage inconsistency when recalculated in exchange proxy quote consumer (#412)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/test/exchange_proxy_swap_quote_consumer_test.ts
  packages/asset-swapper/test/utils/swap_quote.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

celo mobius init
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

plz work multihop buys
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/rfqt_mocker.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

multihop buys seem ok now. fetch less samples for multihop legs
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_service_rpc_client.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: incorrect output scaling when input is less than desired amount
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: bump fast-abi
  packages/asset-swapper/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25
