Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25

fix: [asset-swapper] Encoded Buy fillAmount
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: [asset-swapper] Encoded Buy fillAmount (#106)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  contracts/integrations/package.json
  packages/asset-swapper/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: Buy fillAmount when shouldSellEntireBalance is set (#454)
  package.json
  yarn.lock
Owners: none

test fix + aux contracts
  contracts/staking/contracts/src/goverence/BootstrapFactory.sol
  contracts/staking/contracts/src/goverence/GoverancePower.sol
  contracts/staking/contracts/src/goverence/Staker.sol
  contracts/staking/contracts/src/goverence/TreasuryVault.sol
  contracts/staking/contracts/src/interfaces/IOnchainGov.sol
  contracts/staking/package.json
  contracts/staking/test/artifacts.ts
  contracts/staking/test/bootstrap_factory_test.ts
  contracts/staking/test/stake_test.ts
  contracts/staking/test/unit_tests/treasury_vault.ts
  contracts/staking/test/utils/api_wrapper.ts
  contracts/staking/test/wrappers.ts
  contracts/staking/tsconfig.json
  docs/tokenomics/treasury_governance.md
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

chore: [asset-swapper] Update Shells to new version (#102)
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: adding UST, BBTC, OBTC, aDAI, aUSDC, aUSDT, sEUR, EURS, sETH pools (#103)
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/contracts-utils`: Allow for excess return data in `LibERC20TokenV06` compat* functions
  contracts/erc20/CHANGELOG.json
  contracts/erc20/contracts/src/v06/LibERC20TokenV06.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Add DevUtils-like functions to `NativeOrdersFeature`
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/test/features/native_orders_feature_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contract-artifacts`: Update IZeroEx artifact
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/IZeroEx.json
Owners: @dorothy-zbornak, @mzhu25

`@0x/contract-wrappers`: Update IZeroExContract wrapper
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/generated-wrappers/i_zero_ex.ts
Owners: @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Address review feedback
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-utils`: Add `LibSafeMathV06.safeDowncastToUint128()`
  contracts/utils/CHANGELOG.json
  contracts/utils/contracts/src/v06/LibSafeMathV06.sol
  contracts/utils/contracts/src/v06/errors/LibSafeMathRichErrorsV06.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Fix changelog and add cancelled get relevant state tests
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/test/features/native_orders_feature_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-utils`: Fix changelog
  contracts/erc20/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

That time DevUtils wouldn't die (#97)
  contracts/erc20/CHANGELOG.json
  contracts/erc20/contracts/src/v06/LibERC20TokenV06.sol
  contracts/utils/CHANGELOG.json
  contracts/utils/contracts/src/v06/LibSafeMathV06.sol
  contracts/utils/contracts/src/v06/errors/LibSafeMathRichErrorsV06.sol
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/test/features/native_orders_feature_test.ts
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/IZeroEx.json
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/generated-wrappers/i_zero_ex.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Publish
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-artifacts/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
  packages/protocol-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Updated releases to include Panettone
  docs/additional/releases.rst
Owners: none

Updated releases + addresses
  docs/additional/releases.rst
  docs/basics/addresses.rst
Owners: none

feat: AssetSwapper 5.6.2: new Curve Pools and new Shell version (#455)
  package.json
  yarn.lock
Owners: none

Added Panettone release to docs (#95)
  docs/additional/releases.rst
  docs/basics/addresses.rst
Owners: none

Update PLP sandbox addresses
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Use consistent returndatasize checks in UniswapFeature
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/UniswapFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Use consistent returndatasize checks in UniswapFeature (#96)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/UniswapFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Update PLP sandbox addresses (#107)
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dorothy-zbornak, @mzhu25

Upgrade quote server and Asset Swapper types (and specify protocol version in API requests)
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

add package and lockfile
  packages/asset-swapper/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix tests
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Updates for panettone release
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/IZeroEx.sol
  contracts/zero-ex/contracts/src/features/IMetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/features/ISignatureValidatorFeature.sol
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/features/SignatureValidatorFeature.sol
  contracts/zero-ex/contracts/src/features/TransformERC20Feature.sol
  contracts/zero-ex/contracts/src/migrations/FullMigration.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/src/migration.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/signature_validator_test.ts
  contracts/zero-ex/test/full_migration_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contract-addresses`: Update ganache snapshot addresses
  contracts/zero-ex/package.json
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Updating docs after cyberpants2077 release
  docs/_static/img/events.png
  docs/additional/emergency.rst
  docs/additional/releases.rst
  docs/basics/addresses.rst
  docs/basics/events.rst
Owners: none

Updating docs after cyberpants2077 release (#110)
  docs/_static/img/events.png
  docs/additional/emergency.rst
  docs/additional/releases.rst
  docs/basics/addresses.rst
  docs/basics/events.rst
Owners: none

chore: Move pagination to db for heavier queries (#457)
  src/handlers/sra_handlers.ts
  src/schemas/sra_get_orders_request_schema.json
  src/services/orderbook_service.ts
  src/types.ts
  src/utils/order_utils.ts
  src/utils/pagination_utils.ts
  src/utils/parse_utils.ts
  tslint.json
Owners: none

feat: Kyber reserve discovery using getTradingReserves
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/KyberSampler.sol
  packages/asset-swapper/contracts/src/interfaces/IKyberNetwork.sol
  packages/asset-swapper/contracts/test/TestERC20BridgeSampler.sol
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/kyber_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_contract_operation.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/contracts/bridge_sampler_mainnet_test.ts
  packages/asset-swapper/test/contracts/erc20_bridge_sampler_test.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/quote_report_generator_test.ts
  packages/asset-swapper/test/utils/mock_sampler_contract.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

`@0x/protocol-utils`: Update transformer utils for V4 FQT
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/src/signature_utils.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @dorothy-zbornak, @mzhu25

`@0x/contracts-integrations`: Delete `mtx_tests`
  contracts/integrations/test/exchange-proxy/mtx_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Address review comments
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeSource.sol
  contracts/zero-ex/contracts/src/transformers/bridges/IBridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAdapterAddresses.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinBancor.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCryptoCom.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinDodo.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinKyber.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinMStable.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinMooniswap.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinOasis.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinSushiswap.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinUniswap.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinUniswapV2.sol
  contracts/zero-ex/contracts/test/TestLiquidityProvider.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Un-`only` tests
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Update FQT to support v4 orders
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/IBridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinBalancer.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCurve.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinDodo.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinKyber.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinMStable.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinMooniswap.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinOasis.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinShell.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinSushiswap.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinUniswap.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinUniswapV2.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinZeroExBridge.sol
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25
