Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: update asset-swapper (#828)
  package.json
  test/utils/mocks.ts
  yarn.lock
Owners: none

fix: /price endpoint does not fail on eth_gasEstimate error (#820)
  src/handlers/swap_handlers.ts
  src/services/meta_transaction_service.ts
  src/services/swap_service.ts
  src/types.ts
  test/swap_test.ts
Owners: none

fix: only create fills if using js router, remove `unoptimizedPath`
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: Limit gas to 600k for BalancerV2 quotes
  packages/asset-swapper/contracts/src/BalancerV2Sampler.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix: stack to deep error by removing local var
  packages/asset-swapper/contracts/src/BalancerV2Sampler.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fixed btrfly routing to include the ohmV2/dai, ohmV2/btfly, and ohmV2/weth pools
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

updated changelog
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

removed ohmv2/dai and ohmv2/weth, routing is the same without the search overhead
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

remove comments
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fixed btrfly routing to include the ohmV2/dai, ohmV2/btfly, and ohmV2/weth pools
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

updated changelog
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

removed ohmv2/dai and ohmv2/weth, routing is the same without the search overhead
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

remove comments
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

re-added example env file
  .env_example
Owners: none

bumped asset-swapper version
  .env_example
  package.json
  yarn.lock
Owners: none

fix: start native orders "samples" at 0 & don't skip neg adj orders
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: bump neon-router version
  packages/asset-swapper/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: bail on routes with invalid output estimation (no valid route)
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: add asset-swapper changelog entry
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: start native orders "samples" at 0 & don't skip neg adj orders (#425)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

NFT orders: address audit findings (#417)
  contracts/zero-ex/contracts/src/errors/LibNFTOrdersRichErrors.sol
  contracts/zero-ex/contracts/src/features/ERC165Feature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC1155OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC165Feature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/libs/LibNFTOrder.sol
  contracts/zero-ex/contracts/src/features/nft_orders/ERC1155OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/nft_orders/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/nft_orders/NFTOrders.sol
  contracts/zero-ex/contracts/src/fixins/FixinERC1155Spender.sol
  contracts/zero-ex/contracts/src/fixins/FixinERC721Spender.sol
  contracts/zero-ex/contracts/src/storage/LibERC1155OrdersStorage.sol
  contracts/zero-ex/contracts/src/storage/LibERC721OrdersStorage.sol
  contracts/zero-ex/contracts/src/storage/LibStorage.sol
  contracts/zero-ex/contracts/src/vendor/IERC1155Token.sol
  contracts/zero-ex/contracts/src/vendor/IERC721Token.sol
  contracts/zero-ex/contracts/src/vendor/IFeeRecipient.sol
  contracts/zero-ex/contracts/src/vendor/IPropertyValidator.sol
  contracts/zero-ex/contracts/src/vendor/ITakerCallback.sol
  contracts/zero-ex/contracts/test/TestNFTOrderPresigner.sol
  contracts/zero-ex/test/features/erc1155_orders_test.ts
  contracts/zero-ex/test/features/erc721_orders_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Update changelogs, IZeroEx artifact/wrapper
  contracts/zero-ex/CHANGELOG.json
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/IZeroEx.json
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/generated-wrappers/i_zero_ex.ts
  packages/contract-wrappers/src/index.ts
  packages/protocol-utils/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

chore: bump `asset-swapper` to include the latest neon-router changes (#838)
  package.json
  yarn.lock
Owners: none

Updated CHANGELOGS & MD docs
  contracts/erc20/CHANGELOG.json
  contracts/erc20/CHANGELOG.md
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/CHANGELOG.md
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/utils/CHANGELOG.json
  contracts/utils/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/CHANGELOG.md
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.md
  packages/migrations/CHANGELOG.json
  packages/migrations/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Publish
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-artifacts/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/protocol-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: scale oversized native orders to quote amount for fake samples
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: temporarily use private publish neon-router version
  packages/asset-swapper/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: short circuit 1 base unit trades to avoid router error
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: use published version of `neon-router`
  packages/asset-swapper/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

added WETH/BTRFLY pool on curve mainnet
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

rename and prevent a failure from killing everything
  packages/asset-swapper/contracts/src/curve/CurvePoolFactoryReader.sol
  packages/asset-swapper/src/scripts/curve_pool_factory_reader.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

chore: Read Curve factory pools
  packages/asset-swapper/contracts/src/curve/CurvePoolFactoryReader.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/artifacts.ts
  packages/asset-swapper/src/wrappers.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Pull out symbols for readability
  packages/asset-swapper/contracts/src/curve/CurvePoolFactoryReader.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

skip no balance pools, diff the CurveInfos
  packages/asset-swapper/contracts/src/curve/CurvePoolFactoryReader.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

join both pools
  packages/asset-swapper/src/scripts/curve_pool_factory_reader.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25
