Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

lint fix (#130)
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: upgrade mesh to v10 (#376)
  .gitignore
  docker-compose-test.yml
  docker-compose.yml
  integration-test/transaction_watcher_service_test.ts
  migrations/1604516429383-CreatePersistentSignedOrder.ts
  package.json
  src/app.ts
  src/config.ts
  src/entities/PersistentSignedOrderEntity.ts
  src/runners/order_watcher_service_runner.ts
  src/runners/utils.ts
  src/services/order_watcher_service.ts
  src/services/orderbook_service.ts
  src/services/websocket_service.ts
  src/types.ts
  src/utils/mesh_client.ts
  src/utils/mesh_utils.ts
  src/utils/order_utils.ts
  test/meta_transaction_test.ts
  test/orderbook_service_test.ts
  test/rfqt_test.ts
  test/sra_test.ts
  test/swap_test.ts
  test/test_setup.ts
  test/utils/deployment.ts
  test/utils/http_utils.ts
  test/utils/mesh_client_mock.ts
  test/utils/mesh_test_utils.ts
  tsconfig.json
  yarn.lock
Owners: none

move docker-compose file
  docker-compose-test.yml
  test/utils/deployment.ts
Owners: none

remove docker-compose from gitignore
  .gitignore
  test/docker-compose.yml
  yarn.lock
Owners: none

revert docker changes
  .gitignore
  docker-compose-test.yml
  test/utils/deployment.ts
Owners: none

Revert "chore: upgrade mesh to v10 (#376)"
  .gitignore
  docker-compose-test.yml
  docker-compose.yml
  integration-test/transaction_watcher_service_test.ts
  migrations/1604516429383-CreatePersistentSignedOrder.ts
  package.json
  src/app.ts
  src/config.ts
  src/entities/PersistentSignedOrderEntity.ts
  src/runners/order_watcher_service_runner.ts
  src/runners/utils.ts
  src/services/order_watcher_service.ts
  src/services/orderbook_service.ts
  src/services/websocket_service.ts
  src/types.ts
  src/utils/mesh_client.ts
  src/utils/mesh_utils.ts
  src/utils/order_utils.ts
  test/meta_transaction_test.ts
  test/orderbook_service_test.ts
  test/rfqt_test.ts
  test/sra_test.ts
  test/swap_test.ts
  test/test_setup.ts
  test/utils/deployment.ts
  test/utils/http_utils.ts
  test/utils/mesh_client_mock.ts
  test/utils/mesh_test_utils.ts
  tsconfig.json
  yarn.lock
Owners: none

baseline adapter code [WIP]
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/alt_mm_implementation_utils.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated releases
  docs/additional/releases.rst
Owners: none

added getMinOfBalancesOrAllowances function to BalanceChecker contract
  packages/asset-swapper/contracts/src/BalanceChecker.sol
  packages/asset-swapper/test/contracts/balance_checker_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

appease prettier
  packages/asset-swapper/test/contracts/balance_checker_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Updated releases (#133)
  docs/additional/releases.rst
Owners: none

fixed adapter logic, quote_requester instantiation
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/alt_mm_implementation_utils.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

added getMinOfBalancesOrAllowances function to BalanceChecker contract (#134)
  packages/asset-swapper/contracts/src/BalanceChecker.sol
  packages/asset-swapper/test/contracts/balance_checker_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CHANGELOGs and remove validations from when interface was assumed public
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/quote_consumers/swap_quote_consumer.ts
  packages/asset-swapper/src/utils/assert.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

v4 FillQuoteTransformer (#104)
  contracts/integrations/test/exchange-proxy/mtx_test.ts
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeSource.sol
  contracts/zero-ex/contracts/src/transformers/bridges/IBridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAdapterAddresses.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinBalancer.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinBancor.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCoFiX.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCryptoCom.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCurve.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinDodo.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinKyber.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinMStable.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinMooniswap.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinOasis.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinShell.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinSushiswap.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinUniswap.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinUniswapV2.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinZeroExBridge.sol
  contracts/zero-ex/contracts/src/vendor/v3/IExchange.sol
  contracts/zero-ex/contracts/src/vendor/v3/IGasToken.sol
  contracts/zero-ex/contracts/src/vendor/v3/LibOrderHash.sol
  contracts/zero-ex/contracts/test/TestFillQuoteTransformerBridge.sol
  contracts/zero-ex/contracts/test/TestFillQuoteTransformerExchange.sol
  contracts/zero-ex/contracts/test/TestLiquidityProvider.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/migrations/CHANGELOG.json
  packages/migrations/src/migration.ts
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/src/signature_utils.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Update post rebase
  packages/asset-swapper/src/utils/quote_report_generator.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

prettier
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

modified quote-requestor test to include alt implementation
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/test/quote_requestor_test.ts
  packages/asset-swapper/test/utils/test_helpers.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Remove test helpers exported in asset-swapper
  packages/asset-swapper/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

baseline adapter code [WIP]
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/alt_mm_implementation_utils.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fixed adapter logic, quote_requester instantiation
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/alt_mm_implementation_utils.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

modified quote-requestor test to include alt implementation
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/test/quote_requestor_test.ts
  packages/asset-swapper/test/utils/test_helpers.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: Mesh V10: TRY AGAIN (#476)
  .gitignore
  docker-compose-test.yml
  docker-compose.yml
  integration-test/transaction_watcher_service_test.ts
  migrations/1604516429383-CreatePersistentSignedOrder.ts
  package.json
  src/app.ts
  src/config.ts
  src/entities/PersistentSignedOrderEntity.ts
  src/runners/order_watcher_service_runner.ts
  src/runners/utils.ts
  src/services/order_watcher_service.ts
  src/services/orderbook_service.ts
  src/services/websocket_service.ts
  src/types.ts
  src/utils/mesh_client.ts
  src/utils/mesh_utils.ts
  src/utils/order_utils.ts
  test/meta_transaction_test.ts
  test/orderbook_service_test.ts
  test/rfqt_test.ts
  test/sra_test.ts
  test/swap_test.ts
  test/test_setup.ts
  test/utils/deployment.ts
  test/utils/http_utils.ts
  test/utils/mesh_client_mock.ts
  test/utils/mesh_test_utils.ts
  tsconfig.json
  yarn.lock
Owners: none

Revert "feat: Mesh V10: TRY AGAIN (#476)" (#479)
  .gitignore
  docker-compose-test.yml
  docker-compose.yml
  integration-test/transaction_watcher_service_test.ts
  migrations/1604516429383-CreatePersistentSignedOrder.ts
  package.json
  src/app.ts
  src/config.ts
  src/entities/PersistentSignedOrderEntity.ts
  src/runners/order_watcher_service_runner.ts
  src/runners/utils.ts
  src/services/order_watcher_service.ts
  src/services/orderbook_service.ts
  src/services/websocket_service.ts
  src/types.ts
  src/utils/mesh_client.ts
  src/utils/mesh_utils.ts
  src/utils/order_utils.ts
  test/meta_transaction_test.ts
  test/orderbook_service_test.ts
  test/rfqt_test.ts
  test/sra_test.ts
  test/swap_test.ts
  test/test_setup.ts
  test/utils/deployment.ts
  test/utils/http_utils.ts
  test/utils/mesh_client_mock.ts
  test/utils/mesh_test_utils.ts
  tsconfig.json
  yarn.lock
Owners: none

type changes, fixes to quote requestor test
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/alt_mm_implementation_utils.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
  packages/asset-swapper/test/utils/test_helpers.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Clean up from review comments
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/quote_consumers/swap_quote_consumer.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/swap_quote_consumer_utils.ts
  packages/asset-swapper/src/utils/utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

prettier
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

small fixes
  packages/asset-swapper/src/utils/alt_mm_implementation_utils.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
  packages/asset-swapper/test/utils/test_helpers.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

lint
  packages/asset-swapper/src/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

recreate rfqt mocker
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/rfqt_mocker.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

change merge and INVALID_SIGNATURE
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
  packages/protocol-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: Second hop source is missing
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

CHANGELOGs
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: Second hop source is missing (#138)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: Multihop second source missing + pad gas (#480)
  package.json
  src/services/swap_service.ts
  yarn.lock
Owners: none

fixed adapter logic, quote_requester instantiation
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/alt_mm_implementation_utils.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

small fixes
  packages/asset-swapper/src/utils/alt_mm_implementation_utils.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
  packages/asset-swapper/test/utils/test_helpers.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

baseline adapter code [WIP]
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/alt_mm_implementation_utils.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

type changes, fixes to quote requestor test
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/alt_mm_implementation_utils.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
  packages/asset-swapper/test/utils/test_helpers.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25
