Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @dekz, @dextracker, @kyu-c

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/

# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file

# https://git-scm.com/docs/gitignore#_pattern_format

packages/asset-swapper/ @dekz @dextracker @kyu-c

# Dev tools & setup

.circleci/ @dekz
packages/contract-addresses/ @dekz @dextracker @kyu-c
packages/contract-artifacts/ @dekz
packages/protocol-utils/ @dekz

# Protocol/smart contracts

contracts/ @dekz @dextracker

prettier and lint
  src/asset-swapper/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: none

yarn lock updates
  yarn.lock
Owners: none

update deps for new otc order encoding
  package.json
Owners: none

add otc order placeholder
  src/asset-swapper/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: none

remove console.log
  src/asset-swapper/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: none

enabling aave_v2
  src/asset-swapper/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  src/asset-swapper/utils/market_operation_utils/constants.ts
Owners: none

feat: add buy support for aaveV2 on mainnet (#1023)
  src/asset-swapper/utils/market_operation_utils/constants.ts
Owners: none

Lower native token amount to 0.1 ether on Optimism and Arbitrum (#1026)
  src/asset-swapper/utils/market_operation_utils/constants.ts
Owners: none

fix: RFQTV2 reintroduce previous FQT PR [TKR-619] (#1025)
  src/asset-swapper/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  src/asset-swapper/quote_consumers/multiplex_encoders.ts
  src/asset-swapper/quote_consumers/quote_consumer_utils.ts
  src/asset-swapper/utils/market_operation_utils/types.ts
  src/asset-swapper/utils/quote_report_generator.ts
  test/asset-swapper/market_operation_utils_test.ts
  yarn.lock
Owners: none

add slippage protection flag to quote reports (#1027)
  src/asset-swapper/utils/quote_report_generator.ts
  src/handlers/swap_handlers.ts
  src/services/meta_transaction_service.ts
  src/utils/quote_report_utils.ts
Owners: none

chore: Minor cleanup in `market_operation_utils` [TKR-623] (#1030)
  .prettierignore
  package.json
  src/asset-swapper/utils/market_operation_utils/index.ts
  src/asset-swapper/utils/market_operation_utils/path_optimizer.ts
Owners: none

Add additional logging for NoOptimalPath error (#1031)
  src/asset-swapper/utils/market_operation_utils/index.ts
Owners: none

adding expectedSlippage to quote reports (#1028)
  src/asset-swapper/utils/quote_report_generator.ts
  src/handlers/swap_handlers.ts
  src/services/meta_transaction_service.ts
  src/utils/quote_report_utils.ts
Owners: none

update contract fqt in contract-addresses
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

update contract fqt in contract-addresses (#604)
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

Revert "update contract fqt in contract-addresses (#604)"
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

update changelog
  packages/contract-addresses/CHANGELOG.json
Owners: @dekz, @dextracker, @kyu-c

update changelog (#605)
  packages/contract-addresses/CHANGELOG.json
Owners: @dekz, @dextracker, @kyu-c

Updated CHANGELOGS & MD docs
  contracts/erc20/CHANGELOG.json
  contracts/erc20/CHANGELOG.md
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/CHANGELOG.md
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/utils/CHANGELOG.json
  contracts/utils/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.md
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
Owners: @dekz, @dextracker, @kyu-c

Publish
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers/package.json
  packages/protocol-utils/package.json
Owners: @dekz, @dextracker, @kyu-c

chore: Replace env var `RUST_ROUTER` with `SAMPLE_DISTRIBUTION_BASE` [TKR-623] (#1034)
  .env_example
  src/asset-swapper/utils/market_operation_utils/constants.ts
  src/asset-swapper/utils/market_operation_utils/types.ts
  src/config.ts
Owners: none

Skip bad pool data in Balancer v1 cache (#1035)
  src/asset-swapper/utils/market_operation_utils/pools_cache/balancer_pools_cache.ts
Owners: none

feat: feed v2 RFQt quotes into our routing (#994)
  src/asset-swapper/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  src/asset-swapper/quote_consumers/quote_consumer_utils.ts
  src/asset-swapper/types.ts
  src/asset-swapper/utils/market_operation_utils/index.ts
  src/asset-swapper/utils/market_operation_utils/orders.ts
  src/asset-swapper/utils/market_operation_utils/path_optimizer.ts
  src/asset-swapper/utils/quote_report_generator.ts
  src/asset-swapper/utils/rfq_client_mappers.ts
  src/utils/quote_comparison_utils.ts
  src/utils/rfq_client.ts
  test/asset-swapper/market_operation_utils_test.ts
Owners: none

chore: bump @0x/contract-addresses to 7.0.0 (#1033)
  package.json
  yarn.lock
Owners: none

adding BalancerV2 Batch support for Fantom Bridge Adapter
  contracts/zero-ex/contracts/src/transformers/bridges/FantomBridgeAdapter.sol
Owners: @dekz, @dextracker

feat: improve native token conversion for less popular tokens (#1032)
  src/asset-swapper/utils/market_operation_utils/sampler_operations.ts
Owners: none

adding BalancerV2 Batch support for Fantom Bridge Adapter (#606)
  contracts/zero-ex/contracts/src/transformers/bridges/FantomBridgeAdapter.sol
Owners: @dekz, @dextracker

Add `BalancerV2Batch` support in Fantom `FillQuoteTransformer`
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

Add `BalancerV2Batch` support in Fantom `FillQuoteTransformer` (#607)
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

Updated CHANGELOGS & MD docs
  contracts/erc20/CHANGELOG.json
  contracts/erc20/CHANGELOG.md
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/CHANGELOG.md
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/utils/CHANGELOG.json
  contracts/utils/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.md
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
  yarn.lock
Owners: @dekz, @dextracker, @kyu-c

Publish
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers/package.json
  packages/protocol-utils/package.json
Owners: @dekz, @dextracker, @kyu-c

Bump @0x/contract-addresses for BalancerV2Batch support on Fantom (#1036)
  package.json
  yarn.lock
Owners: none

Use `call` instead of `transfer` in `LibERC20Transformer`
  contracts/zero-ex/contracts/src/transformers/LibERC20Transformer.sol
Owners: @dekz, @dextracker

Add `unsafeTransformerTransfer` and migrate `transformers` to use `unsafeTransformerTransfer` instead of `transformerTransfer`
  contracts/zero-ex/contracts/src/transformers/AffiliateFeeTransformer.sol
  contracts/zero-ex/contracts/src/transformers/LibERC20Transformer.sol
  contracts/zero-ex/contracts/src/transformers/PayTakerTransformer.sol
  contracts/zero-ex/contracts/src/transformers/PositiveSlippageFeeTransformer.sol
Owners: @dekz, @dextracker

Update .prettierignore
  .prettierignore
Owners: none

adding prom counter for zero conversion (#1040)
  src/asset-swapper/utils/market_operation_utils/index.ts
Owners: none

Factor out neon router call into a function (#1039)
  src/asset-swapper/utils/market_operation_utils/path_optimizer.ts
Owners: none

Update README.md (#1042)
  README.md
  package.json
Owners: none

Remove unused constants (#1044)
  src/constants.ts
Owners: none

chore: tweak gas schedule for OtcOrder (#1043)
  src/asset-swapper/utils/market_operation_utils/constants.ts
  test/asset-swapper/gas_schedule_test.ts
Owners: none
