Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

fix: keep Clipper as BridgeProtocols so we dont have to redeploy and comment this is not used
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeProtocols.sol
  packages/protocol-utils/src/transformer_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix: prettier
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: removing Clipper custom integration (to add it later as a real PLP) (#335)
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeProtocols.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinClipper.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Updated CHANGELOGS & MD docs
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
  packages/migrations/CHANGELOG.json
  packages/migrations/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Publish
  contracts/treasury/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/migrations/package.json
  packages/protocol-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Log rfqm retry failures (#751)
  src/services/rfqm_service.ts
Owners: none

chore: bump asset-swaper to neon-router enabled version (#750)
  package.json
  yarn.lock
Owners: none

Update packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix(asset-swapper): Check MAX_IN_RATIO in sampleBuysFromBalancer (#338)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/BalancerSampler.sol
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

chore: bump AS to 16.29.1 (#753)
  package.json
  yarn.lock
Owners: none

Fix logging for rfqm worker exit (#754)
  src/runners/rfqm_worker_runner.ts
Owners: none

feat: Add prometheus gauge for total rfqm trade capacity (#755)
  src/services/rfqm_service.ts
  src/utils/rfqm_health_check.ts
  test/services/rfqm_service_test.ts
Owners: none

Add Proposal 2 and test
  contracts/treasury/contracts/external/ISablier.sol
  contracts/treasury/package.json
  contracts/treasury/src/artifacts.ts
  contracts/treasury/src/proposals.ts
  contracts/treasury/src/wrappers.ts
  contracts/treasury/test/artifacts.ts
  contracts/treasury/test/proposal_test.ts
  contracts/treasury/test/wrappers.ts
  contracts/treasury/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Convert RFQM status prom counter to a gauge (#756)
  src/utils/rfqm_health_check.ts
Owners: none

Fix pino useLevelLabels warning (#757)
  src/logger.ts
Owners: none

Update status guage so it resets when the issue is resolved (#758)
  src/utils/rfqm_health_check.ts
Owners: none

add support for ftm
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/contract-addresses/addresses.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Add Proposal 2 and test (#339)
  contracts/treasury/contracts/external/ISablier.sol
  contracts/treasury/package.json
  contracts/treasury/src/artifacts.ts
  contracts/treasury/src/proposals.ts
  contracts/treasury/src/wrappers.ts
  contracts/treasury/test/artifacts.ts
  contracts/treasury/test/proposal_test.ts
  contracts/treasury/test/wrappers.ts
  contracts/treasury/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Allow worker error to fall through to process level catches (#760)
  src/runners/rfqm_worker_runner.ts
Owners: none

Create Sjenica1
  Sjenica1
Owners: none

Create Sjenica1
  Sjenica1
Owners: none

Update LICENSE
  LICENSE
Owners: none

Extended Quote report for indicative quote
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_report_generator.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Remove full error message from RFQM worker logging (#764)
  src/runners/rfqm_worker_runner.ts
  src/services/rfqm_service.ts
  src/utils/sqs_consumer.ts
Owners: none

feat: read configs from files (#759)
  src/config.ts
Owners: none

Update changelog
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

go back to using transformERC20
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/test/exchange_proxy_swap_quote_consumer_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Chore: go back to using transformERC20 in AS (#343)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/test/exchange_proxy_swap_quote_consumer_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Publish
  contracts/treasury/package.json
  packages/asset-swapper/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

chore: update to new router version and address breaking changes
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: add changelog entry
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

add more Fantom liquidity sources
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/contract-addresses/addresses.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

clean up codes
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

lint
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

prettier codes
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fixes axios object dumping in logs
  packages/asset-swapper/src/utils/alt_mm_implementation_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

clean up codes
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

prettier codes
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

lint
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25
