Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25

Typos
  contracts/zero-ex/contracts/src/features/nft_orders/ERC1155OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/nft_orders/ERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add ERC1155OrdersFeeature tests
  contracts/zero-ex/contracts/src/IZeroEx.sol
  contracts/zero-ex/contracts/src/features/nft_orders/NFTOrders.sol
  contracts/zero-ex/contracts/src/fixins/FixinERC1155Spender.sol
  contracts/zero-ex/contracts/test/TestNFTOrderPresigner.sol
  contracts/zero-ex/contracts/test/tokens/TestMintableERC1155Token.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/erc1155_orders_test.ts
  contracts/zero-ex/test/utils/erc721_orders.ts
  contracts/zero-ex/test/utils/nft_orders.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/protocol-utils/src/revert-errors/nft_orders.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Update comments
  contracts/zero-ex/contracts/src/features/libs/LibNFTOrder.sol
  contracts/zero-ex/contracts/src/features/nft_orders/ERC1155OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/nft_orders/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/nft_orders/NFTOrders.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Fix ERC721OrdersFeature tests
  contracts/zero-ex/test/features/erc721_orders_test.ts
  packages/protocol-utils/src/revert-errors/index.ts
  packages/protocol-utils/src/revert-errors/nft_orders.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add IERC721OrdersFeature to IZeroEx
  contracts/zero-ex/contracts/src/IZeroEx.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Remove revertIfIncomplete from batchMatch
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Fix order hashing
  contracts/zero-ex/contracts/src/features/libs/LibNFTOrder.sol
  packages/protocol-utils/src/erc721_orders.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

add rich errors for ERC721OrdersFeature
  contracts/zero-ex/contracts/src/errors/LibERC721OrdersRichErrors.sol
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/fixins/FixinCommon.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Use SafeMath where necessary
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Implement batchBuyERC721s
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add isValidERC721OrderSignature to interface
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add comments
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/libs/LibERC721Order.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Refactor TS tooling
  contracts/zero-ex/test/features/erc721_orders_test.ts
  packages/protocol-utils/src/index.ts
  packages/protocol-utils/src/nft_orders.ts
  packages/protocol-utils/src/revert-errors/index.ts
  packages/protocol-utils/src/revert-errors/nft_orders.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Assembly optimizations in LibERC721Order
  contracts/zero-ex/contracts/src/features/libs/LibERC721Order.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add ERC721 interface to vendor/
  contracts/zero-ex/contracts/src/vendor/IERC721Token.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add ERC1155Order to protocol-utils
  packages/protocol-utils/src/index.ts
  packages/protocol-utils/src/nft_orders.ts
Owners: @dorothy-zbornak, @mzhu25

Implement matching functions
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

create zero-ex/contracts/test/integration/ and tokens/ directories
  contracts/zero-ex/contracts/test/TestFillQuoteTransformerBridge.sol
  contracts/zero-ex/contracts/test/TestFillQuoteTransformerExchange.sol
  contracts/zero-ex/contracts/test/TestFillQuoteTransformerHost.sol
  contracts/zero-ex/contracts/test/TestMintTokenERC20Transformer.sol
  contracts/zero-ex/contracts/test/TestWethTransformerHost.sol
  contracts/zero-ex/contracts/test/integration/TestCurve.sol
  contracts/zero-ex/contracts/test/integration/TestLiquidityProvider.sol
  contracts/zero-ex/contracts/test/integration/TestMooniswap.sol
  contracts/zero-ex/contracts/test/integration/TestUniswapV2Factory.sol
  contracts/zero-ex/contracts/test/integration/TestUniswapV2Pool.sol
  contracts/zero-ex/contracts/test/integration/TestUniswapV3Factory.sol
  contracts/zero-ex/contracts/test/integration/TestUniswapV3Pool.sol
  contracts/zero-ex/contracts/test/tokens/TestMintableERC20Token.sol
  contracts/zero-ex/contracts/test/tokens/TestTokenSpenderERC20Token.sol
  contracts/zero-ex/contracts/test/tokens/TestWeth.sol
  contracts/zero-ex/test/artifacts.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Rearrange event fields to better align with struct fields
  contracts/zero-ex/contracts/src/features/interfaces/IERC1155OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/nft_orders/ERC1155OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/nft_orders/ERC721OrdersFeature.sol
  contracts/zero-ex/test/features/erc721_orders_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Sanity check maker address in preSign
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

implement onERC721Received
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Address PR feedback
  contracts/zero-ex/contracts/src/features/libs/LibNFTOrder.sol
  contracts/zero-ex/contracts/src/features/nft_orders/ERC1155OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/nft_orders/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/nft_orders/NFTOrders.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Commence refactor, abstract base contract
  contracts/zero-ex/contracts/src/errors/LibNFTOrdersRichErrors.sol
  contracts/zero-ex/contracts/src/features/libs/LibNFTOrder.sol
  contracts/zero-ex/contracts/src/features/nft_orders/NFTOrders.sol
  contracts/zero-ex/contracts/src/vendor/ITakerCallback.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

disable dex sampler tests
  packages/asset-swapper/test/dex_sampler_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

TestMintableERC721Token
  contracts/zero-ex/contracts/test/tokens/TestMintableERC721Token.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add missing @return comments
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Storage lib for ERC721 orders feature
  contracts/zero-ex/contracts/src/storage/LibERC721OrdersStorage.sol
  contracts/zero-ex/contracts/src/storage/LibStorage.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add ERC721Orders TS class
  packages/protocol-utils/src/eip712_utils.ts
  packages/protocol-utils/src/erc721_orders.ts
  packages/protocol-utils/src/index.ts
  packages/protocol-utils/src/signature_utils.ts
Owners: @dorothy-zbornak, @mzhu25

Implement basic functionality for ERC721 orders (buy, sell, cancel, etc)
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/OtcOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/libs/LibERC721Order.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/fixins/FixinERC721Spender.sol
  contracts/zero-ex/contracts/src/fixins/FixinTokenSpender.sol
  contracts/zero-ex/contracts/src/vendor/IFeeRecipient.sol
  contracts/zero-ex/contracts/src/vendor/IPropertyValidator.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

ERC1155OrdersFeature contracts
  contracts/zero-ex/contracts/src/errors/LibERC1155OrdersRichErrors.sol
  contracts/zero-ex/contracts/src/features/ERC1155OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC1155OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/libs/LibERC1155Order.sol
  contracts/zero-ex/contracts/src/fixins/FixinERC1155Spender.sol
  contracts/zero-ex/contracts/src/storage/LibERC1155OrdersStorage.sol
  contracts/zero-ex/contracts/src/storage/LibStorage.sol
  contracts/zero-ex/contracts/src/vendor/IERC1155OrderCallback.sol
  contracts/zero-ex/contracts/src/vendor/IERC1155Token.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

left/right orders -> sell/buy orders
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

address feedback from original PR (#391)
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/libs/LibERC721Order.sol
  contracts/zero-ex/contracts/src/fixins/FixinCommon.sol
  contracts/zero-ex/contracts/src/fixins/FixinERC721Spender.sol
  contracts/zero-ex/contracts/src/fixins/FixinTokenSpender.sol
  contracts/zero-ex/contracts/src/vendor/IFeeRecipient.sol
  contracts/zero-ex/contracts/test/TestERC721OrderPresigner.sol
  contracts/zero-ex/contracts/test/TestFeeRecipient.sol
  contracts/zero-ex/test/features/erc721_orders_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

ERC721OrdersFeature inherits from NFTOrders
  contracts/zero-ex/contracts/src/errors/LibERC721OrdersRichErrors.sol
  contracts/zero-ex/contracts/src/errors/LibNFTOrdersRichErrors.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/libs/LibERC721Order.sol
  contracts/zero-ex/contracts/src/features/libs/LibNFTOrder.sol
  contracts/zero-ex/contracts/src/features/nft_orders/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/nft_orders/NFTOrders.sol
  contracts/zero-ex/contracts/test/TestERC721OrderPresigner.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Refactor ERC1155OrdersFeature to inherit from NFTOrders
  contracts/zero-ex/contracts/src/errors/LibERC1155OrdersRichErrors.sol
  contracts/zero-ex/contracts/src/errors/LibNFTOrdersRichErrors.sol
  contracts/zero-ex/contracts/src/features/ERC1155OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC1155OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/libs/LibERC1155Order.sol
  contracts/zero-ex/contracts/src/features/libs/LibNFTOrder.sol
  contracts/zero-ex/contracts/src/features/nft_orders/ERC1155OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/nft_orders/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/nft_orders/NFTOrders.sol
  contracts/zero-ex/contracts/src/vendor/IERC1155OrderCallback.sol
  contracts/zero-ex/contracts/src/vendor/IERC721OrderCallback.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Cancel using just the order nonce
  contracts/zero-ex/contracts/src/errors/LibERC721OrdersRichErrors.sol
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

tmp
  contracts/zero-ex/contracts/test/TestERC721OrderPresigner.sol
  contracts/zero-ex/contracts/test/TestFeeRecipient.sol
  contracts/zero-ex/contracts/test/TestPropertyValidator.sol
  contracts/zero-ex/contracts/test/tokens/TestMintableERC721Token.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/erc721_orders_test.ts
  contracts/zero-ex/test/utils/erc721_orders.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/protocol-utils/src/erc721_orders.ts
  packages/protocol-utils/src/revert-errors/erc721_orders.ts
  packages/protocol-utils/src/revert-errors/index.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Remove maker address from preSigned mapping
  contracts/zero-ex/contracts/src/features/nft_orders/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/storage/LibERC721OrdersStorage.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add ERC721OrdersFeature interface
  contracts/zero-ex/contracts/src/features/interfaces/IERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

update AbiEncoder.create params
  contracts/zero-ex/test/features/erc721_orders_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

add LibERC721Order.sol
  contracts/zero-ex/contracts/src/features/libs/LibERC721Order.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25
