Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

`@0x/asset-swapper`: prettier and tweak gas schedule slightly for uni3
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Update test scripts (#607)
  package.json
Owners: none

feat: add Rfqm SQS consumer (#580)
  package.json
  src/config.ts
  src/constants.ts
  src/runners/http_rfqm_service_runner.ts
  src/runners/rfqm_worker_runner.ts
  src/services/rfqm_service.ts
  src/utils/sqs_client.ts
  src/utils/sqs_consumer.ts
  test/utils/sqs_consumer_test.ts
  yarn.lock
Owners: none

feat: Filter RFQM quotes with the wrong chain id (#606)
  src/services/rfqm_service.ts
  test/rfqm_test.ts
  test/services/rfqm_service_test.ts
Owners: none

Publish
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-artifacts/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
  packages/protocol-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

chore: Latest Asset Swapper (UniswapV3VIP) (#611)
  package.json
  src/config.ts
  test/rfqm_db_test.ts
  test/rfqm_test.ts
  test/services/rfqm_service_test.ts
  yarn.lock
Owners: none

feat: add uni v3 EP overhead (#608)
  src/config.ts
Owners: none

feat: add confirmLastLook request to MMs (#610)
  package.json
  src/utils/quote_server_client.ts
  test/utils/quote_server_client_test.ts
  yarn.lock
Owners: none

feat: Round rfqm quote decimal places (#609)
  src/services/rfqm_service.ts
  test/services/rfqm_service_test.ts
Owners: none

fix express import for rfqm worker (#617)
  src/runners/rfqm_worker_runner.ts
Owners: none

fix: Fix RFQM firm quote chain filtering test (#614)
  test/rfqm_test.ts
  test/services/rfqm_service_test.ts
Owners: none

chore: adding Uni v3 as a fee source
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: make rfqm worker aware of its respective private key (#618)
  src/config.ts
  src/runners/http_rfqm_service_runner.ts
  src/runners/rfqm_worker_runner.ts
  src/utils/rfq_blockchain_utils.ts
Owners: none

feat: Tweak uni3 vip overhead (#612)
  src/config.ts
Owners: none

feat: Curve V2
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeProtocols.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCurveV2.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: add implementation for processJobAsync in Rfqm (#613)
  src/runners/http_rfqm_service_runner.ts
  src/runners/rfqm_worker_runner.ts
  src/services/rfqm_service.ts
  test/rfqm_test.ts
  test/services/rfqm_service_test.ts
Owners: none

fix: scale takerAmount when MM returns more than requested (#619)
  src/services/rfqm_service.ts
  test/services/rfqm_service_test.ts
Owners: none

refactor: small cleanup of rfqmDbUtils (#620)
  src/entities/RfqmJobEntity.ts
  src/entities/RfqmQuoteEntity.ts
  src/runners/http_rfqm_service_runner.ts
  src/services/rfqm_service.ts
  src/utils/rfqm_db_utils.ts
  test/rfqm_db_test.ts
  test/rfqm_test.ts
  test/services/rfqm_service_test.ts
Owners: none

feat: RFQM transaction submission (#616)
  migrations/1622670193018-CreateRfqmTransactionSubmissionsTable.ts
  package.json
  src/entities/RfqmTransactionSubmissionEntity.ts
  src/entities/index.ts
  src/ormconfig.ts
  src/services/rfqm_service.ts
  src/utils/rfq_blockchain_utils.ts
  src/utils/rfqm_db_utils.ts
  test/constants.ts
  test/orderbook_service_test.ts
  test/rfq_blockchain_utils_test.ts
  test/rfqm_db_test.ts
  test/rfqm_test.ts
  test/rfqt_test.ts
  test/sra_test.ts
  test/swap_test.ts
  yarn.lock
Owners: none

chore: adding Uni v3 as a fee source (#261)
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: CurveV2 gas schedule, remove unused import from MixinCurveV2
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCurveV2.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: add completeSubmissionLifecycleAsync to processRfqmJobAsync (#623)
  src/services/rfqm_service.ts
  test/rfqm_test.ts
Owners: none

fix: Submit tx upgrade (#622)
  package.json
  src/services/rfqm_service.ts
  src/utils/quote_server_client.ts
  test/rfqm_test.ts
  test/utils/quote_server_client_test.ts
  yarn.lock
Owners: none

fix: rename rfqm worker index var to RFQM_WORKER_INDEX (#628)
  src/config.ts
  src/runners/http_rfqm_service_runner.ts
  src/runners/rfqm_worker_runner.ts
Owners: none

feat: FQT address update
  packages/contract-addresses/addresses.json
Owners: @dorothy-zbornak, @mzhu25

swap out test provider with param (#629)
  src/utils/rfq_blockchain_utils.ts
Owners: none

keep provider as a param in constructor since it's not used elsewhere (#630)
  src/utils/rfq_blockchain_utils.ts
Owners: none

feat: add worker readiness check (#627)
  src/runners/rfqm_worker_runner.ts
  src/services/rfqm_service.ts
  src/utils/rfq_blockchain_utils.ts
Owners: none

chore: Curve V2 exchange_underlying, adding Polygon atricrypto pool
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix finalization logic and tx receipt handling (#633)
  src/services/rfqm_service.ts
  src/utils/rfq_blockchain_utils.ts
  test/rfqm_test.ts
Owners: none

fix: await promise for receipt (#634)
  src/services/rfqm_service.ts
  src/utils/rfq_blockchain_utils.ts
Owners: none

prettier
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: FQT Polygon address update
  packages/contract-addresses/addresses.json
Owners: @dorothy-zbornak, @mzhu25

feat: FQT address update
  packages/contract-addresses/addresses.json
Owners: @dorothy-zbornak, @mzhu25

feat: Curve V2 (#262)
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeProtocols.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCurveV2.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/contract-addresses/addresses.json
  packages/protocol-utils/src/transformer_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Publish
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
  packages/protocol-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: Align RFQM entity types with their db representations (#632)
  src/entities/RfqmJobEntity.ts
  src/entities/RfqmQuoteEntity.ts
  src/entities/RfqmTransactionSubmissionEntity.ts
  src/services/rfqm_service.ts
  src/utils/rfqm_db_utils.ts
  test/rfqm_db_test.ts
  test/rfqm_test.ts
Owners: none

fix: Fix prettier glob path and bump version (#639)
  integration-test/transaction_watcher_service_test.ts
  migrations/1615218503896-RenameRemainingFillableAssetAmountToRemainingFillableTakerAmount.ts
  package.json
  src/apm.ts
  src/db_connection.ts
  src/handlers/meta_transaction_handlers.ts
  src/handlers/rfqm_handlers.ts
  src/index.ts
  src/services/rfqm_service.ts
  src/services/swap_service.ts
  src/services/websocket_service.ts
  src/utils/rfq_blockchain_utils.ts
  test/market_depth_test.ts
  test/orderbook_service_test.ts
  test/parse_utils_test.ts
  test/rate_limiter_test.ts
  test/rfq_blockchain_utils_test.ts
  test/rfqm_test.ts
  test/rfqt_test.ts
  test/transaction_watcher_signer_test.ts
  yarn.lock
Owners: none

feat: Curve V2, asset-swapper and contract-addresses bump (#637)
  package.json
  yarn.lock
Owners: none

feat: Add status logic to rfqm service (#635)
  src/services/rfqm_service.ts
  test/services/rfqm_service_test.ts
Owners: none

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25
