Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25

add: Curve new pools (CVX-CRX, MIM, atricrypto3) (#313)
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: AS CHANGELOG
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

add: Curve new pools (CVX-CRX, MIM, atricrypto3) - CHANGELOG (#314)
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: UST spam by temporarily disabling
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: UST spam by temporarily disabling (#316)
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: update monorepo-scripts
  package.json
  yarn.lock
Owners: none

add: Curve new pools (CVX-CRX, MIM, atricrypto3) (#315)
  package.json
  yarn.lock
Owners: none

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: deploy script injection (#726)
  .github/workflows/deploy.yml
Owners: none

Bump typescript to 4.4.x (#729)
  package.json
  tsconfig.json
  yarn.lock
Owners: none

chore: AS bump (#728)
  package.json
  yarn.lock
Owners: none

feat: Avalanche
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Update Addresses for Avalanche deployment
  packages/asset-swapper/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Cleanup
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Rebased development
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: 🔺 (#312)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  contracts/erc20/CHANGELOG.json
  contracts/erc20/CHANGELOG.md
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/CHANGELOG.md
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/utils/CHANGELOG.json
  contracts/utils/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.md
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.md
  packages/migrations/CHANGELOG.json
  packages/migrations/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Publish
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/protocol-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: Avalanche (#730)
  .github/workflows/deploy.yml
  integration-test/transaction_watcher_service_test.ts
  package.json
  src/app.ts
  src/config.ts
  src/handlers/meta_transaction_handlers.ts
  src/services/swap_service.ts
  src/types.ts
  src/utils/price_comparison_utils.ts
  src/utils/rfq_blockchain_utils.ts
  test/price_comparison_utils_test.ts
  test/rfq_blockchain_utils_test.ts
  yarn.lock
Owners: none

Fixed PR comments, now onto writing tests
  contracts/zero-ex/contracts/src/IZeroEx.sol
  contracts/zero-ex/contracts/src/features/EpFundRecoveryFeature.sol
  contracts/zero-ex/contracts/src/features/FundRecoveryFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IFundRecoveryFeature.sol
  contracts/zero-ex/test/features/fund_recovery_tests.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

initial EpFundRecoveryFeature implementation without tests
  contracts/zero-ex/contracts/src/features/EpFundRecoveryFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IEpFundRecoveryFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fixed package.json
  contracts/zero-ex/contracts/src/IZeroEx.sol
  contracts/zero-ex/contracts/src/features/EpFundRecoveryFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IEpFundRecoveryFeature.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Added support for TestMintableERC20TokenContract instead of DummyERC20
  contracts/zero-ex/test/features/fund_recovery_tests.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fixed michaels comments and finished off writing the test
  contracts/zero-ex/contracts/src/features/FundRecoveryFeature.sol
  contracts/zero-ex/contracts/test/TestFundRecoveryFeature.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/features/fund_recovery_tests.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fixed rebase issues
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/fund_recovery_tests.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

removed unsued bal variable, and removed .only modifier on blockchain tests
  contracts/zero-ex/test/features/fund_recovery_tests.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fixed rebase issues
  contracts/zero-ex/contracts/test/TestFundRecoveryFeature.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/fund_recovery_tests.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fixed prettier error with tests
  contracts/zero-ex/test/features/fund_recovery_tests.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fixed linting and EP transfering less than the total amount of ETH in the wallet
  contracts/zero-ex/test/features/fund_recovery_tests.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

ran yarn prettier to fix issues
  contracts/zero-ex/test/features/fund_recovery_tests.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fixed rebase issues
  contracts/zero-ex/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fixed package.json rebase bug
  contracts/zero-ex/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

feat: Added FundRecoveryFeature to CHANGELOG.json
  contracts/utils/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

m: Fixed json formatting
  contracts/utils/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

feat: fixed json
  contracts/utils/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Final Rebase
  contracts/utils/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fixed prettier error with tests
  contracts/zero-ex/test/features/fund_recovery_tests.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Fixed PR comments, now onto writing tests
  contracts/zero-ex/contracts/src/IZeroEx.sol
  contracts/zero-ex/contracts/src/features/EpFundRecoveryFeature.sol
  contracts/zero-ex/contracts/src/features/FundRecoveryFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IFundRecoveryFeature.sol
  contracts/zero-ex/test/features/fund_recovery_tests.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

feat: fixed json
  contracts/utils/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25
