Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25

feat: Added FundRecoveryFeature to CHANGELOG.json
  contracts/utils/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fixed package.json
  contracts/zero-ex/contracts/src/IZeroEx.sol
  contracts/zero-ex/contracts/src/features/EpFundRecoveryFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IEpFundRecoveryFeature.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fixed linting and EP transfering less than the total amount of ETH in the wallet
  contracts/zero-ex/test/features/fund_recovery_tests.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

ran yarn prettier to fix issues
  contracts/zero-ex/test/features/fund_recovery_tests.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fixed rebase issues
  contracts/zero-ex/contracts/test/TestFundRecoveryFeature.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/fund_recovery_tests.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Final Rebase
  contracts/utils/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

removed unsued bal variable, and removed .only modifier on blockchain tests
  contracts/zero-ex/test/features/fund_recovery_tests.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fixed package.json rebase bug
  contracts/zero-ex/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Added support for TestMintableERC20TokenContract instead of DummyERC20
  contracts/zero-ex/test/features/fund_recovery_tests.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fixed rebase issues
  contracts/zero-ex/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fixed rebase issues
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/fund_recovery_tests.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fixed michaels comments and finished off writing the test
  contracts/zero-ex/contracts/src/features/FundRecoveryFeature.sol
  contracts/zero-ex/contracts/test/TestFundRecoveryFeature.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/features/fund_recovery_tests.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

initial EpFundRecoveryFeature implementation without tests
  contracts/zero-ex/contracts/src/features/EpFundRecoveryFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IEpFundRecoveryFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

m: Fixed json formatting
  contracts/utils/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Get transaction hash and store before submitting (#717)
  package.json
  src/entities/RfqmTransactionSubmissionEntity.ts
  src/runners/http_rfqm_service_runner.ts
  src/services/rfqm_service.ts
  src/utils/rfq_blockchain_utils.ts
  src/utils/rfqm_db_utils.ts
  test/constants.ts
  test/rfq_blockchain_utils_test.ts
  test/rfqm_test.ts
  test/transaction_watcher_signer_test.ts
  yarn.lock
Owners: none

Initial commit of changes
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Added unit tests for filtering process
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

linting
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Update packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

lint and refactor based on feedback
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: Exclusive API keys for select integrations (#317)
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

update package mainfests
  contracts/zero-ex/package.json
  package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

update package mainfests (#318)
  contracts/zero-ex/package.json
  package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Fix ApproximateBuys sampler to terminate if the buy amount is not met
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/ApproximateBuys.sol
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

Fix ApproximateBuys sampler to terminate if the buy amount is not met (#319)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/ApproximateBuys.sol
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

Updated CHANGELOGS & MD docs
  contracts/erc20/CHANGELOG.json
  contracts/erc20/CHANGELOG.md
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/utils/CHANGELOG.json
  contracts/utils/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
  packages/migrations/CHANGELOG.json
  packages/migrations/CHANGELOG.md
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Publish
  contracts/erc20/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/migrations/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: Add prometheus counters to RFQM health check (#732)
  src/utils/rfqm_health_check.ts
Owners: none

fix: Added new API keys for custom integrations (#733)
  package.json
  src/config.ts
  src/schemas/integrator_acl_schema.json
  src/services/rfqm_service.ts
  src/services/swap_service.ts
  test/config_test.ts
  test/test_env
  yarn.lock
Owners: none

get rid of vote_factory
  contracts/test-utils/src/types.ts
  contracts/test-utils/src/vote_factory.ts
  contracts/treasury/contracts/src/ZrxTreasury.sol
  contracts/treasury/src/votes.ts
  contracts/treasury/test/treasury_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

move Vote class to protocol-utils
  contracts/treasury/package.json
  contracts/treasury/test/treasury_test.ts
  packages/protocol-utils/package.json
  packages/protocol-utils/src/votes.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Remove unused const
  contracts/test-utils/src/constants.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Support cast vote by signature in ZrxTreasury
  contracts/treasury/contracts/src/IZrxTreasury.sol
  contracts/treasury/contracts/src/ZrxTreasury.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

address some of the comments
  contracts/test-utils/src/types.ts
  contracts/test-utils/src/vote_factory.ts
  contracts/treasury/contracts/src/ZrxTreasury.sol
  contracts/treasury/src/votes.ts
  contracts/treasury/test/treasury_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add version to domain, and one more test
  .gitignore
  contracts/treasury/contracts/src/ZrxTreasury.sol
  contracts/treasury/src/votes.ts
  contracts/treasury/test/treasury_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

unit test for castVoteBySignature p2
  contracts/treasury/contracts/src/IZrxTreasury.sol
  contracts/treasury/contracts/src/ZrxTreasury.sol
  contracts/treasury/test/treasury_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

updates
  contracts/test-utils/src/types.ts
  contracts/test-utils/src/vote_factory.ts
  contracts/treasury/test/treasury_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

unit test for castVoteBySignature p4
  contracts/treasury/contracts/src/IZrxTreasury.sol
  contracts/treasury/contracts/src/ZrxTreasury.sol
  contracts/treasury/src/votes.ts
  contracts/treasury/test/treasury_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

test file format
  contracts/test-utils/src/vote_factory.ts
  contracts/treasury/test/treasury_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

test that doesnt work
  contracts/test-utils/src/constants.ts
  contracts/test-utils/src/vote_factory.ts
  contracts/treasury/test/treasury_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25
