Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @dekz, @dextracker, @kyu-c

WOOFi -> WOOFI
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeProtocols.sol
  packages/asset-swapper/package.json
Owners: @dekz, @dextracker, @kyu-c

new contract address for goerli verified deploy
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

try ignoring some files
  contracts/zero-ex/compiler.json
Owners: @dekz, @dextracker

ignore node_modules contracts too
  contracts/zero-ex/compiler.json
Owners: @dekz, @dextracker

fix lerna run lint
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @dekz, @dextracker, @kyu-c

Changelog
  packages/asset-swapper/CHANGELOG.json
Owners: @dekz, @dextracker, @kyu-c

add a comment in the README
  contracts/zero-ex/README.md
Owners: @dekz, @dextracker

nit changes
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinWOOFi.sol
  packages/asset-swapper/contracts/src/WooPPSampler.sol
  packages/asset-swapper/contracts/src/interfaces/IWooPP.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @dekz, @dextracker, @kyu-c

Add WooFI support (#513)
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/transformers/bridges/AvalancheBridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BSCBridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeProtocols.sol
  contracts/zero-ex/contracts/src/transformers/bridges/FantomBridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/PolygonBridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinWOOFi.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/WooPPSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
  packages/protocol-utils/src/transformer_utils.ts
Owners: @dekz, @dextracker, @kyu-c

No longer in use (#887)
  package.json
  src/apm.ts
  src/app.ts
  yarn.lock
Owners: none

Add .circleci/config.yml
  .circleci/config.yml
Owners: @dekz

Updated config.yml
  .circleci/config.yml
Owners: @dekz

Updated config.yml
  .circleci/config.yml
Owners: @dekz

Updated config.yml
  .circleci/config.yml
Owners: @dekz

try adding circleci for foundry
  .circleci/config.yml
Owners: @dekz

fix circleci thing
  .circleci/config.yml
Owners: @dekz

tweak circlci wd
  .circleci/config.yml
Owners: @dekz

only run forge test
  .circleci/config.yml
Owners: @dekz

lift filter
  .circleci/config.yml
Owners: @dekz

Upgrade dependencies to match the versions used in 0x-api
  packages/asset-swapper/package.json
  yarn.lock
Owners: @dekz, @dextracker, @kyu-c

Fix/disable tslint issues from the new version
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/pair_swaps_cache.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/tslint.json
Owners: @dekz, @dextracker, @kyu-c

Upgrade dependencies in `asset-swapper` to match the versions used in `0x-api` [TKR-484] (#535)
  packages/asset-swapper/package.json
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/pair_swaps_cache.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/tslint.json
  yarn.lock
Owners: @dekz, @dextracker, @kyu-c

chore: Upgrade typescript and some other deps to match the versions used in `asset-swapper` [TKR-484] (#908)
  package.json
  src/utils/rfq_dyanmic_blacklist.ts
  yarn.lock
Owners: none

Rename Balancer pool cache files
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/balancer_pools_cache.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/balancer_v2_pools_cache.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/balancer_v2_swap_info_cache.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/cream_pools_cache.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @dekz, @dextracker, @kyu-c

Rename Balancer pool cache files (#536)
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/balancer_pools_cache.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/balancer_v2_pools_cache.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/balancer_v2_swap_info_cache.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/cream_pools_cache.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @dekz, @dextracker, @kyu-c

v6.18.0
  packages/contract-addresses/package.json
Owners: @dekz, @dextracker, @kyu-c

updated addresses for goerli + mumbai to verified contracts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

contract addresses changelog update
  packages/contract-addresses/CHANGELOG.json
Owners: @dekz, @dextracker, @kyu-c

unbump package version
  packages/contract-addresses/package.json
Owners: @dekz, @dextracker, @kyu-c

new contract address for goerli verified deploy (#537)
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dekz, @dextracker, @kyu-c

Updated CHANGELOGS & MD docs
  contracts/erc20/CHANGELOG.json
  contracts/erc20/CHANGELOG.md
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/CHANGELOG.md
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/utils/CHANGELOG.json
  contracts/utils/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.md
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
  yarn.lock
Owners: @dekz, @dextracker, @kyu-c

Publish
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers/package.json
  packages/protocol-utils/package.json
Owners: @dekz, @dextracker, @kyu-c

Upgrade ts-node to fix an issue introduced in typescript version upgrade (#911)
  package.json
  yarn.lock
Owners: none

Upgrade `fast-abi`
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/package.json
  yarn.lock
Owners: @dekz, @dextracker, @kyu-c

Upgrade `fast-abi` (#538)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/package.json
  yarn.lock
Owners: @dekz, @dextracker, @kyu-c

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @dekz, @dextracker, @kyu-c

Publish
  packages/asset-swapper/package.json
Owners: @dekz, @dextracker, @kyu-c

Clean up Mirror and UST related stuff
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @dekz, @dextracker, @kyu-c

Clean up Mirror and UST related stuff (#539)
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @dekz, @dextracker, @kyu-c

chore: Use node v16 in ci-build.yml [TKR-484] (#913)
  .github/workflows/ci-build.yml
  package.json
  yarn.lock
Owners: none

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/

# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file

# https://git-scm.com/docs/gitignore#_pattern_format

packages/asset-swapper/ @dekz @dextracker @kyu-c

# Dev tools & setup

.circleci/ @dekz
packages/contract-addresses/ @dekz @dextracker @kyu-c
packages/contract-artifacts/ @dekz
packages/protocol-utils/ @dekz

# Protocol/smart contracts

contracts/ @dekz @dextracker
