Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

feat: Clipper (#299)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeProtocols.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinClipper.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/src/transformer_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Publish
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
  packages/protocol-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: Clipper (#706)
  package.json
  yarn.lock
Owners: none

Add treasury address to contract-addresses
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/migrations/src/migration.ts
Owners: @dorothy-zbornak, @mzhu25

Update changelogs
  packages/contract-addresses/CHANGELOG.json
  packages/migrations/CHANGELOG.json
Owners: @dorothy-zbornak, @mzhu25

Add treasury address to contract-addresses (#301)
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/migrations/CHANGELOG.json
  packages/migrations/src/migration.ts
Owners: @dorothy-zbornak, @mzhu25

Update TransformERC20Feature
  contracts/zero-ex/contracts/src/features/TransformERC20Feature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

feat: AaveV2 deposit/withdrawal integration WIP
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAaveV2.sol
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/contracts/src/AaveV2Sampler.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

feat: add basic Aave Reserves cache with data from subgraphs WIP
  packages/asset-swapper/src/utils/market_operation_utils/aave_reserves_cache.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: hook up Aave Reserves integration
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeProtocols.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: set allowance before trade & use ERC20 token interface
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAaveV2.sol
  packages/asset-swapper/contracts/src/AaveV2Sampler.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

refactor: pass aToken to mixin to avoid lookup
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAaveV2.sol
  packages/asset-swapper/contracts/src/AaveV2Sampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: migrate from swap/revert to normal sampling
  packages/asset-swapper/contracts/src/AaveV2Sampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: Aave gas estimate & refactor to clean up code
  packages/asset-swapper/src/utils/market_operation_utils/aave_reserves_cache.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: Create a sampler no operation type and make AaveV2Sampler a no-op
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAaveV2.sol
  packages/asset-swapper/contracts/src/AaveV2Sampler.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/noop_samplers/AaveV2Sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_no_operation.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: Clipper merge conflict resolution issues
  contracts/zero-ex/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix: don't fetch unnecessary Aave pool data & clean up code
  packages/asset-swapper/src/utils/market_operation_utils/aave_reserves_cache.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_no_operation.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: Add changelog entries
  contracts/zero-ex/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

chore: add better logging around transaction submission (#708)
  src/services/rfqm_service.ts
Owners: none

Add ethers dependency to erc20 package
  contracts/erc20/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Update TransformERC20Feature (#303)
  contracts/zero-ex/contracts/src/features/TransformERC20Feature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Update publishing information
  contracts/erc20/CHANGELOG.json
  contracts/erc20/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix: Add ethers dependency to `0x/contracts-erc20` (#305)
  contracts/erc20/CHANGELOG.json
  contracts/erc20/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Publish
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
  packages/protocol-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Refactor Multiplex into multiple files
  contracts/zero-ex/contracts/src/features/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IMultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexLiquidityProvider.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexRfq.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexTransformERC20.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexUniswapV2.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Pull UniswapV3 into separate file
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexUniswapV3.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Expose onlySelf variant in UniswapV3Feature for Multiplex
  contracts/zero-ex/contracts/src/features/UniswapV3Feature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IUniswapV3Feature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexUniswapV3.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Comments and renaming
  contracts/zero-ex/contracts/src/features/interfaces/IMultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/ITransformERC20Feature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexLiquidityProvider.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexRfq.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexTransformERC20.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexUniswapV2.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexUniswapV3.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersSettlement.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add useSelfBalance and recipient to _transformERC20
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/features/TransformERC20Feature.sol
  contracts/zero-ex/contracts/src/features/interfaces/ITransformERC20Feature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexLiquidityProvider.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexRfq.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexTransformERC20.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add useSelfBalance and recipient to _fillRfqOrder
  contracts/zero-ex/contracts/src/features/BatchFillNativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexRfq.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersSettlement.sol
  contracts/zero-ex/contracts/test/TestMetaTransactionsNativeOrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add support for proportional fill amounts in batchSell
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add support for multihop nested within batch sell
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Unit tests
  contracts/test-utils/src/log_utils.ts
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
  contracts/zero-ex/contracts/test/TestLiquidityProvider.sol
  contracts/zero-ex/contracts/test/TestMintableERC20Token.sol
  contracts/zero-ex/contracts/test/TestUniswapV2Factory.sol
  contracts/zero-ex/contracts/test/TestUniswapV2Pool.sol
  contracts/zero-ex/contracts/test/TestWeth.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/liquidity_provider_test.ts
  contracts/zero-ex/test/features/meta_transactions_test.ts
  contracts/zero-ex/test/features/multiplex_test.ts
  contracts/zero-ex/test/features/transform_erc20_test.ts
  contracts/zero-ex/test/full_migration_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/protocol-utils/src/multiplex_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Swallow reverts for LiquidityProvider and UniswapV2 batch sells
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexLiquidityProvider.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexUniswapV2.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Rename taker -> recipient in TransformContext and SettleOrderInfo
  contracts/zero-ex/contracts/src/features/TransformERC20Feature.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersSettlement.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/transformers/IERC20Transformer.sol
  contracts/zero-ex/contracts/src/transformers/LogMetadataTransformer.sol
  contracts/zero-ex/contracts/src/transformers/PayTakerTransformer.sol
  contracts/zero-ex/contracts/test/TestFillQuoteTransformerHost.sol
  contracts/zero-ex/contracts/test/TestMintTokenERC20Transformer.sol
  contracts/zero-ex/contracts/test/TestWethTransformerHost.sol
  contracts/zero-ex/test/transformers/affiliate_fee_transformer_test.ts
  contracts/zero-ex/test/transformers/pay_taker_transformer_test.ts
  contracts/zero-ex/test/transformers/positive_slippage_fee_transformer_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Check didSucceed in _callWithOptionalBooleanResult
  contracts/erc20/contracts/src/v06/LibERC20TokenV06.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Address spot-check findings (#279)
  contracts/erc20/contracts/src/v06/LibERC20TokenV06.sol
  contracts/treasury/contracts/src/DefaultPoolOperator.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexLiquidityProvider.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexUniswapV2.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

lint
  contracts/zero-ex/test/features/multiplex_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Use caps for immutables
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexLiquidityProvider.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Address nits
  contracts/zero-ex/contracts/src/features/UniswapV3Feature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IUniswapV3Feature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexUniswapV3.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25
