Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

feat: IronSwap, prettier
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Add useSelfBalance and recipient to _fillRfqOrder
  contracts/zero-ex/contracts/src/features/BatchFillNativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexRfq.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersSettlement.sol
  contracts/zero-ex/contracts/test/TestMetaTransactionsNativeOrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Unit tests
  contracts/test-utils/src/log_utils.ts
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
  contracts/zero-ex/contracts/test/TestLiquidityProvider.sol
  contracts/zero-ex/contracts/test/TestMintableERC20Token.sol
  contracts/zero-ex/contracts/test/TestUniswapV2Factory.sol
  contracts/zero-ex/contracts/test/TestUniswapV2Pool.sol
  contracts/zero-ex/contracts/test/TestWeth.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/liquidity_provider_test.ts
  contracts/zero-ex/test/features/meta_transactions_test.ts
  contracts/zero-ex/test/features/multiplex_test.ts
  contracts/zero-ex/test/features/transform_erc20_test.ts
  contracts/zero-ex/test/full_migration_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/protocol-utils/src/multiplex_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Address nits
  contracts/zero-ex/contracts/src/features/UniswapV3Feature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IUniswapV3Feature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexUniswapV3.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add useSelfBalance and recipient to _transformERC20
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/features/TransformERC20Feature.sol
  contracts/zero-ex/contracts/src/features/interfaces/ITransformERC20Feature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexLiquidityProvider.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexRfq.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexTransformERC20.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Check didSucceed in _callWithOptionalBooleanResult
  contracts/erc20/contracts/src/v06/LibERC20TokenV06.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

lint
  contracts/zero-ex/test/features/multiplex_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Expose onlySelf variant in UniswapV3Feature for Multiplex
  contracts/zero-ex/contracts/src/features/UniswapV3Feature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IUniswapV3Feature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexUniswapV3.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Address spot-check findings (#279)
  contracts/erc20/contracts/src/v06/LibERC20TokenV06.sol
  contracts/treasury/contracts/src/DefaultPoolOperator.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexLiquidityProvider.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexUniswapV2.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add support for multihop nested within batch sell
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add support for proportional fill amounts in batchSell
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Swallow reverts for LiquidityProvider and UniswapV2 batch sells
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexLiquidityProvider.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexUniswapV2.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Comments and renaming
  contracts/zero-ex/contracts/src/features/interfaces/IMultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/ITransformERC20Feature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexLiquidityProvider.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexRfq.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexTransformERC20.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexUniswapV2.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexUniswapV3.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersSettlement.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Use caps for immutables
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexLiquidityProvider.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Pull UniswapV3 into separate file
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexUniswapV3.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Rename taker -> recipient in TransformContext and SettleOrderInfo
  contracts/zero-ex/contracts/src/features/TransformERC20Feature.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersSettlement.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/transformers/IERC20Transformer.sol
  contracts/zero-ex/contracts/src/transformers/LogMetadataTransformer.sol
  contracts/zero-ex/contracts/src/transformers/PayTakerTransformer.sol
  contracts/zero-ex/contracts/test/TestFillQuoteTransformerHost.sol
  contracts/zero-ex/contracts/test/TestMintTokenERC20Transformer.sol
  contracts/zero-ex/contracts/test/TestWethTransformerHost.sol
  contracts/zero-ex/test/transformers/affiliate_fee_transformer_test.ts
  contracts/zero-ex/test/transformers/pay_taker_transformer_test.ts
  contracts/zero-ex/test/transformers/positive_slippage_fee_transformer_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Refactor Multiplex into multiple files
  contracts/zero-ex/contracts/src/features/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IMultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexLiquidityProvider.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexRfq.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexTransformERC20.sol
  contracts/zero-ex/contracts/src/features/multiplex/MultiplexUniswapV2.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

feat: Saddle alETH, D4 pools
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: IronSwap (#281)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: Saddle alETH, D4 pools (#283)
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  contracts/integrations/package.json
  packages/asset-swapper/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: IronFinance, Saddle: alETH, D4 pools (#691)
  package.json
  yarn.lock
Owners: none

hack: try to debug why rust router output is being overestimated WIP
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: Create integrators acl schema (#690)
  src/schemas/index.ts
  src/schemas/integrator_acl_schema.json
  src/schemas/integrators_acl_schema.json
Owners: none

feat: Add config logic to consume INTEGRATORS_ACL (#693)
  .env_example
  src/config.ts
  src/handlers/swap_handlers.ts
  test/config_test.ts
  test/parse_utils_test.ts
  test/test_env
Owners: none

feat: increase rfqm gas estimates for certain tokens (#692)
  src/services/rfqm_service.ts
  src/utils/rfqm_gas_estimate_utils.ts
  test/utils/rfqm_gas_estimate_utils_test.ts
Owners: none

feat: StableSwap
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Rename StableSwap to ACryptoS
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updating CHANGELOG
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: Use integrator ID for logs and to send to market makers (#694)
  src/handlers/rfqm_handlers.ts
  src/handlers/swap_handlers.ts
  src/services/rfqm_service.ts
  src/services/swap_service.ts
  src/types.ts
  src/utils/config_manager.ts
  test/rfqm_test.ts
  test/services/rfqm_service_test.ts
Owners: none

tune gas estimate
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: ACryptoS StableSwap (#284)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

AS: Less ambiguous EP overhead [TKR-166] (#268)
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/comparison_price.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/path.ts
  packages/asset-swapper/src/utils/market_operation_utils/rate_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/asset-swapper`: Rebase and fix type errors
  packages/asset-swapper/src/network/source_sampler.ts
  packages/asset-swapper/src/network/tokens.ts
  packages/asset-swapper/src/network/types.ts
  packages/asset-swapper/src/network/utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/test/path_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

changelog
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/asset-swapper`: Speed things up
  packages/asset-swapper/src/network/chain.ts
  packages/asset-swapper/src/network/utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/path.ts
  packages/asset-swapper/tslint.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/asset-swapper`: use fastABI for dispatcher contract
  packages/asset-swapper/src/network/chain.ts
  packages/asset-swapper/src/network/fast_abi.ts
  packages/asset-swapper/src/network/types.ts
  packages/asset-swapper/src/network/utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/asset-swapper`: Prettier
  packages/asset-swapper/src/network/chain.ts
  packages/asset-swapper/src/network/samplers/utils/pools_cache.ts
  packages/asset-swapper/src/network/sassy_sampler.ts
  packages/asset-swapper/src/network/source_sampler.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/asset-swapper`: enable CI compiler hack
  packages/asset-swapper/contracts/src/BancorSampler.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25
