Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25

`@0x/contracts-zero-ex`: Update changelog
  contracts/zero-ex/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

rebase and update changelog
  contracts/zero-ex/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Change bloom filter hash algo based on discussions
  contracts/zero-ex/contracts/src/features/UniswapFeature.sol
  contracts/zero-ex/contracts/src/fixins/FixinTokenSpender.sol
  contracts/zero-ex/src/bloom_filter_utils.ts
  contracts/zero-ex/src/index.ts
  contracts/zero-ex/test/fixin_token_spender_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Fix changelog
  contracts/zero-ex/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

protocol fee / staking integration tests (#40)
  contracts/.solhint.json
  contracts/integrations/contracts/test/TestFixinProtocolFeesIntegration.sol
  contracts/integrations/contracts/test/TestStaking.sol
  contracts/integrations/contracts/test/TestWethIntegration.sol
  contracts/integrations/package.json
  contracts/integrations/test/artifacts.ts
  contracts/integrations/test/wrappers.ts
  contracts/integrations/test/zero-ex/protocol_fees_staking_test.ts
  contracts/integrations/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

update orders docs
  docs/basics/orders.rst
Owners: none

FIXES upgrade to use create-pull-request v3 due to v2 not supported (#426)
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Owners: none

`@0x/contracts-zero-ex`: revert if allowance call fails in uniswap feature
  contracts/zero-ex/contracts/src/features/UniswapFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

EP: misc fixes (#38)
  contracts/.solhint.json
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/ZeroEx.sol
  contracts/zero-ex/contracts/src/ZeroExOptimized.sol
  contracts/zero-ex/contracts/src/features/ISimpleFunctionRegistryFeature.sol
  contracts/zero-ex/contracts/src/features/LiquidityProviderFeature.sol
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/SimpleFunctionRegistryFeature.sol
  contracts/zero-ex/contracts/src/features/TransformERC20Feature.sol
  contracts/zero-ex/contracts/src/features/UniswapFeature.sol
  contracts/zero-ex/contracts/src/fixins/FixinProtocolFees.sol
  contracts/zero-ex/contracts/src/fixins/FixinTokenSpender.sol
  contracts/zero-ex/contracts/test/TestFixinTokenSpender.sol
  contracts/zero-ex/contracts/test/TestInitialMigration.sol
  contracts/zero-ex/contracts/test/TestMetaTransactionsTransformERC20Feature.sol
  contracts/zero-ex/contracts/test/TestMintableERC20Token.sol
  contracts/zero-ex/contracts/test/TestNativeOrdersFeature.sol
  contracts/zero-ex/contracts/test/TestTokenSpenderERC20Token.sol
  contracts/zero-ex/contracts/test/TestTransformERC20.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/src/bloom_filter_utils.ts
  contracts/zero-ex/src/constants.ts
  contracts/zero-ex/src/index.ts
  contracts/zero-ex/src/migration.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/liquidity_provider_test.ts
  contracts/zero-ex/test/features/native_orders_feature_test.ts
  contracts/zero-ex/test/features/simple_function_registry_test.ts
  contracts/zero-ex/test/features/transform_erc20_test.ts
  contracts/zero-ex/test/fixin_token_spender_test.ts
  contracts/zero-ex/test/full_migration_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/test/zero_ex_test.ts
  contracts/zero-ex/tsconfig.json
  docs/basics/orders.rst
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Allow injection of an RfqtFirmQuoteValidator and an RfqtQuoteObserver (#11)
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Convert MetaTransactionsFeature to use the new LibSignature
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CHANGELOG
  contracts/zero-ex/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

tslint
  contracts/zero-ex/test/features/meta_transactions_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

refactor MetaTransactionsFeature to unpack signatures early and pass around ExecuteStates
  contracts/zero-ex/contracts/src/features/IMetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
  contracts/zero-ex/test/features/meta_transactions_test.ts
  contracts/zero-ex/test/full_migration_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

pick up @dorothy-zbornak fix for enums in fake data
  contracts/zero-ex/test/full_migration_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

change top-level meta-transaction calls to use LibSignature.Signature
  contracts/zero-ex/contracts/src/features/IMetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
  contracts/zero-ex/contracts/test/TestMetaTransactionsTransformERC20Feature.sol
  contracts/zero-ex/test/features/meta_transactions_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix integrations mtx tests, clean up types in zero-ex mtx tests
  contracts/integrations/test/exchange-proxy/mtx_test.ts
  contracts/zero-ex/test/features/meta_transactions_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

lint
  contracts/zero-ex/test/features/meta_transactions_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Convert MetaTransactionsFeature to use the new LibSignature (#31)
  contracts/integrations/test/exchange-proxy/mtx_test.ts
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/IMetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
  contracts/zero-ex/contracts/test/TestMetaTransactionsTransformERC20Feature.sol
  contracts/zero-ex/test/features/meta_transactions_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Convert MetaTransactionsFeature to use the new LibSignature
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

refactor MetaTransactionsFeature to unpack signatures early and pass around ExecuteStates
  contracts/zero-ex/contracts/src/features/IMetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
  contracts/zero-ex/test/full_migration_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

pick up @dorothy-zbornak fix for enums in fake data
  contracts/zero-ex/test/full_migration_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix integrations mtx tests, clean up types in zero-ex mtx tests
  contracts/zero-ex/test/features/meta_transactions_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

lint
  contracts/zero-ex/test/features/meta_transactions_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

add support for limit order metatransactions
  contracts/zero-ex/contracts/src/features/IMetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/libs/LibSignature.sol
  contracts/zero-ex/contracts/test/TestMetaTransactionsNativeOrdersFeature.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/meta_transactions_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

prettier
  contracts/zero-ex/test/features/meta_transactions_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CHANGELOG
  contracts/zero-ex/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

PR feedback
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
  contracts/zero-ex/contracts/test/TestMetaTransactionsNativeOrdersFeature.sol
  contracts/zero-ex/test/features/meta_transactions_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Exported MakerBalanceChainCache, renamed to confirm to other entities, added to ormconfig (#428)
  src/entities/MakerBalanceChainCacheEntity.ts
  src/entities/index.ts
  src/ormconfig.ts
Owners: none

limit order metatransactions (#44)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/libs/LibSignature.sol
  contracts/zero-ex/contracts/test/TestMetaTransactionsNativeOrdersFeature.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/meta_transactions_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix: convert query param from string to boolean (#430)
  src/handlers/sra_handlers.ts
  src/services/orderbook_service.ts
  src/types.ts
  test/orderbook_service_test.ts
Owners: none

block scope for storage to manage stack congestion
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

require txOrigin for RFQ orders, allow origins to register alternate addresses that can fill orders
  contracts/zero-ex/contracts/src/features/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/storage/LibNativeOrdersStorage.sol
  contracts/zero-ex/test/features/native_orders_feature_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

add OriginAllowed event
  contracts/zero-ex/contracts/src/features/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/test/features/native_orders_feature_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

prettier
  contracts/zero-ex/test/features/native_orders_feature_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CHANGELOG
  contracts/zero-ex/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

more explicit function/event naming
  contracts/zero-ex/contracts/src/features/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/test/features/native_orders_feature_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

require txOrigin for RFQ orders, allow origins to register alternate … (#47)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/storage/LibNativeOrdersStorage.sol
  contracts/zero-ex/test/features/native_orders_feature_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Fix `TransformERC20Feature` reverting when selling taker's entire balance when input token is ETH
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/TransformERC20Feature.sol
  contracts/zero-ex/contracts/test/TestMintTokenERC20Transformer.sol
  contracts/zero-ex/test/features/transform_erc20_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Fix `TransformERC20Feature` reverting when selling taker's entire balance when input token is ETH (#46)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/TransformERC20Feature.sol
  contracts/zero-ex/contracts/test/TestMintTokenERC20Transformer.sol
  contracts/zero-ex/test/features/transform_erc20_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25
