Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

feat: add proxy configuration to axios instance in RFQT asset-swapper (#159)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/package.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Update contracts/zero-ex/contracts/src/features/IPancakeSwapFeature.sol
  contracts/zero-ex/contracts/src/features/IPancakeSwapFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

feat: Better chain support
  packages/asset-swapper/contracts/src/BalancerSampler.sol
  packages/asset-swapper/contracts/src/BancorSampler.sol
  packages/asset-swapper/contracts/src/CurveSampler.sol
  packages/asset-swapper/contracts/src/DODOSampler.sol
  packages/asset-swapper/contracts/src/DODOV2Sampler.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/Eth2DaiSampler.sol
  packages/asset-swapper/contracts/src/KyberSampler.sol
  packages/asset-swapper/contracts/src/LiquidityProviderSampler.sol
  packages/asset-swapper/contracts/src/MStableSampler.sol
  packages/asset-swapper/contracts/src/MooniswapSampler.sol
  packages/asset-swapper/contracts/src/ShellSampler.sol
  packages/asset-swapper/contracts/src/SushiSwapSampler.sol
  packages/asset-swapper/contracts/src/UniswapSampler.sol
  packages/asset-swapper/contracts/src/UniswapV2Sampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/shell_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/utils/test_helpers.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Make the proposal/quorum thresholds updatable
  contracts/treasury/CHANGELOG.json
  contracts/treasury/contracts/src/IZrxTreasury.sol
  contracts/treasury/contracts/src/ZrxTreasury.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Test threshold updating
  contracts/treasury/test/treasury_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Add sushiswap support to PancakeSwap
  contracts/zero-ex/contracts/src/IZeroEx.sol
  contracts/zero-ex/contracts/src/features/IPancakeSwapFeature.sol
  contracts/zero-ex/contracts/src/features/PancakeSwapFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contract-artifacts`: Regenerate artifacts `@0x/contract-wrappers`: Regenerate wrappers
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/IZeroEx.json
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/generated-wrappers/i_zero_ex.ts
Owners: @dorothy-zbornak, @mzhu25

proliferate the chainId
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/dex_sampler_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/contract-addresses`: Add BSC addresses
  packages/contract-addresses/addresses.json
Owners: @dorothy-zbornak, @mzhu25

Refactor sampler to remove DeploymentConstants dependency and fixed addresses
  packages/asset-swapper/contracts/src/BancorSampler.sol
  packages/asset-swapper/contracts/src/DODOSampler.sol
  packages/asset-swapper/contracts/src/DeploymentConstants.sol
  packages/asset-swapper/contracts/src/Eth2DaiSampler.sol
  packages/asset-swapper/contracts/src/KyberSampler.sol
  packages/asset-swapper/contracts/src/MStableSampler.sol
  packages/asset-swapper/contracts/test/TestERC20BridgeSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/contracts/bridge_sampler_mainnet_test.ts
  packages/asset-swapper/test/contracts/erc20_bridge_sampler_test.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/utils/mock_sampler_contract.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

FIXES lowercase order data received from Mesh (#499)
  src/middleware/address_normalizer.ts
  src/utils/address_utils.ts
  src/utils/mesh_utils.ts
Owners: none

chore: bump Mesh versions (#500)
  docker-compose.yml
  package.json
  yarn.lock
Owners: none

Make the proposal/quorum thresholds updatable (#165)
  contracts/treasury/CHANGELOG.json
  contracts/treasury/contracts/src/IZrxTreasury.sol
  contracts/treasury/contracts/src/ZrxTreasury.sol
  contracts/treasury/test/treasury_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

downgraded axios to 0.19.2
  packages/asset-swapper/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: stop treating 0 as undefined (#502)
  src/handlers/swap_handlers.ts
Owners: none

Rework WETH out, replacing with address(0)
  packages/asset-swapper/contracts/src/BancorSampler.sol
  packages/asset-swapper/contracts/src/DODOSampler.sol
  packages/asset-swapper/contracts/src/DODOV2Sampler.sol
  packages/asset-swapper/contracts/src/DeploymentConstants.sol
  packages/asset-swapper/contracts/src/Eth2DaiSampler.sol
  packages/asset-swapper/contracts/src/KyberSampler.sol
  packages/asset-swapper/contracts/src/MStableSampler.sol
  packages/asset-swapper/contracts/src/MooniswapSampler.sol
  packages/asset-swapper/contracts/src/ShellSampler.sol
  packages/asset-swapper/contracts/src/UniswapSampler.sol
  packages/asset-swapper/contracts/src/UniswapV2Sampler.sol
  packages/asset-swapper/contracts/test/TestERC20BridgeSampler.sol
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/contracts/erc20_bridge_sampler_test.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/utils/mock_sampler_contract.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

wat
  packages/asset-swapper/contracts/src/BancorSampler.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

hack DeploymentConstants for now
  packages/asset-swapper/contracts/src/BancorSampler.sol
  packages/asset-swapper/contracts/src/DeploymentConstants.sol
  packages/asset-swapper/contracts/test/TestERC20BridgeSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Rename WrapperFillFeature => MultiplexFeature and add natspec comments
  contracts/zero-ex/contracts/src/features/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IMultiplexFeature.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

lint
  contracts/zero-ex/test/features/multiplex_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Addres PR feedback
  contracts/zero-ex/contracts/src/errors/LibNativeOrdersRichErrors.sol
  contracts/zero-ex/contracts/src/features/BatchFillNativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IMultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/libs/LibNativeOrder.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersProtocolFees.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersSettlement.sol
  contracts/zero-ex/contracts/src/migrations/FullMigration.sol
  contracts/zero-ex/contracts/test/TestMetaTransactionsNativeOrdersFeature.sol
  contracts/zero-ex/contracts/test/TestNativeOrdersFeature.sol
  contracts/zero-ex/test/artifacts.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add tests for batch fill functions
  contracts/zero-ex/contracts/src/features/BatchFillNativeOrdersFeature.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/test/features/batch_fill_native_orders_test.ts
  contracts/zero-ex/test/features/native_orders_feature_test.ts
  contracts/zero-ex/test/utils/orders.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

post-rebase fixes
  contracts/zero-ex/contracts/src/features/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/ILiquidityProviderFeature.sol
  contracts/zero-ex/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add events
  contracts/zero-ex/contracts/src/features/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IMultiplexFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Address spot-check recommendations
  contracts/zero-ex/contracts/src/features/MultiplexFeature.sol
  contracts/zero-ex/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add BatchFillNativeOrdersFeature
  contracts/zero-ex/contracts/src/IZeroEx.sol
  contracts/zero-ex/contracts/src/errors/LibNativeOrdersRichErrors.sol
  contracts/zero-ex/contracts/src/features/BatchFillNativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/WrapperFillFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IBatchFillNativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/test/TestMigrator.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Address internal feedback
  contracts/zero-ex/contracts/src/features/WrapperFillFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Rename mixins to use NativeOrders namespace
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersCancellation.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersInfo.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersProtocolFees.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersSettlement.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Update some comments
  contracts/zero-ex/contracts/src/features/MultiplexFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Emit LiquidityProviderSwap event
  contracts/zero-ex/contracts/src/features/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IMultiplexFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Remove market functions
  contracts/zero-ex/contracts/src/errors/LibNativeOrdersRichErrors.sol
  contracts/zero-ex/contracts/src/features/BatchFillNativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IBatchFillNativeOrdersFeature.sol
  contracts/zero-ex/test/features/batch_fill_native_orders_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Use call{value: amount}() instead of transfer(amount)
  contracts/zero-ex/contracts/src/features/MultiplexFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Remove nested _batchFill calls from _multiHopFill
  contracts/zero-ex/contracts/src/features/MultiplexFeature.sol
  contracts/zero-ex/test/features/multiplex_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Multiplex mainnet fork tests
  contracts/erc20/src/index.ts
  contracts/zero-ex/contracts/src/features/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/vendor/IUniswapV2Pair.sol
  contracts/zero-ex/test/features/multiplex_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Split NativeOrdersFeature into mixins
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/INativeOrdersEvents.sol
  contracts/zero-ex/contracts/src/features/interfaces/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/native_orders/MixinCancellation.sol
  contracts/zero-ex/contracts/src/features/native_orders/MixinOrderInfo.sol
  contracts/zero-ex/contracts/src/features/native_orders/MixinProtocolFees.sol
  contracts/zero-ex/contracts/src/features/native_orders/MixinSettlement.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/migrations/FullMigration.sol
  contracts/zero-ex/contracts/test/TestMetaTransactionsNativeOrdersFeature.sol
  contracts/zero-ex/contracts/test/TestNativeOrdersFeature.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add BatchFillIncompleteRevertError type
  contracts/zero-ex/test/features/batch_fill_native_orders_test.ts
  packages/protocol-utils/src/revert-errors/native_orders.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Remove outdated comment
  contracts/zero-ex/contracts/src/features/interfaces/IMultiplexFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Remove-top level events, add ExpiredRfqOrder event
  contracts/zero-ex/contracts/src/features/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IMultiplexFeature.sol
  contracts/zero-ex/test/features/multiplex_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

create features/interfaces/ directory
  contracts/zero-ex/contracts/src/IZeroEx.sol
  contracts/zero-ex/contracts/src/features/BootstrapFeature.sol
  contracts/zero-ex/contracts/src/features/LiquidityProviderFeature.sol
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/OwnableFeature.sol
  contracts/zero-ex/contracts/src/features/SimpleFunctionRegistryFeature.sol
  contracts/zero-ex/contracts/src/features/TokenSpenderFeature.sol
  contracts/zero-ex/contracts/src/features/TransformERC20Feature.sol
  contracts/zero-ex/contracts/src/features/UniswapFeature.sol
  contracts/zero-ex/contracts/src/features/WrapperFillFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IBootstrapFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/ILiquidityProviderFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IMetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IOwnableFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/ISimpleFunctionRegistryFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/ITokenSpenderFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/ITransformERC20Feature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IUniswapFeature.sol
  contracts/zero-ex/contracts/src/fixins/FixinCommon.sol
  contracts/zero-ex/contracts/src/fixins/FixinTokenSpender.sol
  contracts/zero-ex/contracts/src/migrations/FullMigration.sol
  contracts/zero-ex/contracts/src/migrations/InitialMigration.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/test/TestInitialMigration.sol
  contracts/zero-ex/contracts/test/TestMetaTransactionsNativeOrdersFeature.sol
  contracts/zero-ex/contracts/test/TestMetaTransactionsTransformERC20Feature.sol
  contracts/zero-ex/contracts/test/TestRfqOriginRegistration.sol
  contracts/zero-ex/test/artifacts.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

WrappedFillFeature
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/TransformERC20Feature.sol
  contracts/zero-ex/contracts/src/features/UniswapFeature.sol
  contracts/zero-ex/contracts/src/features/WrapperFillFeature.sol
  contracts/zero-ex/contracts/src/vendor/IUniswapV2Pair.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25
