Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25

chore: add PancakeSwap V2 changelog entry
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: Fix feeType=positive_slippage logic to not force the EP route
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/quote_consumer_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

refactor to use txOriginNonce field
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/libs/LibNativeOrder.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersInfo.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersSettlement.sol
  contracts/zero-ex/contracts/src/storage/LibNativeOrdersStorage.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/native_orders_feature_test.ts
  contracts/zero-ex/test/utils/orders.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/protocol-utils/src/orders.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

remove unused test contract
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/native_orders_feature_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix: yarn prettier
  packages/asset-swapper/src/quote_consumers/quote_consumer_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: feeType=positive_slippage logic [TKR-81] (#209)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/quote_consumer_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

add registerAllowedSigner to NativeOrdersFeature (#195)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/errors/LibNativeOrdersRichErrors.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/INativeOrdersEvents.sol
  contracts/zero-ex/contracts/src/features/interfaces/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersCancellation.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersInfo.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersSettlement.sol
  contracts/zero-ex/contracts/src/storage/LibNativeOrdersStorage.sol
  contracts/zero-ex/contracts/test/TestOrderSignerRegistryWithContractWallet.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/native_orders_feature_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  docs/basics/events.rst
  docs/basics/functions.rst
  docs/basics/orders.rst
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/src/orders.ts
  packages/protocol-utils/src/revert-errors/native_orders.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

feat: PancakeSwap 2 integration [TKR-83] (#211)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
  packages/migrations/CHANGELOG.json
  packages/migrations/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Publish
  contracts/integrations/package.json
  contracts/treasury/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-wrappers-test/package.json
  packages/migrations/package.json
  packages/protocol-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

chore: bump AS for PancakeSwapV2 (#553)
  package.json
  yarn.lock
Owners: none

bump version to 1.2
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

update changelog
  contracts/zero-ex/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix: pools_cache_tests incorrect token addresses, prettier incompat
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/balancer_v2_utils.ts
  packages/asset-swapper/test/pools_cache_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

bump NativeOrdersFeature version to 1.2 (#213)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

chore: popular BSC Uniswap clones, Curve gas schedule update, Saddle BTC pool
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/PancakeSwapFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IPancakeSwapFeature.sol
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: make ERC20BridgeSampler support BalancerV2 non view sampler fns
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

chore: adding PancakeSwapV2 VIP
  contracts/zero-ex/contracts/src/features/PancakeSwapFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IPancakeSwapFeature.sol
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: yarn prettier
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Use ASSET_SWAPPER_MARKET_ORDERS_OPTS_NO_VIP if shouldSellEntireBalance (#555)
  src/services/swap_service.ts
Owners: none

feat: add RfqmService, implement fetching indicative RFQM quotes [MKR-29] (#550)
  package.json
  src/config.ts
  src/constants.ts
  src/services/rfqm_service.ts
  test/services/rfqm_service_test.ts
  yarn.lock
Owners: none

feat: add rfqm utils for generating a meta tx [MKR-15] (#536)
  package.json
  src/utils/rfq_blockchain_utils.ts
  test/rfq_blockchain_utils_test.ts
Owners: none

Cull paths which cannot improve price
  packages/asset-swapper/src/utils/market_operation_utils/path.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fixes and rename
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/path.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

optimizations
  packages/asset-swapper/src/utils/market_operation_utils/path.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

disable ABI optimization for sampler
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/package.json
  packages/asset-swapper/src/swap_quoter.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix lint
  packages/asset-swapper/src/utils/market_operation_utils/path.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

use fastabi
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/package.json
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Update to fastabi 0.0.2
  packages/asset-swapper/package.json
  packages/asset-swapper/src/swap_quoter.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Fix NaN case
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

update packages
  yarn.lock
Owners: none

update to published packages
  packages/asset-swapper/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

rebased
  yarn.lock
Owners: none

Update generated wrappers
  packages/asset-swapper/package.json
  packages/contract-wrappers/src/generated-wrappers/broker.ts
  packages/contract-wrappers/src/generated-wrappers/coordinator.ts
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
  packages/contract-wrappers/src/generated-wrappers/erc20_token.ts
  packages/contract-wrappers/src/generated-wrappers/erc721_token.ts
  packages/contract-wrappers/src/generated-wrappers/exchange.ts
  packages/contract-wrappers/src/generated-wrappers/forwarder.ts
  packages/contract-wrappers/src/generated-wrappers/gods_unchained_validator.ts
  packages/contract-wrappers/src/generated-wrappers/i_asset_data.ts
  packages/contract-wrappers/src/generated-wrappers/i_liquidity_provider.ts
  packages/contract-wrappers/src/generated-wrappers/i_transform_erc20.ts
  packages/contract-wrappers/src/generated-wrappers/i_zero_ex.ts
  packages/contract-wrappers/src/generated-wrappers/maximum_gas_price.ts
  packages/contract-wrappers/src/generated-wrappers/staking.ts
  packages/contract-wrappers/src/generated-wrappers/staking_proxy.ts
  packages/contract-wrappers/src/generated-wrappers/weth9.ts
  packages/contract-wrappers/src/index.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: Prune Paths + Fast ABI (#183)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/package.json
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/path.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/contract-wrappers/src/generated-wrappers/broker.ts
  packages/contract-wrappers/src/generated-wrappers/coordinator.ts
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
  packages/contract-wrappers/src/generated-wrappers/erc20_token.ts
  packages/contract-wrappers/src/generated-wrappers/erc721_token.ts
  packages/contract-wrappers/src/generated-wrappers/exchange.ts
  packages/contract-wrappers/src/generated-wrappers/forwarder.ts
  packages/contract-wrappers/src/generated-wrappers/gods_unchained_validator.ts
  packages/contract-wrappers/src/generated-wrappers/i_asset_data.ts
  packages/contract-wrappers/src/generated-wrappers/i_liquidity_provider.ts
  packages/contract-wrappers/src/generated-wrappers/i_transform_erc20.ts
  packages/contract-wrappers/src/generated-wrappers/i_zero_ex.ts
  packages/contract-wrappers/src/generated-wrappers/maximum_gas_price.ts
  packages/contract-wrappers/src/generated-wrappers/staking.ts
  packages/contract-wrappers/src/generated-wrappers/staking_proxy.ts
  packages/contract-wrappers/src/generated-wrappers/weth9.ts
  packages/contract-wrappers/src/index.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-artifacts/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
  packages/protocol-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: pruned paths + fast abi (#546)
  Dockerfile
  package.json
  src/rpc_subprovider.ts
  yarn.lock
Owners: none

fix: use a struct for passing encoded bridge data for Balancer V2
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinBalancerV2.sol
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Fix treasury voting power calculation
  contracts/treasury/contracts/src/IZrxTreasury.sol
  contracts/treasury/contracts/src/ZrxTreasury.sol
  contracts/treasury/test/treasury_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Update changelog
  contracts/treasury/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25
