Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

add test data sampler for rust router
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/src/utils/market_operation_utils/router_test_data_sampler.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

update CHANGELOG
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

export SAMPLE_THRESHOLD from router_test_data_sampler
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/src/utils/market_operation_utils/router_test_data_sampler.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

ugprade tools deps and regenerate wrappers
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  package.json
  packages/asset-swapper/package.json
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/DummyERC20Token.json
  packages/contract-artifacts/artifacts/ERC20Token.json
  packages/contract-artifacts/artifacts/WETH9.json
  packages/contract-artifacts/artifacts/ZRXToken.json
  packages/contract-artifacts/package.json
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/package.json
  packages/contract-wrappers/src/generated-wrappers/broker.ts
  packages/contract-wrappers/src/generated-wrappers/coordinator.ts
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
  packages/contract-wrappers/src/generated-wrappers/erc20_token.ts
  packages/contract-wrappers/src/generated-wrappers/erc721_token.ts
  packages/contract-wrappers/src/generated-wrappers/exchange.ts
  packages/contract-wrappers/src/generated-wrappers/forwarder.ts
  packages/contract-wrappers/src/generated-wrappers/gods_unchained_validator.ts
  packages/contract-wrappers/src/generated-wrappers/i_asset_data.ts
  packages/contract-wrappers/src/generated-wrappers/i_liquidity_provider.ts
  packages/contract-wrappers/src/generated-wrappers/i_transform_erc20.ts
  packages/contract-wrappers/src/generated-wrappers/i_zero_ex.ts
  packages/contract-wrappers/src/generated-wrappers/maximum_gas_price.ts
  packages/contract-wrappers/src/generated-wrappers/staking.ts
  packages/contract-wrappers/src/generated-wrappers/staking_proxy.ts
  packages/contract-wrappers/src/generated-wrappers/weth9.ts
  packages/migrations/package.json
  packages/protocol-utils/package.json
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

ugprade tools deps and regenerate wrappers (#449)
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  package.json
  packages/asset-swapper/package.json
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/DummyERC20Token.json
  packages/contract-artifacts/artifacts/ERC20Token.json
  packages/contract-artifacts/artifacts/WETH9.json
  packages/contract-artifacts/artifacts/ZRXToken.json
  packages/contract-artifacts/package.json
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/package.json
  packages/contract-wrappers/src/generated-wrappers/broker.ts
  packages/contract-wrappers/src/generated-wrappers/coordinator.ts
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
  packages/contract-wrappers/src/generated-wrappers/erc20_token.ts
  packages/contract-wrappers/src/generated-wrappers/erc721_token.ts
  packages/contract-wrappers/src/generated-wrappers/exchange.ts
  packages/contract-wrappers/src/generated-wrappers/forwarder.ts
  packages/contract-wrappers/src/generated-wrappers/gods_unchained_validator.ts
  packages/contract-wrappers/src/generated-wrappers/i_asset_data.ts
  packages/contract-wrappers/src/generated-wrappers/i_liquidity_provider.ts
  packages/contract-wrappers/src/generated-wrappers/i_transform_erc20.ts
  packages/contract-wrappers/src/generated-wrappers/i_zero_ex.ts
  packages/contract-wrappers/src/generated-wrappers/maximum_gas_price.ts
  packages/contract-wrappers/src/generated-wrappers/staking.ts
  packages/contract-wrappers/src/generated-wrappers/staking_proxy.ts
  packages/contract-wrappers/src/generated-wrappers/weth9.ts
  packages/migrations/package.json
  packages/protocol-utils/package.json
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

do not demand multihop prices from non-fee soures
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

continue rebase
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_report_generator.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix gas/overhead evaluation
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/comparison_price.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/path.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/src/utils/market_operation_utils/rate_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fixed multihop buy through multiplex
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

rebasing against development...
  packages/asset-swapper/contracts/src/CompoundSampler.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/KyberDmmSampler.sol
  packages/asset-swapper/contracts/src/UtilitySampler.sol
  packages/asset-swapper/src/noop_samplers/AaveV2Sampler.ts
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_no_operation.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_report_generator.ts
  packages/asset-swapper/src/utils/utils.ts
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

properly handle multihop overhead (I hope)
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

it builds
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

remove debug log
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

rebase
  packages/asset-swapper/package.json
  packages/asset-swapper/src/artifacts.ts
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/src/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

rebase
  packages/asset-swapper/contracts/src/UniswapV3Sampler.sol
  packages/asset-swapper/src/noop_samplers/GeistSampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/aave_reserves_cache.ts
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/compound_ctoken_cache.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/geist_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/liquidity_provider_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Added Stargate curve pool
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fixing routing
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

updating changelog
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

updated routing
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fixed gas estimation and removed hint from intermediate tokens
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

updating changelog
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fixing routing
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fixed gas estimation and removed hint from intermediate tokens
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Added Stargate curve pool
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

updated routing
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Add actual Balancer SDK function calls.
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/balancer_v2_utils_new.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/sgPoolDataService.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

use compatible quotes across different hop legs
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: Fixes To Enable Project To Run With Defaults (#835)
  .env_example
  README.md
  src/config.ts
Owners: none

sampling trouble
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeProtocols.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinGMX.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  package.json
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/GMXSampler.sol
  packages/asset-swapper/contracts/src/interfaces/IGMX.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/src/transformer_utils.ts
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Add Excalibur to Fantom
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: bump ts version to solve type issue with ethereumjs
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-artifacts/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/protocol-utils/package.json
  tsconfig.json
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

CHANGELOG
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: bump ts version to solve type issue with ethereumjs (#455)
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-artifacts/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/protocol-utils/package.json
  tsconfig.json
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: enable rust router for CircleCI tests
  .circleci/config.yml
Owners: @dorothy-zbornak

fix: initially skip all tests that don't work with the Rust router
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: add asset-swapper changelog entry
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: add comments about disabled tests
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: handle invalid output sampels & enable numSamples tests
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: use neon-router in CI tests (#453)
  .circleci/config.yml
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @dorothy-zbornak, @BMillman19, @fragosti, @dave4506, @dekz, @mzhu25

feat: add blockNumber to MarketSideLiquidity response
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/comparison_price_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25
