Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25

add proxy configuration to axios instance
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

docs: update allowances blurb
  docs/basics/allowances.rst
Owners: none

docs: update allowances blurb (#160)
  docs/basics/allowances.rst
Owners: none

add support for additional axios instance opts
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

move quoteRequestorHttpClient parameter
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix tests, build errors
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

prettier
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

get rid of unnecessary promise handling
  packages/asset-swapper/src/utils/alt_mm_implementation_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: Perform gas estimation with a single call (#488)
  src/services/swap_service.ts
  src/utils/utils.ts
Owners: none

bump axios
  packages/asset-swapper/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/asset-swapper`: Drop Y and BUSD curve pools
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/asset-swapper`: Drop Y and BUSD curve pools (#161)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  contracts/integrations/package.json
  packages/asset-swapper/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: Disable Aave Curves (#494)
  package.json
  yarn.lock
Owners: none

`@0x/asset-swapper`: Clean up curve VIP integration
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/asset-swapper`: Fix compiler error on `ILiquidityProvider` call `@0x/protocol-utils`: Add VIP utils.
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Add `MooniswapLiquidityProvider`. `@0x/asset-swapper`: Add Mooniswap "vip" to EP quote consumer.
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/liquidity-providers/MooniswapLiquidityProvider.sol
  contracts/zero-ex/contracts/src/vendor/IMooniswapPool.sol
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

`@0x/asset-swapper`: Fix compilation error
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix linter error
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

rebase and prettier
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

`@0x/asset-swapper`: Add EP gas overhead to Curve and Mooni LP bridge routes
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

review feedback
  contracts/zero-ex/contracts/src/liquidity-providers/MooniswapLiquidityProvider.sol
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

`@0x/contracts-zero-ex`: Add `MooniswapLiquidityProvider` tests.
  contracts/zero-ex/contracts/src/liquidity-providers/MooniswapLiquidityProvider.sol
  contracts/zero-ex/contracts/test/TestMooniswap.sol
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/liqudity-providers/mooniswap_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Emit `LiquidityProviderFill` events in LPs
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/liquidity-providers/CurveLiquidityProvider.sol
  contracts/zero-ex/contracts/src/liquidity-providers/MooniswapLiquidityProvider.sol
  contracts/zero-ex/contracts/src/vendor/ILiquidityProvider.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/test/liqudity-providers/curve_test.ts
  contracts/zero-ex/test/liqudity-providers/mooniswap_test.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/asset-swapper`: Remove consumer gas overhead for LP VIPs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

bumped mock-axios-adapter version
  packages/asset-swapper/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

downgrade axios again
  packages/asset-swapper/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Add more params to `LiquidityProviderFill` event
  contracts/zero-ex/contracts/src/liquidity-providers/CurveLiquidityProvider.sol
  contracts/zero-ex/contracts/src/liquidity-providers/MooniswapLiquidityProvider.sol
  contracts/zero-ex/contracts/src/vendor/ILiquidityProvider.sol
  contracts/zero-ex/test/liqudity-providers/curve_test.ts
  contracts/zero-ex/test/liqudity-providers/mooniswap_test.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

re-upgrade axios :facepalm:
  packages/asset-swapper/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Address review comments.
  contracts/zero-ex/contracts/src/liquidity-providers/MooniswapLiquidityProvider.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/asset-swapper`: Update deployed Curve and Mooni LPs
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Mooniswap LP (#143)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/liquidity-providers/MooniswapLiquidityProvider.sol
  contracts/zero-ex/contracts/src/vendor/ILiquidityProvider.sol
  contracts/zero-ex/contracts/src/vendor/IMooniswapPool.sol
  contracts/zero-ex/contracts/test/TestMooniswap.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/liqudity-providers/curve_test.ts
  contracts/zero-ex/test/liqudity-providers/mooniswap_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

update deps and publish gh action for prerelease support
  .github/workflows/publish.yml
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  package.json
  packages/asset-swapper/package.json
  packages/migrations/package.json
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

`@0x/contracts-zero-ex`: Encode protocol ID and source name in bridge source ID `@0x/asset-swapper`: Use new bridge source ID encoding.
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeProtocols.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeSource.sol
  contracts/zero-ex/contracts/src/transformers/bridges/IBridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinSushiswap.sol
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix linter issues
  contracts/zero-ex/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

`@0x/contracts-zero-ex`: Add PancakeSwapFeature
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/IPancakeSwapFeature.sol
  contracts/zero-ex/contracts/src/features/PancakeSwapFeature.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

updated yarn.lock
  yarn.lock
Owners: none

updated changelog
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: add proxy opts to SwapQuoter (#492)
  Dockerfile
  package.json
  src/config.ts
  src/services/swap_service.ts
  test/docker-compose-test.yml
  test/docker-compose.yml
  test/rfqt_test.ts
  test/utils/deployment.ts
  yarn.lock
Owners: none
