Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25

`@0x/contracts-zero-ex`: Change `ProtocolFeeUnfunded` event in FQT `@0x/contracts-zero-ex`: Use new PLP interface in FQT.
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinShell.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinZeroExBridge.sol
  contracts/zero-ex/contracts/src/vendor/ILiquidityProvider.sol
  contracts/zero-ex/contracts/src/vendor/v3/IExchange.sol
  contracts/zero-ex/contracts/src/vendor/v3/LibOrderHash.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contract-addresses`: Deploy new FQT
  contracts/zero-ex/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix: Prevent symbol look up for arbitrary tokens (#411)
  src/handlers/meta_transaction_handlers.ts
Owners: none

fix failing FQT test
  contracts/zero-ex/contracts/test/TestFillQuoteTransformerExchange.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Deploy new FQT (#28)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinShell.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinZeroExBridge.sol
  contracts/zero-ex/contracts/src/vendor/ILiquidityProvider.sol
  contracts/zero-ex/contracts/src/vendor/v3/IExchange.sol
  contracts/zero-ex/contracts/src/vendor/v3/LibOrderHash.sol
  contracts/zero-ex/contracts/test/TestFillQuoteTransformerExchange.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Publish
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-artifacts/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

`@0x/contract-addresses`: deploy FQT with CORRECT address `@0x/contracts-zero-ex`: Trust `boughtAmount` returned by LP
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinZeroExBridge.sol
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contract-addresses`: deploy FQT with CORRECT address (#29)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinZeroExBridge.sol
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Publish
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

adds amendments to the rollout feature flag. Rollout indicative quotes indipendently from firm quotes.
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

update contract-addresses dep (#413)
  package.json
  yarn.lock
Owners: none

Updates based on Brandon's feedback
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/utils.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

adds amendments to the rollout feature flag. Rollout indicative quote… (#30)
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/utils.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

adds multiple flags for indicative and firm quotes (#414)
  .env_example
  package.json
  src/config.ts
  src/services/swap_service.ts
  yarn.lock
Owners: none

feat: add metaToken attribute to disable metapools for non-metaTokens in Curve
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/curve_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: CHANGELOG
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: adding Curve pools: PAX, hbtc, metapools: gusd, husd, usdn, musd, tbtc
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: bad import
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: curve_y address downcase, use POOLS addresses for names
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: CHANGELOG
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: adding Curve pools: PAX, hBTC, metapools: gUSD, hUSD, USDn, mUSD, tBTC (#26)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/curve_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  contracts/integrations/CHANGELOG.json
  contracts/integrations/CHANGELOG.md
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Publish
  contracts/integrations/package.json
  packages/asset-swapper/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: asset-swapper bump (including Curve metapools) (#415)
  package.json
  yarn.lock
Owners: none

update CHANGELOG
  contracts/zero-ex/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

rewrite ZeroEx in Yul
  contracts/zero-ex/contracts/src/IZeroEx.sol
  contracts/zero-ex/contracts/src/ZeroEx.sol
  contracts/zero-ex/contracts/src/features/ISimpleFunctionRegistryFeature.sol
  contracts/zero-ex/contracts/src/features/SimpleFunctionRegistryFeature.sol
  contracts/zero-ex/contracts/test/TestInitialMigration.sol
  contracts/zero-ex/test/features/simple_function_registry_test.ts
  contracts/zero-ex/test/full_migration_test.ts
  contracts/zero-ex/test/zero_ex_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

remove unused import, capitalize immutable, explicit visibility
  contracts/zero-ex/contracts/src/ZeroEx.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

drop IMMUTABLE_IMPLS_SLOT in favor of clearer code
  contracts/zero-ex/contracts/src/ZeroEx.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

better protocol fee tests
  contracts/zero-ex/test/protocol_fees_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

async stuff
  contracts/zero-ex/test/protocol_fees_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

tslint
  contracts/zero-ex/test/protocol_fees_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

use tooLittle variable
  contracts/zero-ex/test/protocol_fees_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

missed an async thing
  contracts/zero-ex/test/protocol_fees_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

rewrite ZeroEx in Yul (#23)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/IZeroEx.sol
  contracts/zero-ex/contracts/src/ZeroEx.sol
  contracts/zero-ex/contracts/src/features/ISimpleFunctionRegistryFeature.sol
  contracts/zero-ex/contracts/src/features/SimpleFunctionRegistryFeature.sol
  contracts/zero-ex/contracts/test/TestInitialMigration.sol
  contracts/zero-ex/test/features/simple_function_registry_test.ts
  contracts/zero-ex/test/full_migration_test.ts
  contracts/zero-ex/test/zero_ex_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

better protocol fee tests (#25)
  contracts/zero-ex/test/protocol_fees_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

feat: support persistent orders for Matcha (#403)
  README.md
  docker-compose.yml
  migrations/1604516429083-InitialTables.ts
  migrations/1604516429383-CreatePersistentSignedOrder.ts
  package.json
  src/config.ts
  src/db_connection.ts
  src/entities/PersistentSignedOrderEntity.ts
  src/entities/index.ts
  src/errors.ts
  src/handlers/sra_handlers.ts
  src/ormconfig.ts
  src/routers/sra_router.ts
  src/schemas/schemas.ts
  src/schemas/sra_get_orders_request_schema.json
  src/services/order_watcher_service.ts
  src/services/orderbook_service.ts
  src/types.ts
  src/utils/mesh_utils.ts
  src/utils/order_utils.ts
  test/meta_transaction_test.ts
  test/orderbook_service_test.ts
  tsconfig.json
  tslint.json
  yarn.lock
Owners: none

separated comparison price function into a new file, accounted for backup orders
  packages/asset-swapper/src/utils/market_operation_utils/comparison_price.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

removed scratch code
  packages/asset-swapper/src/utils/market_operation_utils/comparison_price.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

post-rebase fixes
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/exchange_proxy_swap_quote_consumer_test.ts
  packages/contract-artifacts/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Address PR feedback
  contracts/zero-ex/contracts/src/external/ILiquidityProviderSandbox.sol
  contracts/zero-ex/contracts/src/external/LiquidityProviderSandbox.sol
  contracts/zero-ex/contracts/src/features/ILiquidityProviderFeature.sol
  contracts/zero-ex/contracts/src/features/LiquidityProviderFeature.sol
  contracts/zero-ex/contracts/src/storage/LibStorage.sol
  contracts/zero-ex/contracts/test/TestLiquidityProvider.sol
  contracts/zero-ex/test/features/liquidity_provider_test.ts
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz
