Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

Independent compilation for contracts-zero-ex package (#67)
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/utils/package.json
  contracts/zero-ex/compiler.json
  contracts/zero-ex/package.json
  package.json
  packages/asset-swapper/package.json
  packages/contract-artifacts/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

`@0x/contracts-staking`: Set `isOfflineMode: false` in `compiler.json`
  contracts/staking/compiler.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Upgraded to solidity 0.6, simplified contract, added tests
  packages/asset-swapper/contracts/src/BalanceChecker.sol
  packages/asset-swapper/test/contracts/balance_checker_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

uint -> uint256
  packages/asset-swapper/contracts/src/BalanceChecker.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

handle potentially undefined path
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Reenable PLP VIP and add gasCost field to LiquidityProviderRegistry
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/liquidity_provider_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/contracts-staking`: Set `isOfflineMode: false` in `compiler.json` (#68)
  contracts/staking/compiler.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

export BalanceChecker contract wrapper
  packages/asset-swapper/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Point to ILiquidityProvider interface, not ILiquidityProviderSandbox
  docs/advanced/plp.rst
Owners: none

updated release names
  docs/additional/releases.rst
Owners: none

Point to ILiquidityProvider interface in docs, not ILiquidityProviderSandbox (#71)
  docs/advanced/plp.rst
Owners: none

prettier
  packages/asset-swapper/test/contracts/balance_checker_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Remove unused import
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: handle potentially undefined path (#69)
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Reenable PLP VIP and add gasCost field to LiquidityProviderRegistry (#65)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/liquidity_provider_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-artifacts/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Update AS version and config (#437)
  package.json
  src/config.ts
  src/services/meta_transaction_service.ts
  test/utils/mocks.ts
  yarn.lock
Owners: none

removed superfluous test code
  packages/asset-swapper/test/contracts/balance_checker_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

prettier
  packages/asset-swapper/test/contracts/balance_checker_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

updated release names (#72)
  docs/additional/releases.rst
Owners: none

Added BalanceChecker contract (#60)
  packages/asset-swapper/contracts/src/BalanceChecker.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/artifacts.ts
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/wrappers.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/contracts/balance_checker_test.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  contracts/integrations/package.json
  packages/asset-swapper/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: created a runner for rfq maker balance caching (#434)
  package.json
  src/runners/rfq_maker_balance_cache_runner.ts
  test/rfq_maker_balance_cache_test.ts
  yarn.lock
Owners: none

hackery: Intermediate Sampler hacks
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/IntermediateSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/bancor_service.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_contract_operation.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_report_generator.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/comparison_price_test.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/quote_report_generator_test.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

ADDS expose ethToTakerAssetRate and ethToTakerAssetRate
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/utils/swap_quote.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

REFACTORS rename to more correct takerAssetToEth/makerAssetToEth naming
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/utils/swap_quote.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

code, no tests
  contracts/staking/contracts/src/Staking.sol
  contracts/staking/contracts/src/goverence/GoverancePower.sol
  contracts/staking/contracts/src/goverence/GovernorAlpha.sol
  contracts/staking/contracts/src/goverence/SafeMath.sol
  contracts/staking/contracts/src/goverence/Timelock.sol
  contracts/staking/contracts/src/immutable/MixinDeploymentConstants.sol
  contracts/staking/contracts/src/interfaces/IOnchainGov.sol
  contracts/staking/contracts/src/stake/MixinStake.sol
  contracts/staking/package.json
  contracts/staking/test/artifacts.ts
  contracts/staking/test/wrappers.ts
  contracts/staking/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

ADDS asset-swapper change log entry
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: add takerAssetToEthRate and makerAssetToEthRate to quote response (#49)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/utils/swap_quote.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  contracts/integrations/package.json
  packages/asset-swapper/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Update mainnet and ropsten transformer addresses for hot-pants release
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dorothy-zbornak, @mzhu25

fix: Postgres Firm Quote Validator (#432)
  integration-test/transaction_watcher_service_test.ts
  src/app.ts
  src/constants.ts
  src/runners/rfq_maker_balance_cache_runner.ts
  src/services/postgres_rfqt_firm_quote_validator.ts
  src/services/swap_service.ts
  test/quote_validator_test.ts
  yarn.lock
Owners: none

Update mainnet and ropsten transformer addresses for hot-pants release (#70)
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dorothy-zbornak, @mzhu25

Update CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
Owners: @dorothy-zbornak, @mzhu25

Update CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
Owners: @dorothy-zbornak, @mzhu25

Update CHANGELOG.json (#75)
  packages/contract-addresses/CHANGELOG.json
Owners: @dorothy-zbornak, @mzhu25

override input amount
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25
