Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @dekz, @dextracker, @kyu-c

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/

# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file

# https://git-scm.com/docs/gitignore#_pattern_format

packages/asset-swapper/ @dekz @dextracker @kyu-c

# Dev tools & setup

.circleci/ @dekz
packages/contract-addresses/ @dekz @dextracker @kyu-c
packages/contract-artifacts/ @dekz
packages/protocol-utils/ @dekz

# Protocol/smart contracts

contracts/ @dekz @dextracker

eslint erc20 contracts folder too
  contracts/erc20/.eslintrc
  contracts/erc20/package.json
Owners: @dekz, @dextracker

changelogs
  contracts/erc20/CHANGELOG.json
  contracts/test-utils/CHANGELOG.json
  contracts/treasury/CHANGELOG.json
  contracts/utils/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.json
Owners: @dekz, @dextracker

actually zeroex was a different pr
  contracts/zero-ex/CHANGELOG.json
Owners: @dekz, @dextracker

changelog
  contracts/zero-ex/CHANGELOG.json
Owners: @dekz, @dextracker

PR #589 in changelogs
  contracts/erc20/CHANGELOG.json
  contracts/test-utils/CHANGELOG.json
  contracts/treasury/CHANGELOG.json
  contracts/utils/CHANGELOG.json
Owners: @dekz, @dextracker

whitespace
  contracts/utils/CHANGELOG.json
Owners: @dekz, @dextracker

prettier
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/test/utils/orders.ts
Owners: @dekz, @dextracker

prettier
  contracts/erc20/CHANGELOG.json
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/src/assertions.ts
  contracts/test-utils/src/lang_utils.ts
  contracts/test-utils/src/number_utils.ts
  contracts/treasury/CHANGELOG.json
Owners: @dekz, @dextracker

fix package.json/eslintrc
  contracts/erc20/package.json
Owners: @dekz, @dextracker

prettier
  contracts/erc20/.eslintrc.json
Owners: @dekz, @dextracker

chore: Replace TSLint with ESLint in contracts/zeroex (#587)
  contracts/zero-ex/.eslintrc
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/package.json
  contracts/zero-ex/scripts/rollback.ts
  contracts/zero-ex/test/features/multiplex_test.ts
  contracts/zero-ex/test/utils/orders.ts
  yarn.lock
Owners: @dekz, @dextracker

chore: Replace TSLint with ESLint in contracts/utils,treasury,test-utils,erc20 (#589)
  contracts/erc20/.eslintrc
  contracts/erc20/CHANGELOG.json
  contracts/erc20/package.json
  contracts/test-utils/.eslintrc
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/package.json
  contracts/test-utils/src/assertions.ts
  contracts/test-utils/src/lang_utils.ts
  contracts/test-utils/src/number_utils.ts
  contracts/test-utils/src/web3_wrapper.ts
  contracts/test-utils/test/mocha_blockchain.ts
  contracts/treasury/.eslintrc
  contracts/treasury/CHANGELOG.json
  contracts/treasury/package.json
  contracts/utils/.eslintrc
  contracts/utils/CHANGELOG.json
  contracts/utils/package.json
Owners: @dekz, @dextracker

Use native fee token map to find wrapped native token (#989)
  src/asset-swapper/utils/market_operation_utils/constants.ts
  src/services/meta_transaction_service.ts
Owners: none

remove scripts from asset swapper
  packages/asset-swapper/package.json
Owners: @dekz, @dextracker, @kyu-c

remove scripts from asset swapper (#590)
  packages/asset-swapper/package.json
Owners: @dekz, @dextracker, @kyu-c

ignore generated wrappers and asset-swapper
  .prettierignore
  contracts/erc20/src/artifacts.ts
  contracts/erc20/test/artifacts.ts
  contracts/test-utils/src/mocha_blockchain.ts
  contracts/test-utils/src/number_utils.ts
  contracts/test-utils/src/order_utils.ts
  contracts/test-utils/test/mocha_blockchain.ts
  contracts/test-utils/test/order_hash_test.ts
  contracts/utils/test/lib_bytes.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/native_orders_feature_test.ts
  contracts/zero-ex/test/features/otc_orders_test.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/utils/orders.ts
  package.json
  packages/protocol-utils/src/orders.ts
  yarn.lock
Owners: @dekz, @dextracker

ignore generated wrappers and asset-swapper (#591)
  .prettierignore
  contracts/erc20/src/artifacts.ts
  contracts/erc20/test/artifacts.ts
  contracts/test-utils/src/mocha_blockchain.ts
  contracts/test-utils/src/number_utils.ts
  contracts/test-utils/src/order_utils.ts
  contracts/test-utils/test/mocha_blockchain.ts
  contracts/test-utils/test/order_hash_test.ts
  contracts/utils/test/lib_bytes.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/native_orders_feature_test.ts
  contracts/zero-ex/test/features/otc_orders_test.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/utils/orders.ts
  package.json
  packages/protocol-utils/src/orders.ts
  yarn.lock
Owners: @dekz, @dextracker

contracts/ERC20
  contracts/erc20/.solhintignore
  contracts/erc20/package.json
Owners: @dekz, @dextracker

remove tslint.json from erc20
  contracts/erc20/tslint.json
Owners: @dekz, @dextracker

remove tslint.json from test-utils
  contracts/test-utils/tslint.json
Owners: @dekz, @dextracker

remove solhint from treasury
  contracts/treasury/package.json
Owners: @dekz, @dextracker

remove tslint.json from treasury
  contracts/treasury/tslint.json
Owners: @dekz, @dextracker

remove solhint from utils
  contracts/utils/package.json
Owners: @dekz, @dextracker

remove tslint.json from utils
  contracts/utils/tslint.json
Owners: @dekz, @dextracker

remove solhint from zero-ex
  contracts/.solhint.json
  contracts/zero-ex/package.json
  yarn.lock
Owners: @dekz, @dextracker

remove lint-contracts
  contracts/erc20/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
Owners: @dekz, @dextracker

Chore: Remove Solhint + TSlint clean-up [TKR-585] (#593)
  contracts/.solhint.json
  contracts/erc20/.solhintignore
  contracts/erc20/package.json
  contracts/erc20/tslint.json
  contracts/test-utils/tslint.json
  contracts/treasury/package.json
  contracts/treasury/tslint.json
  contracts/utils/package.json
  contracts/utils/tslint.json
  contracts/zero-ex/package.json
  yarn.lock
Owners: @dekz, @dextracker

fix: Balancer v2 on Arbitrum [TKR-559] (#987)
  src/asset-swapper/utils/market_operation_utils/constants.ts
  src/asset-swapper/utils/market_operation_utils/pools_cache/sgPoolDataService.ts
Owners: none

feat: shadow requests for RFQt v2 quotes and log results (#988)
  src/asset-swapper/index.ts
  src/asset-swapper/swap_quoter.ts
  src/asset-swapper/types.ts
  src/asset-swapper/utils/irfq_client.ts
  src/asset-swapper/utils/market_operation_utils/index.ts
  src/asset-swapper/utils/market_operation_utils/types.ts
  src/asset-swapper/utils/rfq_client_mappers.ts
  src/config.ts
  src/utils/rfq_client.ts
  test/asset-swapper/market_operation_utils_test.ts
Owners: none

Quote Reports - Emit on non RFQ firm quotes (#991)
  src/handlers/swap_handlers.ts
Owners: none

add Amaterasu chain address
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
Owners: @dekz, @dextracker, @kyu-c

fix: add balancerV2/batch to optimismBridgeAdapter (#578)
  contracts/zero-ex/contracts/src/transformers/bridges/OptimismBridgeAdapter.sol
  packages/contract-addresses/CHANGELOG.json
Owners: @dekz, @dextracker, @kyu-c

fix: Call Sentry as soon as possible. (#996)
  .dockerignore
  package.json
  src/runners/http_meta_transaction_service_runner.ts
  src/runners/http_service_runner.ts
  src/runners/http_sra_service_runner.ts
  src/runners/http_swap_service_runner.ts
  src/sentry.ts
  yarn.lock
Owners: none

chore: Add `argsIgnorePattern` for `no-unused-vars` (#997)
  .eslintrc.json
  package.json
  src/app.ts
  src/asset-swapper/swap_quoter.ts
Owners: none

upgrading 0x/api-utils to gather data on API errors (#998)
  package.json
  yarn.lock
Owners: none

feat: rfqtv2 calldata generation (#979)
  package.json
  src/asset-swapper/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  src/asset-swapper/quote_consumers/multiplex_encoders.ts
  src/asset-swapper/quote_consumers/quote_consumer_utils.ts
  src/asset-swapper/utils/market_operation_utils/types.ts
  src/asset-swapper/utils/quote_report_generator.ts
  yarn.lock
Owners: none

Updated CHANGELOGS & MD docs
  contracts/erc20/CHANGELOG.json
  contracts/erc20/CHANGELOG.md
  contracts/erc20/src/artifacts.ts
  contracts/erc20/test/artifacts.ts
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/CHANGELOG.md
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/utils/CHANGELOG.json
  contracts/utils/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  contracts/zero-ex/test/artifacts.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.md
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
Owners: @dekz, @dextracker, @kyu-c

Publish
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers/package.json
  packages/protocol-utils/package.json
Owners: @dekz, @dextracker, @kyu-c

update lockfile
  yarn.lock
Owners: none

add prettier-solidity + config
  .prettierignore
  .prettierrc
  package.json
  yarn.lock
Owners: none
