Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

`@0x/contracts-zero-ex`: Remove protocol fees from native orders in certain scenarios.
  contracts/zero-ex/contracts/src/features/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/test/features/native_orders_feature_test.ts
  docs/basics/orders.rst
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: update changelog
  contracts/zero-ex/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Add `taker` field to RFQ orders.` `@0x/contracts-zero-ex`: Introduce protocol fees to all limit orders again.
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/libs/LibNativeOrder.sol
  contracts/zero-ex/contracts/test/TestMetaTransactionsNativeOrdersFeature.sol
  contracts/zero-ex/src/orders.ts
  contracts/zero-ex/test/features/native_orders_feature_test.ts
  docs/basics/orders.rst
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Rebase.
  contracts/zero-ex/test/features/meta_transactions_test.ts
  contracts/zero-ex/test/features/native_orders_feature_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Remove protocol fees from RFQ orders (#45)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/libs/LibNativeOrder.sol
  contracts/zero-ex/contracts/test/TestMetaTransactionsNativeOrdersFeature.sol
  contracts/zero-ex/src/orders.ts
  contracts/zero-ex/test/features/meta_transactions_test.ts
  contracts/zero-ex/test/features/native_orders_feature_test.ts
  docs/basics/orders.rst
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Miscellaneous fixes to RFQ origin registration
  contracts/zero-ex/contracts/src/features/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/test/TestRfqOriginRegistration.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/native_orders_feature_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

lint
  contracts/zero-ex/test/features/native_orders_feature_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

prettier
  contracts/zero-ex/test/features/native_orders_feature_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

feat: pad protocol fee estimate for quotes that include RFQT orders (#424)
  src/config.ts
  src/services/swap_service.ts
  src/utils/gas_station_utils.ts
  test/rfqt_test.ts
  test/swap_test.ts
Owners: none

RFQ order with 0 txOrigin is INVALID
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/test/features/native_orders_feature_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CHANGELOG
  contracts/zero-ex/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Miscellaneous fixes to RFQ origin registration (#48)
  contracts/zero-ex/contracts/src/features/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/test/TestRfqOriginRegistration.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/native_orders_feature_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

RFQ order with 0 txOrigin is INVALID (#50)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/test/features/native_orders_feature_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

remove calldata signing
  contracts/zero-ex/contracts/src/features/ITransformERC20Feature.sol
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/features/TransformERC20Feature.sol
  contracts/zero-ex/contracts/src/features/libs/LibSignedCallData.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/transformers/IERC20Transformer.sol
  contracts/zero-ex/contracts/src/transformers/LogMetadataTransformer.sol
  contracts/zero-ex/contracts/test/TestFillQuoteTransformerHost.sol
  contracts/zero-ex/contracts/test/TestMetaTransactionsTransformERC20Feature.sol
  contracts/zero-ex/contracts/test/TestMintTokenERC20Transformer.sol
  contracts/zero-ex/contracts/test/TestWethTransformerHost.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/src/index.ts
  contracts/zero-ex/src/signed_call_data.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/meta_transactions_test.ts
  contracts/zero-ex/test/features/transform_erc20_test.ts
  contracts/zero-ex/test/transformers/affiliate_fee_transformer_test.ts
  contracts/zero-ex/test/transformers/pay_taker_transformer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CHANGELOG
  contracts/zero-ex/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix mtx integration test
  contracts/integrations/test/exchange-proxy/mtx_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

lint
  contracts/zero-ex/test/features/meta_transactions_test.ts
  contracts/zero-ex/test/features/transform_erc20_test.ts
  contracts/zero-ex/test/transformers/affiliate_fee_transformer_test.ts
  contracts/zero-ex/test/transformers/pay_taker_transformer_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

more lint
  contracts/integrations/test/exchange-proxy/mtx_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

remove calldata signing (#51)
  contracts/integrations/test/exchange-proxy/mtx_test.ts
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/ITransformERC20Feature.sol
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/features/TransformERC20Feature.sol
  contracts/zero-ex/contracts/src/features/libs/LibSignedCallData.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/transformers/IERC20Transformer.sol
  contracts/zero-ex/contracts/src/transformers/LogMetadataTransformer.sol
  contracts/zero-ex/contracts/test/TestFillQuoteTransformerHost.sol
  contracts/zero-ex/contracts/test/TestMetaTransactionsTransformERC20Feature.sol
  contracts/zero-ex/contracts/test/TestMintTokenERC20Transformer.sol
  contracts/zero-ex/contracts/test/TestWethTransformerHost.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/src/index.ts
  contracts/zero-ex/src/signed_call_data.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/meta_transactions_test.ts
  contracts/zero-ex/test/features/transform_erc20_test.ts
  contracts/zero-ex/test/transformers/affiliate_fee_transformer_test.ts
  contracts/zero-ex/test/transformers/pay_taker_transformer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

permissionless transformers with safety check and create2
  contracts/zero-ex/contracts/src/external/TransformerDeployer.sol
  contracts/zero-ex/contracts/src/features/ITransformERC20Feature.sol
  contracts/zero-ex/contracts/src/features/TransformERC20Feature.sol
  contracts/zero-ex/contracts/src/transformers/LibERC20Transformer.sol
  contracts/zero-ex/contracts/test/TestTransformerDeployerTransformer.sol
  contracts/zero-ex/test/features/meta_transactions_test.ts
  contracts/zero-ex/test/features/token_spender_test.ts
  contracts/zero-ex/test/features/transform_erc20_test.ts
  contracts/zero-ex/test/transformer_deployer_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Added cofix to sampler operations, small fixes to contracts
  contracts/utils/contracts/src/DeploymentConstants.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/interfaces/ICoFiXFactory.sol
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Added rough cofix sampling contracts
  contracts/utils/contracts/src/DeploymentConstants.sol
  packages/asset-swapper/contracts/src/CoFiXSampler.sol
  packages/asset-swapper/contracts/src/interfaces/ICoFiXFactory.sol
  packages/asset-swapper/contracts/src/interfaces/ICoFiXPair.sol
  packages/asset-swapper/contracts/src/interfaces/INestOracle.sol
  packages/asset-swapper/contracts/src/interfaces/iCoFiXController.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Compile
  packages/asset-swapper/contracts/src/CoFiXSampler.sol
  packages/asset-swapper/contracts/src/DeploymentConstants.sol
  packages/asset-swapper/contracts/src/interfaces/ICoFiX.sol
  packages/asset-swapper/contracts/src/interfaces/ICoFiXFactory.sol
  packages/asset-swapper/contracts/src/interfaces/INestOracle.sol
  packages/asset-swapper/contracts/src/interfaces/iCoFiXController.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Sampling functional
  packages/asset-swapper/contracts/src/CoFiXSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

wip: Cofix Adapter
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAdapterAddresses.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCoFiX.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Handle the NEST fee
  packages/asset-swapper/contracts/src/CoFiXSampler.sol
  packages/asset-swapper/contracts/src/interfaces/ICoFiX.sol
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Fix mapValues
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

disallow create and create2
  contracts/zero-ex/contracts/src/external/TransformerDeployer.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Replace `PairOrdersCancelled` event with `PairCancelledLimitOrders` and `PairCancelledRfqOrders`
  contracts/zero-ex/contracts/src/features/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/test/features/native_orders_feature_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

add permissionless transformer deployer
  contracts/zero-ex/contracts/src/external/PermissionlessTransformerDeployer.sol
  contracts/zero-ex/contracts/test/TestPermissionlessTransformerDeployerSuicidal.sol
  contracts/zero-ex/contracts/test/TestPermissionlessTransformerDeployerTransformer.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/permissionless_transformer_deployer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CHANGELOG
  contracts/zero-ex/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Replace `PairOrdersCancelled` event with `PairCancelledLimitOrders` and `PairCancelledRfqOrders` (#54)
  contracts/zero-ex/contracts/src/features/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/test/features/native_orders_feature_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

add permissionless transformer deployer (#55)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/external/PermissionlessTransformerDeployer.sol
  contracts/zero-ex/contracts/test/TestPermissionlessTransformerDeployerSuicidal.sol
  contracts/zero-ex/contracts/test/TestPermissionlessTransformerDeployerTransformer.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/permissionless_transformer_deployer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

minor doc improvements
  docs/_drawio/plp_sandbox.drawio
  docs/_static/img/plp_sandbox.png
  docs/additional/releases.rst
  docs/architecture/plp_sandbox.rst
  docs/architecture/transformer_deployer.rst
  docs/basics/functions.rst
Owners: none

minor doc improvements (#57)
  docs/_drawio/plp_sandbox.drawio
  docs/_static/img/plp_sandbox.png
  docs/additional/releases.rst
  docs/architecture/plp_sandbox.rst
  docs/architecture/transformer_deployer.rst
  docs/basics/functions.rst
Owners: none

fix: throw error on NaN Integer type ENV variables (#350)
  src/config.ts
Owners: none

minor doc updates: include Best Practices for Feature Development.
  docs/advanced/mtx.rst
  docs/advanced/uniswap.rst
  docs/architecture/features.rst
  docs/architecture/proxy.rst
Owners: none

minor doc updates: include Best Practices for Feature Development. (#58)
  docs/advanced/mtx.rst
  docs/advanced/uniswap.rst
  docs/architecture/features.rst
  docs/architecture/proxy.rst
Owners: none

fix: handling mesh order event end state (#427)
  package.json
  src/services/order_watcher_service.ts
  src/services/orderbook_service.ts
  src/types.ts
  src/utils/mesh_utils.ts
  test/orderbook_service_test.ts
  yarn.lock
Owners: none

Added BalanceChecker contract
  packages/asset-swapper/contracts/src/BalanceChecker.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/artifacts.ts
  packages/asset-swapper/src/wrappers.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25
