Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

Update changelog
  contracts/zero-ex/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Change ExpiredRfqOrder event
  contracts/zero-ex/contracts/src/features/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IMultiplexFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix: SRA trader query param should AND match with order filter props (#503)
  src/services/orderbook_service.ts
  test/sra_test.ts
Owners: none

Update IZeroEx artifact and contract wrapper
  contracts/zero-ex/contracts/src/IZeroEx.sol
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/IZeroEx.json
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/generated-wrappers/i_zero_ex.ts
  packages/contract-wrappers/src/index.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

feat: better chain support refactor deployment constants (#166)
  packages/asset-swapper/contracts/src/BancorSampler.sol
  packages/asset-swapper/contracts/src/DODOSampler.sol
  packages/asset-swapper/contracts/src/DODOV2Sampler.sol
  packages/asset-swapper/contracts/src/DeploymentConstants.sol
  packages/asset-swapper/contracts/src/Eth2DaiSampler.sol
  packages/asset-swapper/contracts/src/KyberSampler.sol
  packages/asset-swapper/contracts/src/MStableSampler.sol
  packages/asset-swapper/contracts/src/MooniswapSampler.sol
  packages/asset-swapper/contracts/src/ShellSampler.sol
  packages/asset-swapper/contracts/src/UniswapSampler.sol
  packages/asset-swapper/contracts/src/UniswapV2Sampler.sol
  packages/asset-swapper/contracts/test/TestERC20BridgeSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/contracts/bridge_sampler_mainnet_test.ts
  packages/asset-swapper/test/contracts/erc20_bridge_sampler_test.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/utils/mock_sampler_contract.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: Better chain support
  packages/asset-swapper/contracts/src/BalancerSampler.sol
  packages/asset-swapper/contracts/src/BancorSampler.sol
  packages/asset-swapper/contracts/src/CurveSampler.sol
  packages/asset-swapper/contracts/src/DODOSampler.sol
  packages/asset-swapper/contracts/src/DODOV2Sampler.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/Eth2DaiSampler.sol
  packages/asset-swapper/contracts/src/KyberSampler.sol
  packages/asset-swapper/contracts/src/LiquidityProviderSampler.sol
  packages/asset-swapper/contracts/src/MStableSampler.sol
  packages/asset-swapper/contracts/src/MooniswapSampler.sol
  packages/asset-swapper/contracts/src/ShellSampler.sol
  packages/asset-swapper/contracts/src/SushiSwapSampler.sol
  packages/asset-swapper/contracts/src/UniswapSampler.sol
  packages/asset-swapper/contracts/src/UniswapV2Sampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/shell_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/utils/test_helpers.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Refactor sampler to remove DeploymentConstants dependency and fixed addresses
  packages/asset-swapper/contracts/src/BancorSampler.sol
  packages/asset-swapper/contracts/src/KyberSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

proliferate the chainId
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

remove duped network addresses
  packages/asset-swapper/contracts/src/BancorSampler.sol
  packages/asset-swapper/contracts/src/KyberSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: json-schema local files schema resolution (#504)
  src/handlers/meta_transaction_handlers.ts
  src/handlers/sra_handlers.ts
  src/handlers/staking_handlers.ts
  src/handlers/swap_handlers.ts
  src/schemas/index.ts
  src/schemas/meta_transaction_quote_request_schema.json
  src/schemas/swap_quote_request_schema.json
  src/services/websocket_service.ts
  src/utils/schema_utils.ts
Owners: none

Rework the bridge source encoder
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Use the constants NATIVE_FEE_TOKEN in EP consumer
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: expect sra pool filter to be a hex number just like in the order (#507)
  src/schemas/sra_orders_query_schema.json
Owners: none

fix!: Rename V4 orders field remaining amount to remove asset reference (#508)
  migrations/1615218503896-RenameRemainingFillableAssetAmountToRemainingFillableTakerAmount.ts
  src/entities/PersistentSignedOrderV4Entity.ts
  src/entities/SignedOrderV4Entity.ts
  src/schemas/sra_orders_query_schema.json
  src/types.ts
  src/utils/mesh_utils.ts
  src/utils/order_utils.ts
  test/orderbook_service_test.ts
  test/sra_test.ts
Owners: none

[asset-swapper]: Curve open pools (ESD, BAC, DSD...)
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

add tx origin blacklist to RFQ options
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Fix typo
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: add mesh env variables to .env_example file (#509)
  .env_example
Owners: none

`@0x/contract-addresses`: Fix WBNB address
  packages/contract-addresses/addresses.json
Owners: @dorothy-zbornak, @mzhu25

`@0x/contract-addresses`: Fix WBNB address (#170)
  packages/contract-addresses/addresses.json
Owners: @dorothy-zbornak, @mzhu25

feat: Better chain support
  packages/asset-swapper/src/types.ts
  packages/contract-addresses/addresses.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: better chain support refactor deployment constants (#166)
  packages/asset-swapper/src/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`asset-swapper`: enable pancake VIP route generation
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

proliferate the chainId
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

remove duped network addresses
  packages/asset-swapper/contracts/src/BancorSampler.sol
  packages/asset-swapper/contracts/src/KyberSampler.sol
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Refactor sampler to remove DeploymentConstants dependency and fixed addresses
  packages/asset-swapper/contracts/src/BancorSampler.sol
  packages/asset-swapper/contracts/src/KyberSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

[wip] Preview of potential changes to Quote Requestor
  packages/asset-swapper/package.json
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

multichain enable cakez vip (#171)
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

use set instead of array
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

make sure tx origin is lower case
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

changed default blacklist value from array to set
  packages/asset-swapper/src/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

add tx origin blacklist to RFQ options (#169)
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

integrate tx origin blacklist, fix config typos (#510)
  package.json
  src/config.ts
  yarn.lock
Owners: none

`@0x/contracts-zero-ex`: Fix `PancakeSwapFeature` sushi values
  contracts/zero-ex/contracts/src/features/PancakeSwapFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix name for empty env var check of RFQT_API_KEY_WHITELIST_JSON (#511)
  src/config.ts
Owners: none

`@0x/contracts-zero-ex`: I am a bad protocologist
  contracts/zero-ex/contracts/src/features/PancakeSwapFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Fix `PancakeSwapFeature` sushi values (#172)
  contracts/zero-ex/contracts/src/features/PancakeSwapFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

[wip] adding an impl of requestRfqmIndicativeQuotesAsync, some minor refactoring
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

[wip] adding an impl of requestRfqmFirmQuotesAsync, some minor refactoring
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

docs: Fix EIP712 hashing docs for limit and RFQ orders
  docs/basics/functions.rst
Owners: none

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25
