Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25

`@0x/contracts-zero-ex`: Fix BakerySwap on PackageSwapFeature (#190)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/PancakeSwapFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

address review comments
  contracts/zero-ex/contracts/src/external/IAllowanceTarget.sol
  contracts/zero-ex/contracts/src/features/LiquidityProviderFeature.sol
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/features/PancakeSwapFeature.sol
  contracts/zero-ex/contracts/src/features/UniswapFeature.sol
  contracts/zero-ex/contracts/src/storage/LibTokenSpenderStorage.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

ADDS basic boilerplate for PSM bridge WIP
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinMakerPSM.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix: take into account PSM fee when buying USDC from PSM
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinMakerPSM.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

ADDS integrate the MakerPSM mixin and fix incorrect naming
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinMakerPSM.sol
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

feat: intial stab at a PSM sampler WIP
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinMakerPSM.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/MakerPSMSampler.sol
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: integrate MakerPsm into AS WIP
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinMakerPSM.sol
  packages/asset-swapper/contracts/src/MakerPSMSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/protocol-utils/src/transformer_utils.ts
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

refactor: get VAT contract address from PSM instead of passing it in
  packages/asset-swapper/contracts/src/MakerPSMSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: hardcode PSM Gemtoken to USDC
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: use constant modified to avoid using storage variables
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinMakerPSM.sol
  packages/asset-swapper/contracts/src/MakerPSMSampler.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix: incorrect num decimals after multiplication in sampler
  packages/asset-swapper/contracts/src/MakerPSMSampler.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix: remove passing in authGem, get from PSM contract instead
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinMakerPSM.sol
  packages/asset-swapper/contracts/src/MakerPSMSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: PSM buy sampling
  packages/asset-swapper/contracts/src/MakerPSMSampler.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix: use fillData to estimate gas schedule
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Rebased on latest development
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeProtocols.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/contracts/src/MakerPSMSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Guard and use latest Curve LiquidityProvider
  packages/asset-swapper/contracts/src/MakerPSMSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

`@0x/contract-addresses`: Redeploy FQT on mainnet and ropsten
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @dorothy-zbornak, @mzhu25

Maker PSM integration [TKR-2] (#150)
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeProtocols.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinMakerPSM.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/MakerPSMSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/protocol-utils/src/transformer_utils.ts
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Publish
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-artifacts/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
  packages/protocol-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: DRY up and update deploy actions (#529)
  .github/workflows/deploy.yml
Owners: none

fix branch name
  .github/workflows/deploy.yml
Owners: none

fix workflow_dispatch check
  .github/workflows/deploy.yml
Owners: none

fix branch name for manual deploy
  .github/workflows/deploy.yml
Owners: none

update to prettier 2.0 (#532)
  .prettierrc
  migrations/1604516429383-CreatePersistentSignedOrder.ts
  package.json
  src/handlers/meta_transaction_handlers.ts
  src/handlers/sra_handlers.ts
  src/handlers/swap_handlers.ts
  src/runners/http_meta_transaction_service_runner.ts
  src/runners/http_service_runner.ts
  src/runners/http_sra_service_runner.ts
  src/runners/http_swap_service_runner.ts
  src/runners/order_watcher_service_runner.ts
  src/runners/rfq_maker_balance_cache_runner.ts
  src/runners/transaction_watcher_signer_service_runner.ts
  src/services/meta_transaction_service.ts
  src/services/order_watcher_service.ts
  src/services/orderbook_service.ts
  src/services/postgres_rfqt_firm_quote_validator.ts
  src/services/swap_service.ts
  src/services/transaction_watcher_signer_service.ts
  src/services/websocket_service.ts
  src/utils/alt_mm_utils.ts
  src/utils/asset_swapper_orderbook.ts
  src/utils/axios_utils.ts
  src/utils/market_depth_utils.ts
  src/utils/mesh_utils.ts
  src/utils/order_utils.ts
  src/utils/parse_utils.ts
  src/utils/price_comparison_utils.ts
  src/utils/quote_report_utils.ts
  src/utils/schema_utils.ts
  src/utils/service_utils.ts
  src/utils/signer.ts
  src/utils/token_metadata_utils.ts
  src/utils/utils.ts
  test/utils/deployment.ts
  test/utils/mesh_client_mock.ts
  tslint.json
  yarn.lock
Owners: none

Add Kyber DMM as a liquidity source
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

update changelog
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

add registerAllowedSigner to NativeOrdersFeature
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/INativeOrdersEvents.sol
  contracts/zero-ex/contracts/src/features/interfaces/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersCancellation.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersInfo.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersSettlement.sol
  contracts/zero-ex/contracts/src/storage/LibNativeOrdersStorage.sol
  contracts/zero-ex/contracts/test/TestSignerRegistryWithContractWallet.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/native_orders_feature_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/protocol-utils/src/orders.ts
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix PR reference in changelog
  contracts/zero-ex/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

prettier
  contracts/zero-ex/test/features/native_orders_feature_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add Kyber DMM as a liquidity source (#194)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

add cancel pair orders functions for signers
  contracts/zero-ex/contracts/src/errors/LibNativeOrdersRichErrors.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersCancellation.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/features/native_orders_feature_test.ts
  packages/protocol-utils/src/revert-errors/native_orders.ts
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add default liquidity provider registry and allow gas costs to be a function of tokens
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/liquidity_provider_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Add default liquidity provider registry and allow gas costs to be a function of tokens (#196)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/liquidity_provider_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  contracts/integrations/package.json
  packages/asset-swapper/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

refactored cancelPairOrders logic, changed naming of signerRegistry to orderSigner registry everywhere, cleaned up tests
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/INativeOrdersEvents.sol
  contracts/zero-ex/contracts/src/features/interfaces/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersCancellation.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersInfo.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersSettlement.sol
  contracts/zero-ex/contracts/src/storage/LibNativeOrdersStorage.sol
  contracts/zero-ex/contracts/test/TestOrderSignerRegistryWithContractWallet.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/native_orders_feature_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

updated changelog for protocol-utils, made batchCancelPairOrders functions more efficient
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersCancellation.sol
  packages/protocol-utils/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix: Smoothy sampler, only use approx. for buys, removing y and BUSD curve pools
  packages/asset-swapper/contracts/src/SmoothySampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

add CHANGELOGs
  packages/asset-swapper/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

add: FRAX Curve open pool
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25
