Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25

fix: add Polygon tokens to initial TokenAdjacencyGraph
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: add Matic as a native token
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

refactor: use same gas schedule fn for all uni v2 clones
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: temporarily private publish contract-addresses, token-metadata
  packages/asset-swapper/package.json
  packages/contract-wrappers/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: fix linting
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: Add DODO V2 support for polygon, stability pool on mainnet, bsc
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: incorrect Curve Polygon gas schedule
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

refator: consolidate Polygon token addresses in POLYGON_TOKENS
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: Polygon DODO V1 integration
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: remove dependency on @0x/token-metadata
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

re-added the new files (#588)
  src/utils/rfqm_worker_balance_utils.ts
  test/utils/rfqm_worker_test.ts
Owners: none

feat: rfqm /submit endpoint (#584)
  migrations/1621447377869-CreateRfqmJobsTable.ts
  package.json
  src/config.ts
  src/entities/RfqmJobEntity.ts
  src/entities/RfqmQuoteEntity.ts
  src/entities/index.ts
  src/handlers/rfqm_handlers.ts
  src/ormconfig.ts
  src/routers/rfqm_router.ts
  src/runners/http_rfqm_service_runner.ts
  src/services/rfqm_service.ts
  src/utils/rfq_blockchain_utils.ts
  src/utils/rfqm_db_utils.ts
  src/utils/rfqm_request_utils.ts
  test/rfqm_db_test.ts
  test/rfqm_test.ts
  test/services/rfqm_service_test.ts
  yarn.lock
Owners: none

chore: remove private publish dependencies and add changelog entry
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/package.json
  packages/contract-addresses/CHANGELOG.json
  packages/contract-wrappers/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Polygon support (#240)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
  packages/protocol-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: Polygon support (#576)
  package.json
  src/config.ts
  src/types.ts
  yarn.lock
Owners: none

Update KNC address and reenable PLP
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Enable PLP VIP on BSC
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Add proposal 0 params and mainnet fork test
  contracts/treasury/CHANGELOG.json
  contracts/treasury/src/proposals.ts
  contracts/treasury/test/proposal_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add proposal 0 params and mainnet fork test (#252)
  contracts/treasury/CHANGELOG.json
  contracts/treasury/src/proposals.ts
  contracts/treasury/test/proposal_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Miscellaneous Liquidity Provider changes (#253)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: add method to rfq_blockchain_utils to derive private key from phrase … (#589)
  package.json
  src/config.ts
  src/utils/rfq_blockchain_utils.ts
  yarn.lock
Owners: none

Updated CHANGELOGS & MD docs
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Publish
  contracts/integrations/package.json
  contracts/treasury/package.json
  packages/asset-swapper/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

chore: Deploy latest AS (#590)
  package.json
  yarn.lock
Owners: none

feat: add method on rfqBlockchainUtils to validate calldata (#591)
  src/utils/rfq_blockchain_utils.ts
  test/rfq_blockchain_utils_test.ts
Owners: none

chore: add resolutions for important updates on very old deps
  package.json
  yarn.lock
Owners: none

upgrades Token Metadata (#593)
  package.json
  yarn.lock
Owners: none

small typo in SQS initialization (#594)
  src/runners/http_rfqm_service_runner.ts
Owners: none

feat: add update and find methods for RfqmJob (#592)
  src/utils/rfqm_db_utils.ts
  test/rfqm_db_test.ts
Owners: none

fix: 0x/token-metadata bump (#599)
  package.json
  yarn.lock
Owners: none

chore: add BSC deploy actions (#567)
  .github/workflows/deploy.yml
Owners: none

fix: syntax issue in github deploy action (#602)
  .github/workflows/deploy.yml
Owners: none

Run prettier on rfqm_test.ts (#600)
  test/rfqm_test.ts
Owners: none

fix: syntax issue in github deploy action (#603)
  .github/workflows/deploy.yml
Owners: none

refactor rfq_blockchain_utils dependencies, add submit calldata function (#605)
  src/runners/http_rfqm_service_runner.ts
  src/utils/rfq_blockchain_utils.ts
  test/rfq_blockchain_utils_test.ts
Owners: none

UniswapV3 VIP (#237)
  .circleci/config.yml
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/IZeroEx.sol
  contracts/zero-ex/contracts/src/features/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/UniswapV3Feature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IUniswapV3Feature.sol
  contracts/zero-ex/contracts/src/fixins/FixinTokenSpender.sol
  contracts/zero-ex/contracts/src/vendor/IUniswapV3Pool.sol
  contracts/zero-ex/contracts/test/TestNoEthRecipient.sol
  contracts/zero-ex/contracts/test/TestUniswapV3Factory.sol
  contracts/zero-ex/contracts/test/TestUniswapV3Feature.sol
  contracts/zero-ex/contracts/test/TestUniswapV3Pool.sol
  contracts/zero-ex/contracts/test/TestWeth.sol
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/uniswapv3_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/quote_consumers/quote_consumer_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/IZeroEx.json
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/generated-wrappers/i_zero_ex.ts
  packages/contract-wrappers/src/index.ts
Owners: @dorothy-zbornak, @abandeali1, @hysz, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

`@0x/contracts-zero-ex`: Address spot check feedback
  contracts/zero-ex/contracts/src/features/LiquidityProviderFeature.sol
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/features/MultiplexFeature.sol
  contracts/zero-ex/contracts/src/features/OtcOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/TransformERC20Feature.sol
  contracts/zero-ex/contracts/src/features/UniswapV3Feature.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersSettlement.sol
  contracts/zero-ex/contracts/src/fixins/FixinTokenSpender.sol
  contracts/zero-ex/contracts/test/TestFixinTokenSpender.sol
  contracts/zero-ex/test/fixin_token_spender_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`regen wrappers
  contracts/zero-ex/package.json
  packages/contract-artifacts/artifacts/Broker.json
  packages/contract-artifacts/artifacts/Coordinator.json
  packages/contract-artifacts/artifacts/CoordinatorRegistry.json
  packages/contract-artifacts/artifacts/DevUtils.json
  packages/contract-artifacts/artifacts/DummyERC20Token.json
  packages/contract-artifacts/artifacts/DummyERC721Token.json
  packages/contract-artifacts/artifacts/ERC1155Mintable.json
  packages/contract-artifacts/artifacts/ERC1155Proxy.json
  packages/contract-artifacts/artifacts/ERC20BridgeProxy.json
  packages/contract-artifacts/artifacts/ERC20Proxy.json
  packages/contract-artifacts/artifacts/ERC20Token.json
  packages/contract-artifacts/artifacts/ERC721Proxy.json
  packages/contract-artifacts/artifacts/ERC721Token.json
  packages/contract-artifacts/artifacts/Exchange.json
  packages/contract-artifacts/artifacts/Forwarder.json
  packages/contract-artifacts/artifacts/GodsUnchainedValidator.json
  packages/contract-artifacts/artifacts/MultiAssetProxy.json
  packages/contract-artifacts/artifacts/OrderValidator.json
  packages/contract-artifacts/artifacts/Staking.json
  packages/contract-artifacts/artifacts/StakingProxy.json
  packages/contract-artifacts/artifacts/StaticCallProxy.json
  packages/contract-artifacts/artifacts/WETH9.json
  packages/contract-artifacts/artifacts/ZRXToken.json
  packages/contract-artifacts/artifacts/ZrxVault.json
  packages/contract-wrappers/src/generated-wrappers/coordinator.ts
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
  packages/contract-wrappers/src/generated-wrappers/i_zero_ex.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

prettier
  packages/contract-artifacts/artifacts/OrderValidator.json
  packages/contract-artifacts/artifacts/ZRXToken.json
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
  packages/contract-wrappers/src/generated-wrappers/i_zero_ex.ts
Owners: @dorothy-zbornak, @mzhu25
