Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25

Tightly pack expiry, nonceBucket, and nonce
  contracts/zero-ex/contracts/src/features/OtcOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IOtcOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/libs/LibNativeOrder.sol
  contracts/zero-ex/contracts/src/storage/LibOtcOrdersStorage.sol
  contracts/zero-ex/test/features/otc_orders_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Address PR feedback
  contracts/zero-ex/contracts/src/features/OtcOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IOtcOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/libs/LibNativeOrder.sol
  contracts/zero-ex/contracts/src/storage/LibOtcOrdersStorage.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add ETH support
  contracts/zero-ex/contracts/src/features/OtcOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IOtcOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/libs/LibNativeOrder.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add OTC orders feature contracts
  contracts/zero-ex/contracts/src/IZeroEx.sol
  contracts/zero-ex/contracts/src/errors/LibNativeOrdersRichErrors.sol
  contracts/zero-ex/contracts/src/features/OtcOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IOtcOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/libs/LibNativeOrder.sol
  contracts/zero-ex/contracts/src/storage/LibOtcOrdersStorage.sol
  contracts/zero-ex/contracts/src/storage/LibStorage.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Skip unnecessary math if takerTokenFillAmount == order.takerAmount
  contracts/zero-ex/contracts/src/features/OtcOrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

appease CI
  contracts/zero-ex/test/features/otc_orders_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Update contract-artifacts and contract-wrappers and CHANGELOGs
  contracts/zero-ex/CHANGELOG.json
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/IZeroEx.json
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/generated-wrappers/i_zero_ex.ts
  packages/contract-wrappers/src/index.ts
  packages/protocol-utils/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix: mStable USD Sampler and Mixin fix (#238)
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinMStable.sol
  packages/asset-swapper/contracts/src/MStableSampler.sol
  packages/asset-swapper/contracts/src/interfaces/IMStable.sol
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: KyberDmm
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeProtocols.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinKyberDmm.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/KyberDmmSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
  packages/protocol-utils/src/transformer_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: pass buyToken to kyberDmm and require that path ends with buyToken
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinKyberDmm.sol
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Pass BigNumber down to FastABI
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Address Feedback
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinKyberDmm.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: KyberDmm (#236)
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeProtocols.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinKyberDmm.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/KyberDmmSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
  packages/protocol-utils/src/transformer_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Add Huobi Token to liquidity provider tokens
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Add Huobi Token to liquidity provider tokens (#246)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix prettier
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: Add RfqmQuote entity [MKR-42] (#577)
  README.md
  migrations/1620879168566-CreateRfqmQuoteTable.ts
  package.json
  src/entities/RfqmQuoteEntity.ts
  src/entities/index.ts
  src/ormconfig.ts
  src/runners/http_rfqm_service_runner.ts
  src/services/rfqm_service.ts
  test/rfqm_test.ts
  test/services/rfqm_service_test.ts
Owners: none

fix: readme formatting messed up (#578)
  README.md
Owners: none

fix: Deploy FQT for KyberDmm/Mstable
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: Polygon deployed
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
Owners: @dorothy-zbornak, @mzhu25

Updated polygon FQT address
  packages/contract-addresses/addresses.json
Owners: @dorothy-zbornak, @mzhu25

chore: gas schedule for PancakeSwap and forks (#556)
  src/config.ts
Owners: none

fix: Deploy FQT for KyberDmm/Mstable (#247)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: pass fee into QuoteRequestor (#579)
  src/constants.ts
  src/services/rfqm_service.ts
  test/rfqm_test.ts
  test/services/rfqm_service_test.ts
Owners: none

fix: Update package.json (#581)
  package.json
  src/runners/http_rfqm_service_runner.ts
Owners: none

Update constants.ts (#582)
  src/constants.ts
Owners: none

feat: bump mesh graphql client to 11.2 (#583)
  package.json
  yarn.lock
Owners: none

wip markdown docs
  docs/additional/audits.md
  docs/additional/bounties.md
  docs/additional/contributing.md
  docs/additional/emergency.md
  docs/additional/exceptional_erc20s.md
  docs/additional/releases.md
  docs/advanced/erc20_transformations.md
  docs/advanced/mtx.md
  docs/advanced/plp.md
  docs/advanced/uniswap.md
  docs/architecture/features.md
  docs/architecture/fee_collectors.md
  docs/architecture/flash_wallet.md
  docs/architecture/governor.md
  docs/architecture/overview.md
  docs/architecture/plp_sandbox.md
  docs/architecture/proxy.md
  docs/architecture/transformer_deployer.md
  docs/architecture/transformers.md
  docs/basics/addresses.md
  docs/basics/allowances.md
  docs/basics/events.md
  docs/basics/functions.md
  docs/basics/orders.md
  docs/basics/protocol_fees.md
  docs/tokenomics/governance.md
  docs/tokenomics/research.md
  docs/tokenomics/staking_reward_formula.md
Owners: none

fix: avoid making a post request to mesh with no orders (#585)
  src/services/order_watcher_service.ts
  src/services/orderbook_service.ts
Owners: none

deleted docs that i already imported
  docs/advanced/erc20_transformations.md
  docs/advanced/erc20_transformations.rst
  docs/advanced/mtx.md
  docs/advanced/mtx.rst
  docs/advanced/plp.md
  docs/advanced/plp.rst
  docs/advanced/uniswap.md
  docs/advanced/uniswap.rst
  docs/architecture/features.md
  docs/architecture/features.rst
  docs/architecture/fee_collectors.md
  docs/architecture/fee_collectors.rst
  docs/architecture/flash_wallet.md
  docs/architecture/flash_wallet.rst
  docs/architecture/governor.md
  docs/architecture/governor.rst
  docs/architecture/overview.md
  docs/architecture/overview.rst
  docs/architecture/plp_sandbox.md
  docs/architecture/plp_sandbox.rst
  docs/architecture/proxy.md
  docs/architecture/proxy.rst
  docs/architecture/transformer_deployer.md
  docs/architecture/transformer_deployer.rst
  docs/architecture/transformers.md
  docs/architecture/transformers.rst
  docs/basics/protocol_fees.md
  docs/tokenomics/governance.md
  docs/tokenomics/governance.rst
  docs/tokenomics/research.md
  docs/tokenomics/research.rst
  docs/tokenomics/staking.md
  docs/tokenomics/staking_reward_formula.md
  docs/tokenomics/staking_reward_formula.rst
Owners: none

chore: Temporarily disable a LiquidityProvider
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: Temporarily disable a LiquidityProvider (#248)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
  packages/protocol-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: Polygon deployed
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
Owners: @dorothy-zbornak, @mzhu25

feat: ComethSwap Polygon integration
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: Add Curve, Dfyn, mStable for Polygon
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: Add QuickSwap Polygon integration
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

refactor: import valueByChainId from token-metadata to consolidate impl
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: add SushiSwap on Polygon WIP
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated polygon FQT address
  packages/contract-addresses/addresses.json
Owners: @dorothy-zbornak, @mzhu25
