Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @dekz, @dextracker, @kyu-c

Revert "feat: Do not deploy from unmerged branches (#922)" (#923)
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
  .github/workflows/pr_check.yml
Owners: none

feat: Do not release from unmerged branches (#924)
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
  .github/workflows/pr_check.yml
Owners: none

Revert "chore: Remove unused addresses in addresses.json [TKR-519] (#548)"
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/contract_wrappers.ts
  packages/contract-wrappers/src/contract_wrappers_config_schema.ts
Owners: @dekz, @dextracker, @kyu-c

add debridge support
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @dekz, @dextracker, @kyu-c

add debridge support
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @dekz, @dextracker, @kyu-c

change gas estimates
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @dekz, @dextracker, @kyu-c

changelog
  packages/asset-swapper/CHANGELOG.json
Owners: @dekz, @dextracker, @kyu-c

remove comments
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @dekz, @dextracker, @kyu-c

fix lerna run lint error
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @dekz, @dextracker, @kyu-c

WooFi Gas Estimates (#551)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @dekz, @dextracker, @kyu-c

univ3 celo
  contracts/zero-ex/contracts/src/transformers/bridges/CeloBridgeAdapter.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @dekz, @dextracker, @kyu-c

feat: MetaTxn again (#925)
  integration-test/transaction_watcher_service_test.ts
  package.json
  src/app.ts
  src/config.ts
  src/constants.ts
  src/entities/TransactionEntity.ts
  src/entities/index.ts
  src/handlers/meta_transaction_handlers.ts
  src/index.ts
  src/ormconfig.ts
  src/routers/meta_transaction_router.ts
  src/runners/http_meta_transaction_service_runner.ts
  src/runners/http_service_runner.ts
  src/runners/http_sra_service_runner.ts
  src/runners/http_swap_service_runner.ts
  src/runners/rfq_maker_balance_cache_runner.ts
  src/runners/transaction_watcher_signer_service_runner.ts
  src/services/meta_transaction_service.ts
  src/services/transaction_watcher_signer_service.ts
  src/types.ts
  src/utils/parse_utils.ts
  src/utils/rate-limiters/base_db_limiter.ts
  src/utils/rate-limiters/base_limiter.ts
  src/utils/rate-limiters/index.ts
  src/utils/rate-limiters/meta_transaction_composable_rate_limiter.ts
  src/utils/rate-limiters/meta_transaction_daily_limiter.ts
  src/utils/rate-limiters/meta_transaction_rolling_limiter.ts
  src/utils/rate-limiters/meta_transaction_value_limiter.ts
  src/utils/rate-limiters/types.ts
  src/utils/rate-limiters/utils.ts
  src/utils/signer.ts
  src/utils/sqs_client.ts
  src/utils/sqs_consumer.ts
  src/utils/utils.ts
  test/rate_limiter_test.ts
  test/rfqt_test.ts
  test/transaction_watcher_signer_test.ts
  test/utils/sqs_consumer_test.ts
Owners: none

Initial configuration for sentry.io (#915)
  package.json
  src/app.ts
  src/config.ts
  src/runners/http_meta_transaction_service_runner.ts
  src/runners/http_service_runner.ts
  src/runners/http_sra_service_runner.ts
  src/runners/http_swap_service_runner.ts
  src/sentry.ts
  yarn.lock
Owners: none

Cannot define tracing samples rate (#926)
  src/config.ts
  src/runners/http_meta_transaction_service_runner.ts
  src/runners/http_service_runner.ts
  src/runners/http_sra_service_runner.ts
  src/runners/http_swap_service_runner.ts
  src/sentry.ts
Owners: none

Inaccurate naming (#927)
  .github/workflows/deploy.yml
Owners: none

Arbitrum-rinkeby support in AS + contracts-addresses
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
Owners: @dekz, @dextracker, @kyu-c

fix UniV3 router+quoter addresses to standard ones
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @dekz, @dextracker, @kyu-c

Update package.jsons to latest tools packages
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-artifacts/package.json
  packages/contract-wrappers/package.json
  packages/protocol-utils/package.json
Owners: @dekz, @dextracker, @kyu-c

Skip tests relying on gasPrice > 0
  contracts/zero-ex/test/features/meta_transactions_test.ts
  contracts/zero-ex/test/features/native_orders_feature_test.ts
  contracts/zero-ex/test/protocol_fees_test.ts
Owners: @dekz, @dextracker

Yarn.lock
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-wrappers/package.json
  packages/protocol-utils/package.json
  yarn.lock
Owners: @dekz, @dextracker, @kyu-c

Fix linter
  contracts/zero-ex/test/features/meta_transactions_test.ts
  package.json
  yarn.lock
Owners: @dekz, @dextracker

Update Balance checker, new ganache gets more ETH
  packages/asset-swapper/test/contracts/balance_checker_test.ts
Owners: @dekz, @dextracker

Fix new Ganache insufficient assertion string
  contracts/test-utils/src/assertions.ts
Owners: @dekz, @dextracker

small updates
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @dekz, @dextracker, @kyu-c

Add UniswapV3
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/contract-addresses/src/index.ts
Owners: @dekz, @dextracker, @kyu-c

added initial foundry transformERC20 tests
  contracts/zero-ex/contracts/test/foundry/BasicSwap.sol
  contracts/zero-ex/contracts/test/foundry/utils/DeployZeroEx.sol
  contracts/zero-ex/contracts/test/foundry/utils/ForkUtils.sol
  contracts/zero-ex/contracts/test/foundry/utils/TestUtils.sol
  contracts/zero-ex/contracts/test/foundry/utils/WETH_6_5.sol
  contracts/zero-ex/foundry.toml
  contracts/zero-ex/package.json
Owners: @dekz, @dextracker

added foundry tests into CircleCI flow
  contracts/zero-ex/package.json
Owners: @dekz, @dextracker

add verbosity for failing tests in CI
  .circleci/config.yml
  contracts/zero-ex/package.json
Owners: @dekz, @dextracker

Temporarily set QuoteRequestor to skip
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @dekz, @dextracker, @kyu-c

revert wrong CI commands
  contracts/zero-ex/package.json
Owners: @dekz, @dextracker

Fix headers Axios now requests with
  packages/asset-swapper/test/quote_requestor_test.ts
  packages/asset-swapper/test/utils/test_helpers.ts
Owners: @dekz, @dextracker, @kyu-c

otc order implementation added to FQT with failing tests
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/OtcOrdersFeature.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
Owners: @dekz, @dextracker

adding the rest of the changes
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/quote_consumers/multiplex_encoders.ts
  packages/asset-swapper/src/quote_consumers/quote_consumer_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_report_generator.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @dekz, @dextracker, @kyu-c

simulate maker and taker balances of erc20
  contracts/zero-ex/contracts/src/features/OtcOrdersFeature.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
Owners: @dekz, @dextracker

Add Synapse
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @dekz, @dextracker, @kyu-c

Add new Saddle pools & metapools for 3 chains
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @dekz, @dextracker, @kyu-c

chore: update packages (#553)
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/test-utils/src/assertions.ts
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  contracts/zero-ex/test/features/meta_transactions_test.ts
  contracts/zero-ex/test/features/native_orders_feature_test.ts
  contracts/zero-ex/test/protocol_fees_test.ts
  package.json
  packages/asset-swapper/package.json
  packages/asset-swapper/test/contracts/balance_checker_test.ts
  packages/asset-swapper/test/utils/test_helpers.ts
  packages/contract-artifacts/package.json
  packages/contract-wrappers/package.json
  packages/protocol-utils/package.json
  yarn.lock
Owners: @dekz, @dextracker, @kyu-c

Updated CHANGELOGS & MD docs
  contracts/erc20/CHANGELOG.json
  contracts/erc20/CHANGELOG.md
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/CHANGELOG.md
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/utils/CHANGELOG.json
  contracts/utils/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.md
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/CHANGELOG.md
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
  yarn.lock
Owners: @dekz, @dextracker, @kyu-c

Publish
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-artifacts/package.json
  packages/contract-wrappers/package.json
  packages/protocol-utils/package.json
Owners: @dekz, @dextracker, @kyu-c

Match `asset-swapper` deps (#931)
  package.json
  yarn.lock
Owners: none

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/

# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file

# https://git-scm.com/docs/gitignore#_pattern_format

packages/asset-swapper/ @dekz @dextracker @kyu-c

# Dev tools & setup

.circleci/ @dekz
packages/contract-addresses/ @dekz @dextracker @kyu-c
packages/contract-artifacts/ @dekz
packages/protocol-utils/ @dekz

# Protocol/smart contracts

contracts/ @dekz @dextracker
