Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25

modified quote-requestor test to include alt implementation
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/test/quote_requestor_test.ts
  packages/asset-swapper/test/utils/test_helpers.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

working tests, made alt utils more readable
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/alt_mm_implementation_utils.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
  packages/asset-swapper/test/utils/test_helpers.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

lint errors
  packages/asset-swapper/test/utils/test_helpers.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Add `CurveLiquidityProvider` and misc refactors
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/external/ILiquidityProviderSandbox.sol
  contracts/zero-ex/contracts/src/external/LiquidityProviderSandbox.sol
  contracts/zero-ex/contracts/src/features/ILiquidityProviderFeature.sol
  contracts/zero-ex/contracts/src/features/LiquidityProviderFeature.sol
  contracts/zero-ex/contracts/src/liquidity-providers/CurveLiquidityProvider.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinZeroExBridge.sol
  contracts/zero-ex/contracts/src/vendor/ILiquidityProvider.sol
  contracts/zero-ex/contracts/test/TestCurve.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/liqudity-providers/curve_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/asset-swapper`: Fix compiler error on `ILiquidityProvider` call `@0x/protocol-utils`: Add VIP utils.
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/LiquidityProviderSampler.sol
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/protocol-utils/src/index.ts
  packages/protocol-utils/src/vip_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

`@0x/protocol-utils`: Update changelog
  packages/protocol-utils/CHANGELOG.json
Owners: @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Rebase and fix comiler warnings
  contracts/zero-ex/contracts/test/TestLiquidityProvider.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/asset-swapper`: Clean up curve VIP integration
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/protocol-utils`: tsdoc new functions
  packages/protocol-utils/src/vip_utils.ts
Owners: @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Add `CurveLiquidityProvider` and misc refactors (#127)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/external/ILiquidityProviderSandbox.sol
  contracts/zero-ex/contracts/src/external/LiquidityProviderSandbox.sol
  contracts/zero-ex/contracts/src/features/ILiquidityProviderFeature.sol
  contracts/zero-ex/contracts/src/features/LiquidityProviderFeature.sol
  contracts/zero-ex/contracts/src/liquidity-providers/CurveLiquidityProvider.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinZeroExBridge.sol
  contracts/zero-ex/contracts/src/vendor/ILiquidityProvider.sol
  contracts/zero-ex/contracts/test/TestCurve.sol
  contracts/zero-ex/contracts/test/TestLiquidityProvider.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/liqudity-providers/curve_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/LiquidityProviderSampler.sol
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/src/index.ts
  packages/protocol-utils/src/vip_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Changes to chore
  .gitignore
  packages/asset-swapper/src/utils/market_operation_utils/balancer_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/bancor_service.ts
  packages/asset-swapper/src/utils/market_operation_utils/comparison_price.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/cream_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/curve_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/kyber_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/multihop_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/path.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/src/utils/market_operation_utils/rate_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/shell_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/source_filters.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Add entry for SRA v3
  README.md
Owners: none

fix: added metrics for Swap runner (#481)
  src/runners/http_swap_service_runner.ts
Owners: none

prettier
  README.md
Owners: none

`@0x/contracts-zero-ex`: Export `CurveLiquidityProviderContract` `@0x/asset-swapper`: Add deployed `CurveLiquidityProvider` addresses
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

`@0x/contracts-zero-ex`: Export `CurveLiquidityProviderContract` (#144)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: Mirror Protocol tokens
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

added .tap to builder
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/token_adjacency_graph_builder.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: Mirror Protocol tokens (#142)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/token_adjacency_graph_builder.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

added alt indicative quote tests, minor fixes
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/alt_mm_implementation_utils.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

export alt MM market offering types
  packages/asset-swapper/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

altered alt market offering to have id instead of symbols
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/alt_mm_implementation_utils.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/contract-artifacts`: Update artifacts. `@0x/contract-wrappers`: Regenerate wrappers
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/Broker.json
  packages/contract-artifacts/artifacts/Coordinator.json
  packages/contract-artifacts/artifacts/CoordinatorRegistry.json
  packages/contract-artifacts/artifacts/DevUtils.json
  packages/contract-artifacts/artifacts/DummyERC20Token.json
  packages/contract-artifacts/artifacts/DummyERC721Token.json
  packages/contract-artifacts/artifacts/ERC1155Mintable.json
  packages/contract-artifacts/artifacts/ERC1155Proxy.json
  packages/contract-artifacts/artifacts/ERC20BridgeProxy.json
  packages/contract-artifacts/artifacts/ERC20Proxy.json
  packages/contract-artifacts/artifacts/ERC20Token.json
  packages/contract-artifacts/artifacts/ERC721Proxy.json
  packages/contract-artifacts/artifacts/ERC721Token.json
  packages/contract-artifacts/artifacts/Exchange.json
  packages/contract-artifacts/artifacts/Forwarder.json
  packages/contract-artifacts/artifacts/GodsUnchainedValidator.json
  packages/contract-artifacts/artifacts/IZeroEx.json
  packages/contract-artifacts/artifacts/MultiAssetProxy.json
  packages/contract-artifacts/artifacts/Staking.json
  packages/contract-artifacts/artifacts/StakingProxy.json
  packages/contract-artifacts/artifacts/StaticCallProxy.json
  packages/contract-artifacts/artifacts/WETH9.json
  packages/contract-artifacts/artifacts/ZRXToken.json
  packages/contract-artifacts/artifacts/ZrxVault.json
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/generated-wrappers/coordinator.ts
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
  packages/contract-wrappers/src/generated-wrappers/i_zero_ex.ts
Owners: @dorothy-zbornak, @mzhu25

fix doc gen
  packages/contract-wrappers/src/index.ts
Owners: @dorothy-zbornak, @mzhu25

Update artifacts and wrappers (#145)
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/Broker.json
  packages/contract-artifacts/artifacts/Coordinator.json
  packages/contract-artifacts/artifacts/CoordinatorRegistry.json
  packages/contract-artifacts/artifacts/DevUtils.json
  packages/contract-artifacts/artifacts/DummyERC20Token.json
  packages/contract-artifacts/artifacts/DummyERC721Token.json
  packages/contract-artifacts/artifacts/ERC1155Mintable.json
  packages/contract-artifacts/artifacts/ERC1155Proxy.json
  packages/contract-artifacts/artifacts/ERC20BridgeProxy.json
  packages/contract-artifacts/artifacts/ERC20Proxy.json
  packages/contract-artifacts/artifacts/ERC20Token.json
  packages/contract-artifacts/artifacts/ERC721Proxy.json
  packages/contract-artifacts/artifacts/ERC721Token.json
  packages/contract-artifacts/artifacts/Exchange.json
  packages/contract-artifacts/artifacts/Forwarder.json
  packages/contract-artifacts/artifacts/GodsUnchainedValidator.json
  packages/contract-artifacts/artifacts/IZeroEx.json
  packages/contract-artifacts/artifacts/MultiAssetProxy.json
  packages/contract-artifacts/artifacts/Staking.json
  packages/contract-artifacts/artifacts/StakingProxy.json
  packages/contract-artifacts/artifacts/StaticCallProxy.json
  packages/contract-artifacts/artifacts/WETH9.json
  packages/contract-artifacts/artifacts/ZRXToken.json
  packages/contract-artifacts/artifacts/ZrxVault.json
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/generated-wrappers/coordinator.ts
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
  packages/contract-wrappers/src/generated-wrappers/i_zero_ex.ts
  packages/contract-wrappers/src/index.ts
Owners: @dorothy-zbornak, @mzhu25

fix: Protocol fee in fee schedule
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

CHANGELOG
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

hack imports
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: Protocol fee in fee schedule (#146)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: RFQOrder fee schedule (#485)
  .github/workflows/deploy.yml
  package.json
  src/app.ts
  src/config.ts
  yarn.lock
Owners: none

`@0x/asset-swapper`: special case BNB in uni v1 sampler
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/UniswapSampler.sol
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

feat: Validate v4 limit orders
  packages/asset-swapper/contracts/test/TestNativeOrderSampler.sol
  packages/asset-swapper/test/contracts/native_order_sampler_test.ts
  packages/asset-swapper/test/dex_sampler_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: Validate v4 limit orders (#148)
  packages/asset-swapper/contracts/test/TestNativeOrderSampler.sol
  packages/asset-swapper/test/contracts/native_order_sampler_test.ts
  packages/asset-swapper/test/dex_sampler_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

`@0x/asset-swapper`: special case BNB in uni v1 sampler (#147)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/UniswapSampler.sol
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

feat: Intermediary Hop sampler
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/IntermediateSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/comparison_price.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_contract_operation.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/comparison_price_test.ts
  packages/asset-swapper/test/exchange_proxy_swap_quote_consumer_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/quote_report_generator_test.ts
  packages/asset-swapper/test/quote_simulation_test.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: cache control header (#487)
  src/middleware/cache_control.ts
  src/runners/http_sra_service_runner.ts
  src/runners/http_staking_service_runner.ts
  src/runners/http_swap_service_runner.ts
Owners: none

addressed minor comments
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/alt_mm_implementation_utils.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

updated changelog
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

got rid of unnecessary, large if-block, fixed the buy-sell assignment to be from the MM's perspective
  packages/asset-swapper/src/utils/alt_mm_implementation_utils.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: asset-swapper Fake Taker contract
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/FakeTaker.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/artifacts.ts
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/wrappers.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz
