Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

Create Sjenica1
  Sjenica1
Owners: none

fixed ci build i think
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.md
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Register transformERC20() and remove transformERC20Staging()
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/TransformERC20Feature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fixed linting issues
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Register transformERC20() and remove transformERC20Staging() (#355)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/TransformERC20Feature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

feat: Ftm (#773)
  package.json
  src/config.ts
  yarn.lock
Owners: none

fix: account for higher gas costs for wrap/unwrap on Fantom (#778)
  src/config.ts
  src/constants.ts
  src/services/swap_service.ts
Owners: none

feat: Only save 'full' quotes on quote report
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/quote_report_generator.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

add liquidity sources on Arbitrum
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

cleanup
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

further cleanup
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: Linting and tests
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/package.json
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_report_generator.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: More linting and tests
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

add notes in corresponding CHANGELOG.json files
  contracts/zero-ex/CHANGELOG.json
  packages/migrations/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

remove timestamp from changelog
  packages/migrations/CHANGELOG.json
Owners: @dorothy-zbornak, @mzhu25

chore: add OtcOrder feature to fullMigrateAsync (#350)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/migrations/FullMigration.sol
  contracts/zero-ex/src/migration.ts
  packages/contract-addresses/addresses.json
  packages/migrations/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  contracts/erc20/CHANGELOG.json
  contracts/erc20/CHANGELOG.md
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/CHANGELOG.md
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/utils/CHANGELOG.json
  contracts/utils/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.md
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.md
  packages/migrations/CHANGELOG.json
  packages/migrations/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Publish
  contracts/erc20/package.json
  contracts/test-utils/package.json
  contracts/treasury/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/protocol-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

`@0x/asset-swapper`: hack together basic sampler service integration
  packages/asset-swapper/package.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/quote_consumers/swap_quote_consumer.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/multihop_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/path.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/src/utils/market_operation_utils/rate_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_service_rpc_client.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/protocol_fee_utils.ts
  packages/asset-swapper/src/utils/quote_report_generator.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
  packages/asset-swapper/tsconfig.json
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: [Avalanche] Add Curve, CurveV2 and KyberDMM
  packages/asset-swapper/contracts/src/KyberDmmSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

CHANGELOG
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix missing file
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

lint
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: [Avalanche] Add Curve, CurveV2 and KyberDMM (#363)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/KyberDmmSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: Avalanche Curve and KyberDMM (#782)
  package.json
  yarn.lock
Owners: none

celo assetSwapper
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

celo api
  hardhat.config.js
  package.json
  src/config.ts
  yarn.lock
Owners: none

celo assetSwapper
  packages/contract-addresses/addresses.json
Owners: @dorothy-zbornak, @mzhu25

removed celo token from celo token list
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: Update documentation
  packages/asset-swapper/src/utils/quote_report_generator.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

added ubeMoola router
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Unify extended quote report
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_report_generator.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/asset-swapper`: use gasCost from sampler service
  packages/asset-swapper/package.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/quote_consumers/quote_consumer_utils.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/bancor_service.ts
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/comparison_price.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/multihop_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/balancer_sor_v2.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/balancer_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/balancer_v2_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/cream_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/pools_cache.ts
  packages/asset-swapper/src/utils/market_operation_utils/rate_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_contract_operation.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_service_rpc_client.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_report_generator.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

cleanup
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: Lint
  packages/asset-swapper/src/utils/quote_report_generator.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/asset-swapper`: Handle per-fill gas cost correctly in more places
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/path.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Prevent EP ETH balance from reducing when executin mtxs
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
  contracts/zero-ex/contracts/test/TestMetaTransactionsTransformERC20Feature.sol
  contracts/zero-ex/test/features/meta_transactions_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

mostly working api
  src/services/swap_service.ts
Owners: none

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25
