Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

changes to yarn.lock
  yarn.lock
Owners: none

prettier
  contracts/zero-ex/test/features/native_orders_feature_test.ts
  contracts/zero-ex/test/utils/orders.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

update docs
  docs/basics/events.rst
  docs/basics/functions.rst
  docs/basics/orders.rst
Owners: none

update comments on cancel functions, small tweaks to docs
  contracts/zero-ex/contracts/src/features/interfaces/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersCancellation.sol
  docs/basics/events.rst
  docs/basics/functions.rst
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Cull paths which cannot improve price
  packages/asset-swapper/src/utils/market_operation_utils/path.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fixes and rename
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/path.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fixed bug on getEIP712TypedData(), remove unused contract
  contracts/zero-ex/contracts/test/GetTypeHash.sol
  packages/protocol-utils/src/orders.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix: cache misses due to case sensitivity [BUG - do not merge] (#545)
  src/services/postgres_rfqt_firm_quote_validator.ts
  test/quote_validator_test.ts
Owners: none

add balancer v2
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeProtocols.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinBalancerV2.sol
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/cream_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/balancer_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/balancer_v2_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/cream_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/pools_cache.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/utils/mock_balancer_pools_cache.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fetch balancer v2 pools from subgraph
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/balancer_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/balancer_v2_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/pools_cache.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/pools_cache_test.ts
  packages/protocol-utils/src/transformer_utils.ts
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: BalancerV2Sampler implementation issues, works on Kovan
  packages/asset-swapper/contracts/src/BalancerV2Sampler.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

feat: initial stab at a Balancer V2 Sampler WIP
  packages/asset-swapper/contracts/src/BalancerV2Sampler.sol
  packages/asset-swapper/contracts/src/interfaces/IBalancerV2Vault.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

feat: add sampling for buys and fix build issues WIP [untested]
  packages/asset-swapper/contracts/src/BalancerV2Sampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

hacks: perf tests
  packages/asset-swapper/package.json
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/test/perf/encode_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: BalancerV2 sampling boilerplate
  packages/asset-swapper/contracts/src/BalancerV2Sampler.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: update Balancer V2 mainnet address
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: consolidate differences between the 2 working branches
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: use mainnet Balancer V2 subgraph
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: stack too deep by minimizing and inline Balancer V2 vault interface
  packages/asset-swapper/contracts/src/BalancerV2Sampler.sol
  packages/asset-swapper/contracts/src/interfaces/IBalancerV2Vault.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: initial stab at a Balancer V2 Sampler WIP
  packages/asset-swapper/contracts/src/BalancerV2Sampler.sol
  packages/asset-swapper/contracts/src/interfaces/IBalancerV2Vault.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

feat: add sampling for buys and fix build issues WIP [untested]
  packages/asset-swapper/contracts/src/BalancerV2Sampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: use mainnet Balancer V2 subgraph
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: BalancerV2 sampling boilerplate
  packages/asset-swapper/contracts/src/BalancerV2Sampler.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: BalancerV2Sampler implementation issues, works on Kovan
  packages/asset-swapper/contracts/src/BalancerV2Sampler.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix: update Balancer V2 mainnet address
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: stack too deep by minimizing and inline Balancer V2 vault interface
  packages/asset-swapper/contracts/src/BalancerV2Sampler.sol
  packages/asset-swapper/contracts/src/interfaces/IBalancerV2Vault.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: consolidate differences between the 2 working branches
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: enable logging with request id (#531)
  package.json
  src/handlers/swap_handlers.ts
  src/logger.ts
  src/middleware/error_handling.ts
  src/utils/quote_report_utils.ts
  yarn.lock
Owners: none

add API key to quote report logs (#548)
  src/handlers/swap_handlers.ts
  src/services/meta_transaction_service.ts
  src/utils/quote_report_utils.ts
Owners: none

Chore: adding xSigma liquidity source
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: address review comments and clean up
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinBalancerV2.sol
  packages/asset-swapper/contracts/src/BalancerV2Sampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

export token-metadata to shared lib (#549)
  package.json
  src/config.ts
  src/handlers/meta_transaction_handlers.ts
  src/handlers/swap_handlers.ts
  src/services/meta_transaction_service.ts
  src/services/swap_service.ts
  src/token_metadatas_for_networks.ts
  src/utils/address_utils.ts
  src/utils/price_comparison_utils.ts
  src/utils/token_metadata_utils.ts
  test/price_comparison_utils_test.ts
  test/swap_test.ts
  yarn.lock
Owners: none

fix: sampler vault interface and pools cache assuming a pool has swaps
  packages/asset-swapper/contracts/src/BalancerV2Sampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/balancer_v2_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

got rid of unnecessary contract
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersSettlement.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

address more review comments
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinBalancerV2.sol
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/balancer_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/balancer_v2_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/cream_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/pools_cache/pools_cache.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

chore: popular BSC Uniswap clones, Curve gas schedule update, Saddle BTC pool
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/PancakeSwapFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IPancakeSwapFeature.sol
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: PancakeSwap V2 integration
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/PancakeSwapFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IPancakeSwapFeature.sol
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: PancakeSwap 2 integration
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: TS type issues and add a comment about deadline argument
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinBalancerV2.sol
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

chore: tweak gas schedule for native orders down by 10K [MKR-1] (#551)
  src/config.ts
Owners: none

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25
