Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: Celo optics v2 intermediate tokens (#801)
  .github/workflows/deploy.yml
  package.json
  yarn.lock
Owners: none

feat: compressed requests (#795)
  Dockerfile
  package.json
  src/config.ts
  src/index.ts
  src/rpc_subprovider.ts
  src/runners/http_meta_transaction_service_runner.ts
  src/runners/http_rfqm_service_runner.ts
  src/runners/http_service_runner.ts
  src/runners/http_sra_service_runner.ts
  src/runners/http_swap_service_runner.ts
  src/runners/rfq_maker_balance_cache_runner.ts
  src/types.ts
  src/utils/provider_utils.ts
Owners: none

Add different chain contract
  contracts/zero-ex/contracts/src/features/UniswapV2ForkFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IUniswapV2ForkFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

address feedback from original PR
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/libs/LibERC721Order.sol
  contracts/zero-ex/contracts/src/fixins/FixinCommon.sol
  contracts/zero-ex/contracts/src/fixins/FixinERC721Spender.sol
  contracts/zero-ex/contracts/src/fixins/FixinTokenSpender.sol
  contracts/zero-ex/contracts/src/vendor/IFeeRecipient.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

chore: Enable Native orders on BSC/Polygon
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: don't try to create fills for 0 output samples
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: make sure to use the same sourcePathId for fills from same source
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: should be same sourcePathId within the same DexSample[]
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: negative adjusted output native orders causing undefined fills
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: split native orders into 13 samples to align with interpolation
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: add changelog entry for asset-swapper
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: don't create fills for 0 output samples and negative adjusted rate orders (#387)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: stop running rfqm tests in this repo (#805)
  package.json
Owners: none

PR number
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: Enable Curve ETH/CVX
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

pr number
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: Enable Curve ETH/CVX (#394)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: get better gas estimates on /price (#804)
  src/handlers/swap_handlers.ts
  src/services/swap_service.ts
Owners: none

chore: Curve ETH/CVX (#806)
  package.json
  yarn.lock
Owners: none

fix: bump asset swapper and use equispaced samples for rust router (#796)
  package.json
  src/config.ts
  yarn.lock
Owners: none

Update contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

address review feedback and improve order parameter naming
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC721OrdersFeature.sol
  contracts/zero-ex/test/features/erc721_orders_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Add batchCancel function
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Emit order fields in preSign
  contracts/zero-ex/contracts/src/features/ERC721OrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/IERC721OrdersFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Fix tests
  contracts/zero-ex/contracts/test/TestERC721OrderPresigner.sol
  contracts/zero-ex/contracts/test/TestFeeRecipient.sol
  contracts/zero-ex/test/features/erc721_orders_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix: remove unnecessary logs (#807)
  src/handlers/swap_handlers.ts
Owners: none

chore: enrich rfqt firm quote validator metrics with more labels (#787)
  src/services/postgres_rfqt_firm_quote_validator.ts
Owners: none

feat: refresh RFQt maker pairs from DB (#802)
  src/app.ts
  src/config.ts
  src/entities/RfqMakerPairs.ts
  src/entities/RfqMakerPairsUpdateTimeHash.ts
  src/entities/index.ts
  src/schemas/index.ts
  src/schemas/rfq_maker_config.json
  src/schemas/rfq_maker_config_list.json
  src/services/swap_service.ts
  src/utils/config_manager.ts
  src/utils/pairs_manager.ts
  src/utils/rfq_maker_db_utils.ts
Owners: none

feat: add migration scripts for maker API (#810)
  migrations/1638230050100-CreateRfqMakerPairsTable.ts
  migrations/1639527388617-PopulateRfqMakerPairsTable.ts
  migrations/1641933207280-CreateRfqMakerPairsUpdateTimeHashView.ts
  src/utils/pair_utils.ts
Owners: none

fix: bump @0x/api-utils to 0.0.2 (#808)
  package.json
  yarn.lock
Owners: none

fix: add missing entities to ormconfig (#811)
  src/ormconfig.ts
  test/quote_validator_test.ts
  test/rate_limiter_test.ts
  test/rfq_maker_balance_cache_test.ts
  test/rfqm_db_test.ts
  test/rfqm_test.ts
  test/utils/db_connection.ts
  test/utils/deployment.ts
  test/utils/rfq_blocked_address_utils_test.ts
Owners: none

chore: bump to @0x/token-metadata 0.1.14 (#812)
  package.json
  yarn.lock
Owners: none

fix: revert gas estimations on /price endpoints due to breaking change (#813)
  src/handlers/swap_handlers.ts
Owners: none

fix: revert pair automation (#814)
  migrations/1638230050100-CreateRfqMakerPairsTable.ts
  migrations/1639527388617-PopulateRfqMakerPairsTable.ts
  migrations/1641933207280-CreateRfqMakerPairsUpdateTimeHashView.ts
  src/app.ts
  src/config.ts
  src/entities/RfqMakerPairs.ts
  src/entities/RfqMakerPairsUpdateTimeHash.ts
  src/entities/index.ts
  src/ormconfig.ts
  src/schemas/index.ts
  src/schemas/rfq_maker_config.json
  src/schemas/rfq_maker_config_list.json
  src/services/swap_service.ts
  src/utils/config_manager.ts
  src/utils/pair_utils.ts
  src/utils/pairs_manager.ts
  src/utils/rfq_maker_db_utils.ts
  test/quote_validator_test.ts
  test/rate_limiter_test.ts
  test/rfq_maker_balance_cache_test.ts
  test/rfqm_db_test.ts
  test/rfqm_test.ts
  test/utils/db_connection.ts
  test/utils/deployment.ts
  test/utils/rfq_blocked_address_utils_test.ts
Owners: none

added synapse support
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25
