Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

chore: Component.finance, Smoothy.finance (mainnet + BSC), Saddle.finance, Curve open pools, adjusting gas schedule, fixing Shell buys
  packages/asset-swapper/contracts/src/ShellSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/bancor_service.ts
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/contracts/bridge_sampler_mainnet_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

chore: adding a Sampler for Smoothy.finance to only use whats in the contracts reserve
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/SmoothySampler.sol
  packages/asset-swapper/contracts/src/interfaces/ISmoothy.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

chore: adjusting gas schedule for BSC Smoothy
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: prettier
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: prettier
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

chore: Component.finance, Smoothy.finance, Saddle.finance, Curve open pools, Gas schedule [TKR-1] (#182)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/ShellSampler.sol
  packages/asset-swapper/contracts/src/SmoothySampler.sol
  packages/asset-swapper/contracts/src/interfaces/ISmoothy.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/bancor_service.ts
  packages/asset-swapper/src/utils/market_operation_utils/bridge_source_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/contracts/bridge_sampler_mainnet_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/src/transformer_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

clean up function documentation
  contracts/zero-ex/contracts/src/features/interfaces/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersInfo.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersSettlement.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  contracts/treasury/CHANGELOG.json
  contracts/treasury/CHANGELOG.md
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/CHANGELOG.md
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
  packages/migrations/CHANGELOG.json
  packages/migrations/CHANGELOG.md
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.md
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Publish
  contracts/integrations/package.json
  contracts/treasury/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-wrappers-test/package.json
  packages/migrations/package.json
  packages/protocol-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

[asset-swapper] add Native fee token on all chains
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

[asset-swapper] add Native fee token on all chains (#191)
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

added additional tests for batchCancelPairsWithSigner functions, added additional checks for events being emitted correctly
  contracts/zero-ex/test/features/native_orders_feature_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix typos in function documentation
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersCancellation.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix typo in function documentation
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersCancellation.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Fix asset-swapper test
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Fix asset-swapper test (#199)
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  contracts/integrations/package.json
  packages/asset-swapper/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: BSC [TKR-23] (#497)
  docker-compose-test.yml
  docker-compose.yml
  package.json
  src/app.ts
  src/config.ts
  src/errors.ts
  src/handlers/meta_transaction_handlers.ts
  src/handlers/swap_handlers.ts
  src/rpc_subprovider.ts
  src/services/swap_service.ts
  src/token_metadatas_for_networks.ts
  src/types.ts
  src/utils/price_comparison_utils.ts
  src/utils/service_utils.ts
  src/utils/token_metadata_utils.ts
  test/docker-compose-test.yml
  test/docker-compose.yml
  test/swap_test.ts
  tsconfig.json
  yarn.lock
Owners: none

`@0x/asset-swapper`: Apply slippage to FQT bridge orders
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
  packages/asset-swapper/tslint.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

review comments
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix error handling (#537)
  src/middleware/error_handling.ts
  src/services/websocket_service.ts
Owners: none

Apply slippage to non-native orders [TKR-39] (#198)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
  packages/asset-swapper/tslint.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

only set Last Look parameter if it's explicitly set
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  contracts/integrations/package.json
  packages/asset-swapper/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: New API key structure (#539)
  src/config.ts
  src/schemas/api_key_schema.json
  src/schemas/index.ts
  test/parse_utils_test.ts
Owners: none

remove expoectation of having isLastLook
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

only set Last Look parameter if it's explicitly set (#200)
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

optional last look parameter (#540)
  package.json
  yarn.lock
Owners: none

Remove 10 days from protocol fees docs
  docs/basics/protocol_fees.rst
Owners: none

Remove 10 days from protocol fees docs (#202)
  docs/basics/protocol_fees.rst
Owners: none

[asset-swapper] Support Ropsten testnet
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

[asset-swapper] Support Ropsten testnet (#203)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  contracts/integrations/package.json
  packages/asset-swapper/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: don't allow matcha to skip validation of firm quotes (#544)
  src/config.ts
  src/handlers/swap_handlers.ts
Owners: none

first pass at Taker Signed RFQ order
  contracts/zero-ex/contracts/src/errors/LibNativeOrdersRichErrors.sol
  contracts/zero-ex/contracts/src/features/NativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/interfaces/INativeOrdersEvents.sol
  contracts/zero-ex/contracts/src/features/interfaces/INativeOrdersFeature.sol
  contracts/zero-ex/contracts/src/features/libs/LibNativeOrder.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersInfo.sol
  contracts/zero-ex/contracts/src/features/native_orders/NativeOrdersSettlement.sol
  contracts/zero-ex/contracts/src/storage/LibNativeOrdersStorage.sol
  contracts/zero-ex/contracts/test/GetTypeHash.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/native_orders_feature_test.ts
  contracts/zero-ex/test/utils/orders.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/protocol-utils/src/orders.ts
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

added test code for gas cost estimation
  contracts/zero-ex/package.json
  contracts/zero-ex/test/features/native_orders_feature_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

remove unnecessary log line
  contracts/zero-ex/test/features/native_orders_feature_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25
