Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

address some comments
  contracts/treasury/contracts/src/IZrxTreasury.sol
  contracts/treasury/contracts/src/ZrxTreasury.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

remove debug code
  contracts/treasury/test/treasury_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

address more pr comments
  .gitignore
  contracts/test-utils/src/types.ts
  contracts/treasury/contracts/src/IZrxTreasury.sol
  contracts/treasury/contracts/src/ZrxTreasury.sol
  contracts/treasury/src/votes.ts
  contracts/treasury/test/treasury_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

bump utils version
  contracts/treasury/contracts/src/ZrxTreasury.sol
  contracts/treasury/package.json
  contracts/treasury/src/votes.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

unit test for castVoteBySignature p3
  contracts/treasury/contracts/src/IZrxTreasury.sol
  contracts/treasury/contracts/src/ZrxTreasury.sol
  contracts/treasury/src/votes.ts
  contracts/treasury/test/treasury_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Address comments and fix existing tests
  contracts/treasury/contracts/src/ZrxTreasury.sol
  contracts/treasury/test/treasury_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

unit test for castVoteBySignature p1
  contracts/treasury/src/votes.ts
  contracts/treasury/test/treasury_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Address pr comments and update changelogs
  contracts/treasury/CHANGELOG.json
  contracts/treasury/contracts/src/ZrxTreasury.sol
  contracts/treasury/test/treasury_test.ts
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/src/index.ts
  packages/protocol-utils/src/treasury_votes.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

feat: Aave aToken deposit/withdrawal [TKR-111] (#293)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeProtocols.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAaveV2.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/noop_samplers/AaveV2Sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/aave_reserves_cache.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_no_operation.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/src/transformer_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: first stab at a CompoundSampler implementation
  packages/asset-swapper/contracts/src/CompoundSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: MixinCompound implementation WIP
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCompound.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/contracts/src/CompoundSampler.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

refactor: clean up code and add comments in cToken cache
  packages/asset-swapper/src/utils/market_operation_utils/compound_ctoken_cache.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: handle minting and redeeming of cETH
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCompound.sol
  packages/asset-swapper/src/utils/market_operation_utils/compound_ctoken_cache.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

chore: add changelog entries
  contracts/zero-ex/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.json
  packages/protocol-utils/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: adjust Compound gas schedule
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: MixinCompound check allowance on WETH withdrawal & fix indentation
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCompound.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix: decimals scaling in CompoundSampler
  packages/asset-swapper/contracts/src/CompoundSampler.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

feat: Compound integration with cache WIP
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeProtocols.sol
  packages/asset-swapper/contracts/src/CompoundSampler.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/compound_ctoken_cache.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/protocol-utils/src/transformer_utils.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: address review comments and clean up code
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinCompound.sol
  packages/asset-swapper/contracts/src/CompoundSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/compound_ctoken_cache.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Refactor integrator ID and add Prometheus metrics
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Update packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Update packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Update packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Added documentation and fixed some minor requests
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Added more metrics
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

more docs
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

lint fix
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

added new Integrator ID addition
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

refactor tests
  packages/asset-swapper/test/utils/test_helpers.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: Refactor integrator ID and add Prometheus metrics (#322)
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/quote_requestor_test.ts
  packages/asset-swapper/test/utils/test_helpers.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Refactor new types
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: WIP sampler service client
  packages/asset-swapper/src/rpc_sampler_client.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_types.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/dex_sampler_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: Remove API key whitelist field (#323)
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Updated CHANGELOGS & MD docs
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Support cast vote by signature in ZrxTreasury (#297)
  .gitignore
  contracts/treasury/CHANGELOG.json
  contracts/treasury/contracts/src/IZrxTreasury.sol
  contracts/treasury/contracts/src/ZrxTreasury.sol
  contracts/treasury/test/treasury_test.ts
  packages/protocol-utils/CHANGELOG.json
  packages/protocol-utils/package.json
  packages/protocol-utils/src/index.ts
  packages/protocol-utils/src/treasury_votes.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Mocked RFQ
  packages/asset-swapper/src/utils/rfqt_mocker.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Mocked RFQ
  packages/asset-swapper/src/utils/rfqt_mocker.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25
