Repository 0xProject/protocol, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25, @abandeali1, @hysz

`@0x/contracts-zero-ex`: Update changelog
  contracts/zero-ex/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

allow for msg.value to be used for more than just the protocol fee
  contracts/zero-ex/contracts/src/fixins/FixinProtocolFees.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

use updated doc gen tools and configs
  doc-gen-config.json
  package.json
  packages/protocol-types/docs/reference.mdx
  packages/protocol-types/package.json
Owners: @dorothy-zbornak, @mzhu25

add protocol fees fixin (#2)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/external/FeeCollector.sol
  contracts/zero-ex/contracts/src/features/libs/LibTokenSpender.sol
  contracts/zero-ex/contracts/src/fixins/FixinProtocolFees.sol
  contracts/zero-ex/contracts/src/vendor/v3/IStaking.sol
  contracts/zero-ex/contracts/test/TestProtocolFees.sol
  contracts/zero-ex/contracts/test/TestStaking.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/protocol_fees_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

disable `@0x/protocol-utils` doc gen because it's broken
  package.json
Owners: none

update `monorepo-scripts` to next major version
  package.json
  yarn.lock
Owners: none

added linting fix
  packages/asset-swapper/src/utils/quote_report_generator.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

added small lints
  packages/asset-swapper/src/utils/quote_report_generator.ts
  packages/asset-swapper/test/quote_report_generator_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

better syntax
  packages/asset-swapper/src/utils/quote_report_generator.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

`@0x/protocol-utils`: Fix deps
  packages/protocol-utils/package.json
Owners: @dorothy-zbornak, @mzhu25

fix: fixing kovan by disabling all sources except UniswapV2 (#396)
  package.json
  src/config.ts
  yarn.lock
Owners: none

`@0x/protocol-utils`: add more revert errors
  packages/protocol-utils/src/revert-errors/index.ts
  packages/protocol-utils/src/revert-errors/utils/authorizable_revert_errors.ts
  packages/protocol-utils/src/revert-errors/utils/lib_address_array_revert_errors.ts
  packages/protocol-utils/src/revert-errors/utils/lib_bytes_revert_errors.ts
  packages/protocol-utils/src/revert-errors/utils/ownable_revert_errors.ts
  packages/protocol-utils/src/revert-errors/utils/reentrancy_guard_revert_errors.ts
  packages/protocol-utils/src/revert-errors/utils/safe_math_revert_errors.ts
Owners: @dorothy-zbornak, @mzhu25

update tools dependencies
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  package.json
  packages/asset-swapper/package.json
  packages/contract-artifacts/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
  packages/protocol-types/package.json
  packages/protocol-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

pin `contracts-test-utils` deps across every contract package except zero-ex
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/protocol-utils`: update deps to latest `@0x/contracts-zero-ex`: Switch to using `@0x/protocol-utils` in tests. Regenerate yarn.lock
  contracts/zero-ex/src/index.ts
  contracts/zero-ex/test/allowance_target_test.ts
  contracts/zero-ex/test/features/liquidity_provider_test.ts
  contracts/zero-ex/test/features/meta_transactions_test.ts
  contracts/zero-ex/test/features/ownable_test.ts
  contracts/zero-ex/test/features/signature_validator_test.ts
  contracts/zero-ex/test/features/simple_function_registry_test.ts
  contracts/zero-ex/test/features/token_spender_test.ts
  contracts/zero-ex/test/features/transform_erc20_test.ts
  contracts/zero-ex/test/flash_wallet_test.ts
  contracts/zero-ex/test/full_migration_test.ts
  contracts/zero-ex/test/initial_migration_test.ts
  contracts/zero-ex/test/lib_token_spender_test.ts
  contracts/zero-ex/test/transformer_deployer_test.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/transformers/transformer_base_test.ts
  contracts/zero-ex/test/transformers/weth_transformer_test.ts
  contracts/zero-ex/test/zero_ex_test.ts
  packages/protocol-utils/package.json
  packages/protocol-utils/src/index.ts
  packages/protocol-utils/src/revert-errors/exchange-proxy/index.ts
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

update more deps
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-wrappers/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

update tools deps to highest add custom doc gen config
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  doc-gen-config.json
  package.json
  packages/asset-swapper/package.json
  packages/contract-artifacts/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

remove phantom package in manifest
  package.json
Owners: none

Fix broken tools deps (#20)
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  doc-gen-config.json
  package.json
  packages/asset-swapper/package.json
  packages/contract-artifacts/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

fix: Support Multiple Shells
  contracts/asset-proxy/contracts/src/bridges/ShellBridge.sol
  contracts/utils/contracts/src/DeploymentConstants.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAdapterAddresses.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinShell.sol
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  packages/asset-swapper/contracts/src/ShellSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/multibridge_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/shell_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

CHANGEGLOG
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix: Support Multiple Shells (#17)
  contracts/asset-proxy/contracts/src/bridges/ShellBridge.sol
  contracts/utils/contracts/src/DeploymentConstants.sol
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAdapterAddresses.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinShell.sol
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/ShellSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/multibridge_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/shell_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

Update README.md
  README.md
Owners: none

fix: Support multiple Shell pools (#404)
  package.json
  yarn.lock
Owners: none

fix: [WIP] Adds RFQ price-aware comparison price to Quote Report (#18)
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/quote_report_generator.ts
  packages/asset-swapper/test/quote_report_generator_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Allow injection of RFQT quote hooks
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

upgrades asset swapper (#405)
  package.json
  yarn.lock
Owners: none

`@0x/contracts-zero-ex`: Add `LibSignature` library
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/errors/LibSignatureRichErrors.sol
  contracts/zero-ex/contracts/src/features/libs/LibSignature.sol
  contracts/zero-ex/contracts/test/TestLibSignature.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/src/index.ts
  contracts/zero-ex/src/revert_errors.ts
  contracts/zero-ex/src/signature_utils.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/lib_signature_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

`@0x/contracts-zero-ex`: Update package.json scripts
  contracts/zero-ex/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

EP: Add `LibSignature` library (#21)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/errors/LibSignatureRichErrors.sol
  contracts/zero-ex/contracts/src/features/libs/LibSignature.sol
  contracts/zero-ex/contracts/test/TestLibSignature.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/src/index.ts
  contracts/zero-ex/src/revert_errors.ts
  contracts/zero-ex/src/signature_utils.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/lib_signature_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

FIXES affiliate address param not being passed for mtx v1 swaps (#407)
  src/handlers/meta_transaction_handlers.ts
  src/types.ts
Owners: none

Remove QuoteObserver
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Remove unnecessary `async`
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: [asset-swapper] more hops via token adjacency
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/multihop_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/dex_sampler_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

fix lint
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/multihop_utils.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

CHANGELOG
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

feat: [asset-swapper] more hops via token adjacency (#24)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/multihop_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506, @dekz, @dorothy-zbornak, @mzhu25

Publish
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/asset-swapper/package.json
  packages/contract-artifacts/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506, @dekz

feat: Additional hops and fixed depth decimals (#412)
  package.json
  src/config.ts
  src/handlers/swap_handlers.ts
  src/services/swap_service.ts
  src/types.ts
  yarn.lock
Owners: none

fix: Aave to token registry (#410)
  src/token_metadatas_for_networks.ts
Owners: none

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/ @BMillman19 @fragosti @dave4506 @dekz @dorothy-zbornak @mzhu25

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @dorothy-zbornak @mzhu25
packages/contract-artifacts/ @dorothy-zbornak @mzhu25
packages/contract-wrappers/ @dorothy-zbornak @mzhu25
packages/contract-wrappers-test/ @dorothy-zbornak @mzhu25
packages/order-utils/ @dorothy-zbornak @mzhu25
packages/protocol-utils/ @dorothy-zbornak @mzhu25
packages/protocol-types/ @dorothy-zbornak @mzhu25
packages/migrations/ @dorothy-zbornak @mzhu25

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25
